.dpDiv {

}
.dpTable 
{
	BORDER-RIGHT: #333333 1px solid;
	BORDER-TOP: #333333 1px solid;
	FONT-SIZE: 12px;
	BORDER-LEFT: #333333 1px solid;
	COLOR: #505050;
	BORDER-BOTTOM: #333333 1px solid;
	FONT-FAMILY: Arial;
	BACKGROUND-COLOR: #CCCCCC;
	TEXT-ALIGN: center; margin-left:-100px;
}
.dpTR
{

}
.dpTitleTR 
{

}
.dpDayTR
{

}
.dpTodayButtonTR 
{

}
.dpTD 
{
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #333333
}
.dpDayHighlightTD
{
	BORDER-RIGHT: #CCCCCC 1px solid;
	BORDER-TOP: #CCCCCC 1px solid;
	BORDER-LEFT: #CCCCCC 1px solid;
	BORDER-BOTTOM: #CCCCCC 1px solid;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;	
	BACKGROUND-COLOR: #FFFFFF;
}
.dpTDHover 
{
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	CURSOR: pointer;
	COLOR: #333333;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;	
	BACKGROUND-COLOR: #FFFFFF
}
.dpTitleTD 
{

}
.dpButtonTD {

}
.dpTodayButtonTD 
{

}
.dpDayTD 
{
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	COLOR: #333333;
	BORDER-BOTTOM: #666666 1px solid;
	BACKGROUND-COLOR: #FFFFFF
	
}
.dpTitleText 
{
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000
}
.dpDayHighlight 
{
	FONT-WEIGHT: bold; COLOR: #666666
}
.dpButton 
{
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	BACKGROUND: #CCCCCC;
	PADDING-BOTTOM: 0px;
	COLOR: #333333;
	PADDING-TOP: 0px;
	FONT-FAMILY: Arial
	CURSOR: pointer;
}
.dpTodayButton 
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	BACKGROUND: #CCCCCC;
	COLOR: #333333;
	FONT-FAMILY: Arial
	CURSOR: pointer;
}
