<h1>Listing economic_sectors</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @economic_sectors.each do |economic_sector| %>
      <tr>
        <td><%= link_to 'Show', economic_sector %></td>
        <td><%= link_to 'Edit', edit_economic_sector_path(economic_sector) %></td>
        <td><%= link_to 'Destroy', economic_sector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Economic sector', new_economic_sector_path %>
