<div class="service-online-popover-content" service_id="<%= @service.id %>">	
	<div class="promotion-popover">
		<div class="promotion-popover-title">

		</div>
		<div>
			<p>Obtén un <%= @service.discount.to_s %>% de descuento pagando en línea en cualquier horario.</p>
		</div>
	</div>
</div>