<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Nuevo Servicio</h2>
      <p>Acá podrás agregar nuevos servicios a tu empresa. Los servicios generados son válidos para todos los locales de tu compañía.</p>
    </div>
  </div>
</div>

<%= render 'form' %>

<% content_for :scripts do %>
  <%= javascript_include_tag "service" %>
<% end %>
