/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}

div.main {
  margin-bottom: 0;
}
section {
  padding-top: 30px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
  border-color: #53565A;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: #00e99f;
}
.featurette-heading span.text-muted {
    color: #646464;
}
.lead {
  color: #646464;
  letter-spacing: -1px;
}
section.green-background h2.featurette-heading {
  color: #646464;
}
section.green-background h2.featurette-heading span.text-muted {
  color: #ffffff;
}
section.green-background p.lead {
  color: #ffffff;
}
.laptop-maxheight {
  max-height: 458px;
}
.mobile-maxheight {
  max-height: 312px;
}
.half-tablet-maxheight {
  /*max-height: 162px;*/
}
.row-padded {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .featurette-heading {
    font-size: 36px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 20px;
  }
}