<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_display.name %>
</p>

<%= link_to 'Edit', edit_product_display_path(@product_display) %> |
<%= link_to 'Back', product_displays_path %>
