//====== Result ======//
function loadSchedule(local) {
  var id = $(local).data('location');
  $.getJSON('/schedule', {local: id}, function (schedule) {
    var schedule_text = $(local).children('p:last').text();
    $.each(schedule, function (day, hour) {
      if (hour.open) {
        schedule_text += day.substring(0,2) + ' - ';
      }
    });
    $(local).children('p:last').text(schedule_text.substr(0 , schedule_text.length - 2));
  });
}

function changeLatLong (district_id) {
  $.getJSON('/get_direction', {id: district_id}, function (address) {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address' : address[0] }, function (results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        $('#latitude').val(results[0].geometry.location.lat());
        $('#longitude').val(results[0].geometry.location.lng());
      }
    });
  });
  //====== Session Storage
  if (typeof(Storage) !== "undefined") {
    sessionStorage.district = district_id;
  }
  $('#district').val(district_id);
}

//====== Geolocation ======//
function decode (position) {
  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  geocoder.geocode({'latLng': latlng}, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[1]) {
        var address = results[1].formatted_address;
        var district = address.substring(0, address.indexOf(','));
        $('#district').attr('disabled', true);
        $('#inputSearcht').attr('disabled', true);
        $('button').attr('disabled', true);
        $.getJSON('/district_by_name', {name: district}, function (district) {
          if (district) {
            $('#district').val(district.id);

            $('#latitude').val(position.coords.latitude);
            $('#longitude').val(position.coords.longitude);

            //====== Session Storage
            if (typeof(Storage) !== "undefined") {
              sessionStorage.district = district.id;
              sessionStorage.manual = null;
            }
          }
          else {
            myAlert.showAlert(
              '<h3>Hubo un error en el proceso de localización.</h3>' +
              '<p>No te pudimos ubicar. Revisa que tengas señal GPS o que hayas dado permiso en el navegador.</p>'
            );
          }
        });
      }
    }
    else {
      myAlert.showAlert(
        '<h3>Hubo un error en el proceso de localización.</h3>' +
        '<p>No te pudimos ubicar. Revisa que tengas señal GPS o que hayas dado permiso en el navegador.</p>'
      );
    }
    $('#district').removeAttr('disabled');
    $('#inputSearcht').removeAttr('disabled');
    $('button').removeAttr('disabled');
  });
}

function locationError (error) {
  if (typeof(Storage) !== "undefined") {
    changeLatLong(sessionStorage.district)
    myAlert.showAlert(
      '<h3>Hubo un error en el proceso de localización.</h3>' +
      '<p>Se utilizará la última ubicación disponible.</p>'
    );
  }
  else {
    myAlert.showAlert(
      '<h3>Hubo un error en el proceso de localización.</h3>' +
      '<p>Se utilizará la comuna de Las Condes para realizar las búsquedas.</p>'
    );
    changeLatLong(1);
  }
}

//====== Load ======//
var myAlert;
$(function() {
  $('#district').change(function (event) {
    var district_id = $(event.target).val();
    changeLatLong(district_id);
  });

  myAlert = new Alert();

  //Valor por defecto
  if (typeof(Storage) !== "undefined") {
    if (!sessionStorage.manual) {
      sessionStorage.district = 1;
    }
    changeLatLong(sessionStorage.district);
  }

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(decode, locationError);
  }

  $('a.overlay').click( function () {
    if ($(this).data('search')) {
      $('#inputSearch').val($(this).data('search'));
      $('form').trigger('submit');
    };
  });

  $.each($('.bloque-local'), function (key, local) {
    if ($(local).data('location')) {
      loadSchedule(local);
    };
  });
});