function loadSchedule (id) {
  $.getJSON('/schedule', {local: id}, function (schedule) {
    $.each(schedule, function (day, hour) {
      if (hour.open) {
        $('#schedule-body').append(
          '<li class="list-group-item">' +
            day + ': ' +  getHour(hour.open) + ' - ' + getHour(hour.close) +
          '</li>'
        );
      }
    })
  });
}

function getHour (str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

function loadServices (localId) {
  $.getJSON('/local_services', {location: localId}, function (categorized_services) {
    $.each(categorized_services, function (key, service_hash) {
      if (service_hash.services.length > 0) {
        var servicesHTML = '';
        $.each(service_hash.services, function (key, service) {
          servicesHTML += '<option value="' + service.id + '">' + service.name + '</option>';
        });
        $('#service').append(
          '<optgroup label="' + service_hash.category + '">' + servicesHTML + '</optgroup>'
        );
      };
    });
    $('#service').change(function (event) {
      var serviceId = $(event.target).val();
      loadProviders(localId, serviceId);
    });
  });
}

function loadProviders (localId, serviceId) {
  if (serviceId) {
    $.getJSON('/providers_services', {id: serviceId, local: localId}, function (providers) {
      $('#provider').attr('disabled', true);
      $('#provider').empty();
      if ($('#providerPreference').data('provider-preference') != 2) {
        $.each(providers, function (key, provider) {
          $('#provider').append(
            '<option value="' + provider.id + '">' + provider.public_name + '</option>'
          );
        });
      }

      if ($('#providerPreference').data('provider-preference') != 1) {
        $('#provider').prepend(
          '<option value="0">Sin Preferencia</option>'
        );

        $('#datepicker').attr('disabled', false);
        datepicker('#datepicker', {
          format: 'dddd d !de mmmm !de yyyy',
          min: true,
          klass: {
            input: 'datepicker'
          },
          onSet: function (context) {
            $('.btn-block').attr('disabled', false);
          }
        });
      }
      else {
        $('#provider').prepend(
          '<option value="0">Selecciona un prestador</option>'
        );
        $('#provider').one('change', function (event) {
          $('#provider option:first').remove();
        });
        $('#provider').change(function (event) {
          var minDate = new Date($('#timeInterval').data('min'));
          var maxDate = new Date($('#timeInterval').data('max'));

          $('#datepicker').attr('disabled', false);
          datepicker('#datepicker', {
            format: 'dddd d !de mmmm !de yyyy',
            min: minDate,
            max: maxDate,
            klass: {
              input: 'datepicker'
            },
            onSet: function (context) {
              $('.btn-block').attr('disabled', false);
            }
          });
        });
      }
      $('#provider').attr('disabled', false);
    });
  } else{
    $('#provider').attr('disabled', true);
    $('#datepicker').attr('disabled', true);
  };
}

function addBooking (date, start, end, provider, has_time_discount, time_discount, has_discount, discount, service_promo_id) {
  selected = true;
  $('#start').val(generateDate(date, start));
  $('#end').val(generateDate(date, end));
  $('#staff').val(provider);
  $("#has_time_discount").val(has_time_discount);
  $("#time_discount").val(time_discount);
  $("#has_discount").val(has_discount);
  $("#discount").val(discount);
  $("#service_promo_id").val(service_promo_id);
}

function generateDate(date, time) {
  var year = date.substring(0, date.indexOf('-'));
  var month = date.substring(date.indexOf('-') + 1, date.lastIndexOf('-'));
  var day = date.substring(date.lastIndexOf('-') + 1);

  time += ':00';

  return year + '-' + month + '-' + day + ' ' + time;
}

$(document).ready(function(){

  $("#selectHourNextBtn").on('click', function(){

    selects = [];
    selects.push({
      service: $("#service").val(),
      provider: $("#provider").val()
    });

    $("#serviceStaff").val(JSON.stringify(selects));

    $("#selectHourForm").submit();

  });

});
