<h1>Horarios de Staff</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @staff_times.each do |staff_time| %>
      <tr>
        <td><%= link_to staff_time.staff.first_name+" "+staff_time.day.name, staff_time %></td>
        <td><%= link_to 'Editar', edit_staff_time_path(staff_time) %></td>
        <td><%= link_to 'Eliminar', staff_time, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Horario de Staff', new_staff_time_path %>
