<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_method_type.name %>
</p>

<%= link_to 'Edit', edit_payment_method_type_path(@payment_method_type) %> |
<%= link_to 'Back', payment_method_types_path %>
