<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
  <tbody class="mcnImageBlockOuter">
    <tr>
      <td valign="top" style="padding:9px" class="mcnImageBlockInner">
        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
          <tbody>
            <tr>
              <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                <%= image_tag "https://gallery.mailchimp.com/542f2957e9b5d351a6230de51/images/2d74b340-16d1-41ef-9eb4-a903b34609cf.png", align: "center", width: "564", style: "max-width:613px; padding-bottom: 0; display: inline !important; vertical-align: bottom;", class: "mcnImage" %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
  <tbody class="mcnTextBlockOuter">
    <tr>
      <td valign="top" class="mcnTextBlockInner">
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
          <tbody>
            <tr>
              <td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #E01F1F;">
                <h1 class="mc-toc-title" style="text-align: center;">
                  <span style="color:#ea4451">
                    <span style="font-size:24px">
                      <strong>Bienvenida a HoraChic</strong>
                    </span>
                  </span>
                </h1>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
  <tbody class="mcnTextBlockOuter">
    <tr>
      <td valign="top" class="mcnTextBlockInner">
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnTextContentContainer">
          <tbody>
            <tr>
              <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;">
                <div style="text-align: justify;">
                  <span style="color: #202020;font-family: arial,helvetica neue,helvetica,sans-serif;font-size: 14px;line-height: 24px;text-align: justify;">Hola, <%= @user.full_name %>. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span>
                </div>
                <div>
                  <span style="color: #202020;font-family: arial,helvetica neue,helvetica,sans-serif;font-size: 14px;line-height: 24px;text-align: justify;">Te damos la bienvenida a HoraChic, el lugar donde podrás encontrar y reservar los mejores servicios.</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table align="right" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnTextContentContainer">
          <tbody>
            <tr>
              <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                <div style="text-align: justify;">
                  <span style="color: #202020;font-family: arial,helvetica neue,helvetica,sans-serif;font-size: 14px;line-height: 24px;">En HoraChic podrás reservar nuevas tendencias en cortes y colores, los mejores masajes relajantes y manicures. Además, tratamientos para poder estar &nbsp;<strong>¡siempre linda!</strong>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
  <tbody class="mcnDividerBlockOuter">
    <tr>
      <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
        <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EAEAEA;">
          <tbody>
            <tr>
              <td>
                <span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table class="mcnButtonBlock" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody class="mcnButtonBlockOuter">
    <tr>
      <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" class="mcnButtonBlockInner" valign="top" align="center">
        <table class="mcnButtonContentContainer" style="border-collapse: separate ! important;border-radius: 0px;background-color: #EE5E66;" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
            <tr>
              <td style="font-family: Arial; font-size: 16px; padding: 20px;" class="mcnButtonContent" valign="middle" align="center">
                <%= link_to "   Ver Promociones   ", "http://www.horachic.cl/deals", class: "mcnButton", title: "   Ver Promociones   ", target: "_blank", style: "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;" %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
  <tbody class="mcnTextBlockOuter">
    <tr>
      <td valign="top" class="mcnTextBlockInner">
        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnTextContentContainer">
          <tbody>
            <tr>
              <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                <div style="text-align: center;">
                  <span style="font-size:14px">¿Aún no sabes qué reservar? ¡Aprovecha de ver nuestras promociones!</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
  <tbody class="mcnDividerBlockOuter">
    <tr>
      <td class="mcnDividerBlockInner" style="min-width:100%; padding:18px;">
        <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top-width: 2px;border-top-style: solid;border-top-color: #EAEAEA;">
          <tbody>
            <tr>
              <td>
                <span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
