<div id="schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="scheduling">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <div class="slider">
          <div class="start" ng-hide="dc.currentStep == 1"></div>
          <div class="end" ng-hide="dc.currentStep == dc.maxSteps"></div>
        </div>

        <div class="step-container">
         <span class="hora"></span>
         Elige tu Hora
        </div>
        <div class="step-container last">
         <span class="datos"></span>
         Ingresa tus Datos
        </div>

      </div>

      <div class="modal-body">
        <!-- STEP 1 -->
        <div ng-show="dc.currentStep === 1" class="wrapper">
          <ng-include src="tc.templates.deals.step1"></ng-include>
        </div>
        <!-- END STEP 1 -->

        <!-- STEP 2 -->
        <div ng-show="dc.currentStep === 2" class="wrapper">
          <ng-include src="tc.templates.deals.step2"></ng-include>
        </div>
        <!-- END STEP 2 -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-gray" data-dismiss="modal">Cancelar</button>

        <button type="button" class="btn btn-gray" ng-hide="dc.currentStep == 1" ng-click="dc.setStep(-1);">◀ Atrás</button>

        <button type="button" class="btn btn-hora-chic md" ng-hide="dc.currentStep === dc.maxSteps" ng-click="dc.setStep(+1);">Siguiente ▶</button>

        <button type="button" class="btn btn-hora-chic md" ng-show="dc.currentStep === dc.maxSteps" ng-click="dc.submitBooking();">Reservar y Pagar</button>
      </div>
    </div>
  </div>
</div>
