//====== Load Steps ======//

function loadStep1 () {
	stepClick(1);
	if ($('[name="localRadio"]').is(':checked')) {
		$('#services-description').empty();
		$('#services-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		var localId = $('input[name=localRadio]:checked').val();
		$.getJSON('/local_services', {location: localId}, function (servicesArray) {
			var categories = new Array();	//Todos los servicios ordenados por categoria
			var services = new Array();		//Los servicios de una categoria especifica
			var category = 0;				//La categoria actual

			//====== Separacion de servicios por categoria
			$.each(servicesArray, function (key, service) {
				if (service.service_category_id != category) {
					if (category != 0) {
						categories.push(services);
					}
					services = new Array();
					category = service.service_category_id;
				}
				services.push(service);
			});
			categories.push(services);

			$('#services-selector').empty();
			
			//====== Escribiendo los servicios
			$.each(categories, function (key, service_category) {
				var category_id = service_category[key].id
				//====== Insertando acordeon
				$('#services-selector').append(
					'<div class="panel panel-default">' +
						'<div class="panel-heading">' +
							'<h4 class="panel-title">' +
								'<a data-toggle="collapse" data-parent="#services-selector" href="#collapse' + category_id + '" id="title' + category_id + '">Categoria</a>' +
							'</h4>' +
						'</div>' +
						'<div id="collapse' + category_id + '" class="panel-collapse collapse in">' +
							'<div class="panel-body">' +
								'<div id="services-selector' + category_id + '" class="radio">' +
									'<%= image_tag "ajax-loader.gif", :alt => "Loader" %>' +
								'</div>' +
							'</div>' +
						'</div>' +
					'</div>'
				);

				//====== Insertando nombre de la categoria
				$.getJSON('/category_name', {id: category_id}, function (category_name) {
					$('#title' + category_id).text(category_name.name);
				});

				//====== Insertando radiobuttons de servicios
				$.each(service_category, function (key, service) {
					if (key == 0) {
						$('#services-selector' + category_id).empty();
					}
					$('#services-selector' + category_id).append('<label>' +
							'<input type="radio" name="serviceRadio" value="' + service.id + '">' +
							'<p>' + service.name + '</p>' +
						'</label>'
					);
				});
			});

			$('[name="serviceRadio"]').on('click', function(event) {
				var serviceId = event.target.getAttribute('value');
				loadDescription(serviceId);
			});
		});
		return true;
	}
	return false;
}

function loadStep2 () {
	if($('[name="serviceRadio"]').is(':checked')){
		$('#staff-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		$('#message').show();
		$('.horario').hide();
		selected = false;
		var serviceId = $('input[name=serviceRadio]:checked').val();

		$.getJSON('/providers_services', {id: serviceId}, function (providers) {
			$('#staff-selector').empty();
			$.each(providers, function (key, provider) {
				$('#staff-selector').append('<label>' +
						'<input type="radio" name="staffRadio" value="' + provider.id + '">' +
						'<p>' + provider.public_name + '</p>' +
					'</label>'
				);
			});
			$('[name="staffRadio"]').on('click', function(event) {
				$('#message').hide();
				$('.horario').show();

				var data = {
					provider: event.target.getAttribute('value'),
					local: $('input[name=localRadio]:checked').val(),
					service: $('input[name="serviceRadio"]:checked').val()
				}
				var calendar = new Calendar('/locations/get_available_time.json', data);
				
				$(document).on('hourClick', function (e) {
					addBooking(e);
				});

				$(function () {
					$('#prev').click(function () {
						selected = false;
					});
					$('#next').click(function () {
						selected = false;
					});
					$('#today').click(function () {
						selected = false;
					});
				});
			});
		});
		return true;
	}
	myAlert.showAlert(
      '<h3>Seleccione un Servicio</h3>' +
      '<p>Debe elegir un servicio antes de poder continuar.</p>'
    );
	return false;
}

function loadStep3 () {
	if ($('[name="staffRadio"]').is(':checked')){
		if (selected) {
			$('#provider').val($('input[name=staffRadio]:checked').val());
			$('#service').val($('input[name=serviceRadio]:checked').val());
			$('#location').val($('input[name=localRadio]:checked').val());
			return true;
		}
		myAlert.showAlert(
	      '<h3>Seleccione un Horario</h3>' +
	      '<p>Debe elegir un horario antes de poder continuar.</p>'
	    );
		return false;
	}
	myAlert.showAlert(
      '<h3>Seleccione un Staff</h3>' +
      '<p>Debe elegir un staff para poder agendar un horario.</p>'
    );
	return false;
}

function finalize () {
	$('#submitBtn').click();
	return true;
}

//====== Load Info ======//

function loadDescription (serviceId) {
	$('#services-description').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/service', {id: serviceId}, function (service) {
		$('#services-description').html('');
		$('#services-description').html('<dl class="dl-horizontal"></dl>');
		$('.dl-horizontal').append('<dt>' + "Nombre" + '</dt><dd>' + service.name + '</dd>');
		$('.dl-horizontal').append('<dt>' + "Precio" + '</dt><dd>$' + service.price + '</dd>');
		$('.dl-horizontal').append('<dt>' + "Duración" + '</dt><dd>' + service.duration + ' Minutos</dd>');
		if(service.description) {
			$('.dl-horizontal').append('<dt>' + "Descripción" + '</dt><dd>' + service.description + '</dd>');
		}
	});
}

//====== Manage Booking ======//

var selected = false;

function addBooking (booking) {
	var today = new Date();
	today.setHours(23, 59, 59, 999);
	if (today < booking.objectDate) {
		selected = true;
		$('#start').val(generateDate(booking.date, booking.start));
		$('#end').val(generateDate(booking.date, booking.end));
	}
	else {
		selected = false;
		$('.hora-activo').addClass('hora-disponible').removeClass('hora-activo');
		myAlert.showAlert(
	      '<h3>Horario Invalido</h3>' +
	      '<p>La fecha/hora elegida es anterior a la fecha/hora actual.</p>'
	    );
	}
}

function generateDate(date, time) {
	var month = date.substring(0, date.indexOf('/'));
	var day = date.substring(date.indexOf('/') + 1, date.lastIndexOf('/'));
	var year = date.substring(date.lastIndexOf('/') + 1);

	time += ':00';

	return year + '-' + month + '-' + day + ' ' + time;
}