//====== Load Steps ======//

function loadStep1 () {
	$('#services-description').empty();
	$('#services-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	var localId = $('#selectedLocal').data('local').id;
	$.getJSON('/local_services', {location: localId}, function (servicesArray) {
		var categories = new Array();	//Todos los servicios ordenados por categoria
		var services = new Array();		//Los servicios de una categoria especifica
		var category = 0;				//La categoria actual

		//====== Separacion de servicios por categoria
		$.each(servicesArray, function (key, service) {
			if (service.service_category_id != category) {
				if (category != 0) {
					categories.push(services);
				}
				services = new Array();
				category = service.service_category_id;
			}
			services.push(service);
		});
		categories.push(services);

		$('#services-selector').empty();
		
		//====== Escribiendo los servicios
		$.each(categories, function (key, service_category) {
			var category_id = service_category[key].service_category_id;
			//====== Insertando acordeon
			$('#services-selector').append(
				'<div class="panel panel-default">' +
					'<div class="panel-heading">' +
						'<h3 class="panel-title" id="title' + category_id + '">categoria</h3>' +
					'</div>' +
					'<ul class="list-group" id="services-selector' + category_id + '">' +
						'<%= image_tag "ajax-loader.gif", :alt => "Loader" %>' +
					'</ul>' +
				'</div>'
			);

			//====== Insertando nombre de la categoria
			$.getJSON('/category_name', {id: category_id}, function (category_name) {
				$('#title' + category_id).text(category_name.name);
			});

			//====== Insertando radiobuttons de servicios
			$.each(service_category, function (key, service) {
				if (key == 0) {
					$('#services-selector' + category_id).empty();
				}
				$('#services-selector' + category_id).append(
					'<li class="list-group-item">' +
						'<div class="radio">' +
							'<label>' +
								'<input type="radio" name="serviceRadio" value="' + service.id + '">' +
								'<p>' + service.name + '</p>' +
							'</label>' +
						'</div>' +
					'</li>'
				);
			});
		});

		$('[name="serviceRadio"]').on('click', function(event) {
			var serviceId = event.target.getAttribute('value');
			loadDescription(serviceId);
		});
	});
}

function loadStep2 () {
	if($('[name="serviceRadio"]').is(':checked')){
		$('#staff-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		$('.horario').hide();
		selected = false;
		var serviceId = $('input[name=serviceRadio]:checked').val();

		$.getJSON('/providers_services', {id: serviceId}, function (providers) {
			$('#staff-selector').empty();
			$.each(providers, function (key, provider) {
				$('#staff-selector').append(
					'<li class="list-group-item">' +
						'<div class="radio">' +
                        	'<label>' +
                        		'<input type="radio" name="staffRadio" value="' + provider.id + '">' +
                        		'<p>' + provider.public_name + '</p>' +
                        	'</label>' +
						'</div>' +
                    '</li>'
				);
			});
			$('[name="staffRadio"]').on('click', function(event) {
				$('.horario').show();

				var data = {
					provider: event.target.getAttribute('value'),
					local: $('#selectedLocal').data('local').id,
					service: $('input[name="serviceRadio"]:checked').val()
				}
				var calendar = new Calendar('/get_available_time.json', data);
				
				$(document).on('hourClick', function (e) {
					addBooking(e);
				});

				$(function () {
					$('#prev').click(function () {
						selected = false;
					});
					$('#next').click(function () {
						selected = false;
					});
					$('#today').click(function () {
						selected = false;
					});
				});

				setTimeout(function () {
					$('#foo4').trigger('updateSizes');
				},300);
			});
		});
	}
}

function loadStep3 () {
	if ($('[name="staffRadio"]').is(':checked')){
		if (selected) {
			$('#provider').val($('input[name=staffRadio]:checked').val());
			$('#service').val($('input[name=serviceRadio]:checked').val());

			// Summary
			$('#summary').empty();
			$('#summary').append(
				'<tr>' +
					'<th>Local:</th>' +
					'<th>' + $('#selectedLocal').data('local').name + '</th>' +
				'</tr>' +
				'<tr>' +
					'<th>Servicio:</th>' +
					'<th>' + $('input[name=serviceRadio]:checked').next().html() + '</th>' +
				'</tr>' +
				'<tr>' +
					'<th>Staff:</th>' +
					'<th>' + $('input[name="staffRadio"]:checked').next().html() + '</th>' +
				'</tr>' +
				'<tr>' +
					'<th>Inicio:</th>' +
					'<th>' + $('#start').val() + '</th>' +
				'</tr>' +
				'<tr>' +
					'<th>Fin:</th>' +
					'<th>' + $('#end').val() + '</th>' +
				'</tr>'
			);
			return true;
		}
		myAlert.showAlert(
	      '<h3>Seleccione un Horario</h3>' +
	      '<p>Debe elegir un horario antes de poder continuar.</p>'
	    );
		return false;
	}
	myAlert.showAlert(
      '<h3>Seleccione un Staff</h3>' +
      '<p>Debe elegir un staff para poder agendar un horario.</p>'
    );
	return false;
}

var step = 1;
function scrollEvents (direction) {
	if (direction == 'next') {
		if (step == 1) {
			if(!$('[name="serviceRadio"]').is(':checked')) {
				myAlert.showAlert(
			      '<h3>Seleccione un Servicio</h3>' +
			      '<p>Debe elegir un servicio antes de poder continuar.</p>'
			    );
			    return false;
			}
			else {
				loadStep2();
				step = 2;
				return true;
			}
		}
		else {
			if(!$('[name="staffRadio"]').is(':checked')) {
				myAlert.showAlert(
			      '<h3>Seleccione un Staff</h3>' +
			      '<p>Debe elegir un staff para poder agendar un horario.</p>'
			    );
			    return false;
			}
			else {
				if(!selected) {
					myAlert.showAlert(
				      '<h3>Seleccione un Horario</h3>' +
				      '<p>Debe elegir un horario antes de poder continuar.</p>'
				    );
			    	return false;
				}
				else {
					loadStep3();
					step = 3;
					return true;
				}
			}
		}
	}
	else if (direction == 'prev') {
		return true;
	}
}

//====== Load Info ======//

function loadDescription (serviceId) {
	$('#services-description').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/service', {id: serviceId}, function (service) {
		$('#services-description').empty();
		$('#services-description').append(
			'<tr>' +
				'<th>Nombre:</th>' +
				'<th>' + service.name + '</th>' +
			'</tr>' +
			'<tr>' +
				'<th>Precio:</th>' +
				'<th>$' + service.price + '</th>' +
			'</tr>' +
			'<tr>' +
				'<th>Duración:</th>' +
				'<th>' + service.duration + '</th>' +
			'</tr>'
		);
		if(service.description) {
			$('#services-description').append(
				'<tr>' +
					'<th>Descripción:</th>' +
					'<th>' + service.description + '</th>' +
				'</tr>'
			);
		}
	});
}

//====== Manage Booking ======//

var selected = false;

function addBooking (booking) {
	var today = new Date();
	today.setHours(23, 59, 59, 999);
	if (today < booking.objectDate) {
		selected = true;
		$('#start').val(generateDate(booking.date, booking.start));
		$('#end').val(generateDate(booking.date, booking.end));
	}
	else {
		selected = false;
		$('.hora-activo').addClass('hora-disponible').removeClass('hora-activo');
		myAlert.showAlert(
	      '<h3>Horario Invalido</h3>' +
	      '<p>La fecha/hora elegida es anterior a la fecha/hora actual o no cumple el tiempo minimo requerido para agendar.</p>'
	    );
	}
}

function generateDate(date, time) {
	var month = date.substring(0, date.indexOf('/'));
	var day = date.substring(date.indexOf('/') + 1, date.lastIndexOf('/'));
	var year = date.substring(date.lastIndexOf('/') + 1);

	time += ':00';

	return year + '-' + month + '-' + day + ' ' + time;
}

var myAlert;
$(function () {
	myAlert  = new Alert('.main');
});