<div class="main">
	<section class="pricing_wrapper">
		<div class="container">
			<div class="well well-lg">
				<h3>Gracias</h3>
				<p>
					El email fue confirmado exitosamente. Ahora podra mandar emails desde esta cuenta.
				</p>
			</div>
		</div>
	</section>
</div>