<div class="main">
	<section class="pricing_wrapper">
		<div class="container">
			<br />
			<div class="well well-lg">
				<h3>Gracias</h3>
				<p>
					El e-mail fue confirmado exitosamente. Ahora podras mandar e-mails desde esta cuenta.
				</p>
			</div>
		</div>
	</section>
</div>