<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Edición de Grupo de Prestadores</h2>
      <p>Modifica el grupo seleccionad.</p>
    </div>
  </div>
</div>

<%= render 'form' %>
