//====== Result ======//

function loadSchedule(id) {
  $('#schedule-body' + id).html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
  $.getJSON('/schedule', {local: id}, function (schedule) {
    $('#schedule-body' + id).empty();
    $('#schedule-body' + id).append('<ul class="list-unstyled" id="list' + id + '"></ul>');
    $.each(schedule, function (day, hours) {
      if (hours.length) {
        $('#list' + id).append('<li id="' + day + '-' + id + '"><b>' + day + ' </b></li>');
        $.each(hours, function (pos, hour) {
          $('#' + day + '-' + id).append(getHour(hour.open) + '-' + getHour(hour.close) + ' ');
        })
      }
    })
  });
}

function getHour(str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

//====== Map ======//

function initializeMap(lat, lng, mapDiv) {
    var properties = {
        center: new google.maps.LatLng(lat, lng),
        zoom:   15,
        panControl: false,
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
        },
        mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false,
        mapTypeId:  google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById(mapDiv), properties);
}

function setMarker(latlng, local, n) {
    var marker;
    marker = new google.maps.Marker({
        position: latlng,
        map: map,
        icon: new google.maps.MarkerImage(
            "http://chart.googleapis.com/chart?chst=d_map_pin_letter_withshadow&chld="+ n + "|da4f49|FFFFFF",
            null, null, new google.maps.Point(0, 42))
    });
    marker.setMap(map);
    
    var infowindow = new google.maps.InfoWindow({
        content: local
    });
    google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
    });
}


//====== Load ======//

$(function() {
  var map;
  initializeMap(-33.413084, -70.592161, 'map');

  var i = 1;
  $.each($('#results').data('results'), function (key, local) {
    loadSchedule(local.id);
    var latLng = new google.maps.LatLng(local.latitude, local.longitude);
    setMarker(latLng, local.name, i);
    i++;
  });
});