//====== Result ======//

function loadSchedule(id) {
  $('#schedule-body' + id).html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
  $.getJSON('/schedule', {local: id}, function (schedule) {
    $('#schedule-body' + id).empty();
    $('#schedule-body' + id).append('<ul class="list-unstyled" id="list' + id + '"></ul>');
    $.each(schedule, function (day, hours) {
      if (hours.length) {
        $('#list' + id).append('<li id="' + day + '-' + id + '"><b>' + day + ' </b></li>');
        $.each(hours, function (pos, hour) {
          $('#' + day + '-' + id).append(getHour(hour.open) + '-' + getHour(hour.close) + ' ');
        })
      }
    })
  });
}

function getHour(str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

//====== Search ======//
function changeLocation (district_id) {
  $.getJSON('/getdistrict', {id: district_id}, function (district) {
    $('#span-location').html(district.name + '<i class="glyphicon glyphicon-chevron-right"></i>');
    $('#district').val(district.id);
  });
}

//====== Geolocation ======//
function decode (position) {
  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  geocoder.geocode({'latLng': latlng}, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[1]) {
        var address = results[1].formatted_address;
        var district = address.substring(0, address.indexOf(','));
        $.getJSON('/district_by_name', {name: district}, function (district) {
          $('#span-location').html(district.name + '<i class="glyphicon glyphicon-chevron-right"></i>');
          $('#district').val(district.id);
        });
      }
    }
  });
}

function locationError (error) {
  changeLocation(1);
}

//====== Load ======//

$(function() {
  $('#form-location').hide();

  $('#modalLocation').on('show.bs.modal', function (e) {
    $('#form-location').hide();
    $('#loader').show();
    $('#regions').prop('disabled','disabled');
    $('#cities').prop('disabled','disabled');
    $('#districts').prop('disabled','disabled');
    $.getJSON('/getcountries', function (countries) {
      $('#countries').empty();
      $.each(countries, function (key, country) {
        $('#countries').append('<option value="' + country.id + '">' + country.name + '</option>');
      });
      $('#form-location').show();
      $('#loader').hide();
    });
  });

  $('#countries').change(function (e) {
    $('#regions').prop('disabled','disabled');
    $('#cities').prop('disabled','disabled');
    $('#districts').prop('disabled','disabled');
    $.getJSON('/getregions', {country: $('#countries').val()}, function (regionss) {
      $('#regions').empty();
      $.each(regionss, function (key, region) {
        $('#regions').append('<option value="' + region.id + '">' + region.name + '</option>');
      });
      $('#regions').removeAttr("disabled");
    });
  });

  $('#regions').change(function (e) {
    $('#cities').prop('disabled','disabled');
    $('#districts').prop('disabled','disabled');
    $.getJSON('/getcities', {region: $('#regions').val()}, function (cities) {
      $('#cities').empty();
      $.each(cities, function (key, city) {
        $('#cities').append('<option value="' + city.id + '">' + city.name + '</option>');
      });
      $('#cities').removeAttr("disabled");
    });
  });

  $('#cities').change(function (e) {
    $('#districts').prop('disabled','disabled');
    $.getJSON('/getdistricts', {city: $('#cities').val()}, function (districts) {
      $('#districts').empty();
      $.each(districts, function (key, district) {
        $('#districts').append('<option value="' + district.id + '">' + district.name + '</option>');
      });
      $('#districts').removeAttr("disabled");
    });
  });

  $('#save').on('click', function () {
    var district = $('#districts').val();
    changeLocation(district);
    $('#modalLocation').modal('hide');
  });

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(decode, locationError);
  }
  else {
    changeLocation(1);
  }
});