//====== Result ======//
function loadSchedule(id) {
  $('#schedule-body' + id).html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
  $.getJSON('/schedule', {local: id}, function (schedule) {
    $('#schedule-body' + id).empty();
    $.each(schedule, function (day, hour) {
      if (hour.open) {
        $('#schedule-body' + id).append(
          '<tr>' +
            '<td class="dark-gray">' + day + ':</td>' +
            '<td class="light-gray">' + getHour(hour.open) + ' - ' + getHour(hour.close) + '</td>' +
          '</tr>'
        );
      }
    });
  });
}

function getHour(str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

//====== Search ======//
function changeLocation (district_id) {
  $('#search-bar').attr('disabled', true);
  $.getJSON('/get_district', {id: district_id}, function (district) {
    $('#span-location').html(district.name + ' <i class="fa fa-chevron-right"></i>');
    $('#district').val(district.id);
    $('#search-bar').removeAttr('disabled');

    //changeLatLong(district.id);

    //====== Session Storage
    if (typeof(Storage) !== "undefined") {
      sessionStorage.district = district.id;
    }
  });
}

function changeLatLong (district_id) {
  /*$.getJSON('/get_direction', {id: district_id}, function (address) {
    var geocoder = new google.maps.Geocoder();
    geocoder.geocode( { 'address' : address[0] }, function (results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        $('#latitude').val(results[0].geometry.location.lat());
        $('#longitude').val(results[0].geometry.location.lng());
        alert("changeLatLong " + $('#latitude').val() + " " + $('#longitude').val());
      }
    });
  });*/
}

//====== Geolocation ======//
function decode (position) {
  var geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  geocoder.geocode({'latLng': latlng}, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[1]) {
        var address = results[1].formatted_address;
        var district = address.substring(0, address.indexOf(','));
        $('#search-bar').attr('disabled', true);
        $.getJSON('/district_by_name', {name: district}, function (district) {
          if (district) {
            $('#span-location').html(district.name + ' <i class="fa fa-chevron-right"></i>');
            $('#district').val(district.id);

            $('#latitude').val(position.coords.latitude);
            $('#longitude').val(position.coords.longitude);
            //====== Session Storage
            if (typeof(Storage) !== "undefined") {
              sessionStorage.district = district.id;
            }
          }
          else {
            myAlert.showAlert(
              '<h3>Hubo un error en el proceso de localización.</h3>' +
              '<p>No te pudimos ubicar. Revisa que tengas señal GPS o que hayas dado permiso en el navegador.</p>'
            );
          }
        });
      }
    }
    else {
      myAlert.showAlert(
        '<h3>Hubo un error en el proceso de localización.</h3>' +
        '<p>No te pudimos ubicar. Revisa que tengas señal GPS o que hayas dado permiso en el navegador.</p>'
      );
    }
    $('#search-bar').removeAttr('disabled');
  });
}

function locationError (error) {
  if (typeof(Storage) !== "undefined") {
    changeLocation(sessionStorage.district)
    myAlert.showAlert(
      '<h3>Hubo un error en el proceso de localización.</h3>' +
      '<p>Se utilizará la última ubicación disponible.</p>'
    );
  }
  else {
    myAlert.showAlert(
      '<h3>Hubo un error en la localización.</h3>' +
      '<p>Se utilizará la comuna de Las Condes para realizar las búsquedas.</p>'
    );
    changeLocation(1);
  }
}

//====== Load ======//
var myAlert;
$(function() {
  $('.title-local').each(function () {
    var characters = $(this).text().length;
    if (characters > 50) {
      var porcentage = 0.25 * characters / 50.0;
      var size = parseFloat($(this).css('font-size')) * (1 - porcentage);
      $(this).css('font-size', (size < 14.0 ? 14 : size));
    };
  });

  myAlert = new Alert('.main');

  $('#save').on('click', function () {
    var district = $('#location_autocomplete').val();
    $.getJSON('/district_by_name', {name: district}, function (district) {
      if (district) {
        changeLocation(district.id);
      }
      else {
        myAlert.showAlert(
          '<h3>Hubo un error el proceso de localización.</h3>' +
          '<p>No fue posible encontrar tu comuna.</p>',
          function () {
            $('#modalLocation').modal('show');
          },
          'Buscar de nuevo'
        );
      }
    });
    $('#modalLocation').modal('hide');

    //====== Session Storage
    if (typeof(Storage) !== "undefined") {
      sessionStorage.manual = true;
    }
  });

  $('#geo').on('click', function() {
    $('#modalLocation').modal('hide');

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(decode, locationError);
    }
    else {
      myAlert.showAlert(
        '<h3>Hubo un error en el proceso de localización.</h3>' +
        '<p>Tu navegador no soporta geo-localización. Por favor actualízalo e intenta nuevamente.</p>'
      );
    }

    //====== Session Storage
    if (typeof(Storage) !== "undefined") {
      sessionStorage.manual = null;
    }
  });

  //Valor por defecto
  if (typeof(Storage) !== "undefined") {
    if (!sessionStorage.manual) {
      sessionStorage.district = 1;
    }
    changeLocation(sessionStorage.district);
  }

	$('a.pin-link').click(function(){
		if($(this).children(":first").hasClass("number-pin-gray"))
		{
			$(this).children(":first").removeClass("number-pin-gray");
			$(this).children(":first").addClass("number-pin-green");
		}
	});
	
	$('a.center-link').click(function(){
		var tab_id = $(this).attr("tab_id");
		$('.number-pin[tab_id='+tab_id+']').removeClass("number-pin-green");
		$('.number-pin[tab_id='+tab_id+']').addClass("number-pin-gray");
    $('a.pin-link').each(function(e){
      if($(this).attr("tab_id")!=tab_id)
      {
        $(this).trigger("click");
      }
    });
	});

  $('a.overlay').click( function () {
    if ($(this).data('search')) {
      $('#inputSearch').val($(this).data('search'));
      $('button[type="submit"]').trigger('click');
    };
  });
});
