<div id="schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="scheduling">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <div class="slider">
          <div class="start" ng-hide="sc.currentStep == 1"></div>
          <div class="end" ng-hide="sc.currentStep == sc.maxSteps"></div>
        </div>

        <div class="step-container">
         <span class="hora"></span>
         Elige tu Hora
        </div>
        <div class="step-container last">
         <span class="datos"></span>
         Ingresa tus Datos
        </div>

      </div>

      <div class="modal-body">
        <!-- STEP 1 -->
        <div ng-show="sc.currentStep === 1" class="wrapper">
          <ng-include src="tc.templates.show.step1"></ng-include>
        </div>
        <!-- END STEP 1 -->

        <!-- STEP 2 -->
        <div ng-show="sc.currentStep === 2" class="wrapper">
          <ng-include src="tc.templates.show.step2"></ng-include>
        </div>
        <!-- END STEP 2 -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-gray" data-dismiss="modal" ng-show="sc.currentStep == 1">+ Agregar Servicio</button>

        <button type="button" class="btn btn-gray" ng-hide="sc.currentStep == 1" ng-click="sc.setStep(-1);">◀ Atrás</button>

        <button type="button" class="btn btn-hora-chic md" ng-hide="sc.currentStep === sc.maxSteps" ng-click="sc.setStep(+1);">Siguiente ▶</button>

        <button type="button" class="btn btn-hora-chic md" ng-show="sc.currentStep === sc.maxSteps" ng-click="sc.submitBooking();">Reservar</button>
      </div>
    </div>
  </div>
</div>
