<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a AgendaPro, <%= @user.first_name %></h1>
    <p>
      Te has inscrito exitosamente en agendapro.co, para iniciar sesión debes hacerlo con el mail asociado a tu cuenta: <%= @user.email %>.<br>
    </p>
    <p>
      Para iniciar sesión debes acceder a: <%= @url %>.
    </p>
    <p>¡Gracias por inscribirte!</p>
  </body>
</html>