<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h2 id="title" class="text-green">Configuraciones</h2>
      <p id="description">Acá podrás editar las siguientes opciones:</p>
    </div>
  </div>
</div>

<%= render 'form' %>
