<h1>Configuración de Empresa</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_settings.each do |company_setting| %>
      <tr>
        <td><%= link_to company_setting.company.name, company_setting %></td>
        <td><%= link_to 'Editar', edit_company_setting_path(company_setting) %></td>
        <td><%= link_to 'Eliminar', company_setting, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Configuración de Empresa', new_company_setting_path %>
