<h1>Estados de Reserva</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= link_to status.name, status %></td>
        <td><%= link_to 'Editar', edit_status_path(status) %></td>
        <td><%= link_to 'Eliminar', status, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estado', new_status_path %>
