<!-- Chartkick se usa antes de q se carge la pagina -->
<script type="text/javascript">
  var Chartkick = {"language": "es"};
</script>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid" style="margin-top: 10px;">
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">

      <div class="row">
        <label for="from" class="col-sm-1 control-label">Desde:</label>
        <div class="col-sm-3">
          <input type="text" id="from" name="from" class="form-control option_select" value="<%= @start_date %>">
        </div>
        <label for="from" class="col-sm-1 control-label">Hasta:</label>
        <div class="col-sm-3">
          <input type="text" id="to" name="to" class="form-control option_select" value="<%= @end_date %>">
        </div>
        <div style="clear: both;">
        </div>
      </div>
    </div>

  </div>

  <div id="campaigns_div">

  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "admin/clients-campaigns" %>
<% end %>
