<div id="schedule" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="scheduling">
  <div class="modal-dialog" role="document" style="width: 90%">
    <div class="modal-content" style="border-radius: 0;">
      <div class="modal-header" style="padding:0; border-bottom: none; background-color: #C2C0BC; height: 40px; color: white;">

        <div class="slider">
          <div class="start" ng-hide="sc.currentStep == 1"></div>
          <div class="end" ng-hide="sc.currentStep == sc.maxSteps"></div>
        </div>

        <div style="width: 33.3%; padding: 10px 20px; left: 0; position: absolute; ">
         <span class="prestador" style="margin-right: 50px;"></span>
         Elige tu Prestador
        </div>
        <div style="width: 33.3%;padding: 10px 20px; left: 33.3%; position: absolute; ">
         <span class="hora" style="margin-right: 50px;"></span>
         Elige tu Hora
        </div>
        <div style="width: 33.3%;padding: 10px 20px; left: 66.6%; position: absolute;">
         <span class="datos" style="margin-right: 50px;"></span>
         Ingresa tus Datos
        </div>

      </div>
      <div class="modal-body" style="clear: both;padding: 30px;" ng-switch="sc.currentStep">
        <div class="wrapper" ng-switch-when="1">

          <div class="service-detail" style="margin: 20px 0;">
            <div>
              <strong id="title">{{ sc.serviceDetail.title }}</strong>
              <div class="pull-right" style="margin-bottom: 10px;">
                <span class="time-detailed" style="color: #C2C0BC; font-size: 0.9em">{{ sc.serviceDetail.time }}</span>
                 ${{ sc.serviceDetail.price }} <span>$</span>
              </div>
            </div>
            <p style="clear: both; text-align: justify;">
              {{ sc.serviceDetail.description }}
            </p>
          </div>

          <div id="prestadores" style="border: 1px solid black; margin: 10px;">
            <div style="padding: 10px; border-bottom: 1px solid black;">
              <strong>Elige tu Prestador</strong>
            </div>
            <div style="padding: 10px; display: inline-block; width: 100%;">

              <span style="width: 25%; float: left;" ng-repeat="provider in sc.serviceDetail.providers">
                <label style="font-weight: normal;"><input type="radio" name="provider" value="{{$index}}" ng-model="sc.selectedProvider" style="margin: 10px;"> {{ provider.name }}</label>
              </span>

            </div>
          </div>

        </div>

        <div class="wrapper" ng-switch-when="2">

          <div class="calendar">

          </div>
          <div class="reservation">

          </div>


        </div>
        <div class="wrapper" ng-switch-when="3">
          DATOS!
        </div>


      </div>
      <div class="modal-footer" style="border-top: none;">
        <button type="button" class="btn btn-gray" style="background-color: #949292; color: white; width: 140px;padding: 10px 12px;" data-dismiss="modal" ng-show="sc.currentStep == 1" ng-click="sc.addService();">+ Agregar Servicio</button>

        <button type="button" class="btn btn-gray" style="background-color: #949292; color: white; width: 140px;padding: 10px 12px;" ng-hide="sc.currentStep == 1" ng-click="sc.setStep(-1);">Atrás</button>

        <button type="button" class="btn btn-hora-chic" style="padding: 10px 12px; width: 140px;" ng-hide="sc.currentStep === sc.maxSteps" ng-click="sc.setStep(+1);">Siguiente ▸</button>

        <button type="button" class="btn btn-hora-chic" style="padding: 10px 12px; width: 140px;" ng-show="sc.currentStep === sc.maxSteps" ng-click="sc.schedule();">Reservar</button>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-header span.prestador::before{
    content: '1';
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    padding-left: 6px;
    color: #C2C0BC;
  }
  .modal-header span.hora::before{
    content: '2';
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    padding-left: 6.5px;
    color: #C2C0BC;
  }
  .modal-header span.datos::before{
    content: '3';
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    padding-left: 6px;
    color: #C2C0BC;
  }

  .modal-header .slider {
    background-color: #F26062;
    position: absolute;
    width: 31.4%;
    height: 40px;
    z-index: 0;
    left: 0; /* 33.3% & 66.7% */
  }

  .modal-header .slider .start {
    position: absolute;
    width: 28px;
    height: 28px;
    left: -14px;
    top: 6px;
    background-color: #C2C0BC;
    transform: rotate(45deg);
  }

  .modal-header .slider .end {
    position: absolute;
    width: 28px;
    height: 28px;
    right: -14px;
    top: 6px;
    background-color: #F26062;
    transform: rotate(45deg);
  }

</style>
