<div id="show" class="container" ng-controller="ShowController as sc">

  <div class="row">
    <div class="col-lg-12 title">
      <h3>Delicatta Hands</h3>
      <p><span></span> Cerro El Plomo 5680, Local 002, Las Condes</p>
    </div>
  </div>

  <div class="row">

    <!-- MAIN CONTENT -->
    <div id="main-content" class="col-xs-12 col-md-8 pull-left">
      <div class="info">
        <figure>
          <img src="http://www.todohabitat.es/img/empresas/3097_centro-de-estetica-form-studio.jpg" alt="">
        </figure>

        <div class="description">
          <section class="detail">
            <p>Multiespacio, Peluqueria, Manicure, Tratamientos Estéticos y capilaresm ropa y accesorios, Asesoria de imagen personal, Maquillaje y mas.</p>
          </section>

          <section class="time">
            <span><strong>Lun:</strong> 08:00 - 19:30</span>
            <span><strong>Mar:</strong> 08:00 - 19:30</span>
            <span><strong>Mie:</strong> 08:00 - 19:30</span>
            <span><strong>Jue:</strong> 08:00 - 19:30</span>
            <span><strong>Vie:</strong> 08:00 - 19:30</span>
            <span><strong>Sab:</strong> 08:00 - 19:30</span>
          </section>
        </div>

      </div>

      <div class="sub-menu text-center">
         <span><a href="#" class="active">Resumen</a></span>
         <span><a href="#">Servicios</a></span>
         <span ng-show="sc.showComments"><a href="#">Comentarios</a></span>
      </div>

      <button class="btn btn-down hidden-md hidden-lg btn-lg btn-hora-chic">Reservar</button>

      <div class="services">
        <div>Categorías</div>

        <section ng-repeat="category in sc.categories">

          <button class="btn btn-service" type="button" data-toggle="collapse" data-target="#category-{{ category.id }}" aria-expanded="false" aria-controls="category-{{ category.id }}">
            {{ category.name }}
          </button>

          <div id="category-{{ category.id }}" class="collapse clearfix category" style="background-color: white; color: black; font-size: 0.9em;">
              <div class="service-detail col-xs-12 col-md-6" style="padding: 8px; cursor: pointer; margin-bottom: 4px;" ng-repeat="service in category.services" ng-click="sc.selectService($parent.$index, $index);">
                <div>
                  <strong>{{ service.title }}</strong>
                  <div class="pull-right" style="margin-bottom: 10px;">
                    <span class="time-detailed" style="color: #A3A0A1; font-size: 0.9em">{{ service.time }}</span>
                     {{ service.price | currency | clp  }} <span>$</span>
                  </div>
                </div>
                <p style="clear: both; text-align: justify;">
                  {{ service.description }}
                </p>
                <div id="service-{{ service.id }}-options" style="display:none; position: absolute;width: 100%;bottom: 0;background-color: #F26062;color: white;left: 0;height: 0;text-align: center;">
                  <div style="height: 100%; display: table;">
                    <p style="display: table-cell; vertical-align: middle; text-align: center; width: 100%;" ng-click="sc.addService()">
                      <span class="add-service" style="margin-right: 10px; color:white;">+ Agregar</span>
                    </p>
                    <a href="#" class="close" style="color: white; opacity: 1; font-size: 16px; padding-right: 10px; padding-top: 5px;">x</a>
                  </div>
                </div>
              </div>
          </div>

        </section>

      </div>

      <div class="clear"></div>

      <ng-include src="tc.templates.comments"></ng-include>

    </div>
    <!-- END MAIN CONTENT -->


    <!-- SIDE CONTENT -->
    <div id="side-content" class="hidden-xs hidden-sm col-md-4 pull-right">

      <div id="evaluation" class="text-center" ng-show="sc.showComments">
        <div class="calification">
          <span class="number">5</span>
          <span class="stars"><span>☆☆☆☆☆</span> <br> 150 opiniones</span>
        </div>
        <div class="detailed">
          <span>Calidad <br> <span>☆☆☆☆☆</span></span>
          <span>Estilo <br> <span>☆☆☆☆☆</span></span>
          <span>Precio <br> <span>☆☆☆☆☆</span></span>
        </div>
      </div>

      <div id="map"></div>

      <div id="summary">

        <button class="btn btn-down hidden-xs hidden-sm btn-lg btn-hora-chic" ng-click="sc.schedule();">Agendar</button>

        <!-- Schedule Summary -->
        <div ui-sortable="sc.sortableOptions" ng-model="sc.servicesList">
          <div class="added-service" ng-repeat="selected in sc.servicesList track by $index">
            <section>
              <span class="delete" ng-click="sc.removeService($index);">x</span>
              <span class="service-title">{{ selected.title }}</span>
              <span class="pull-right handle">
                <i class="fa fa-bars"></i>
              </span>
            </section>
            <section>
              <span class="provider-name">
                <select style="border: 1px solid rgb(221, 221, 221); height: 35px; padding: 0px 12px; border-radius: 0px; color: rgb(102, 102, 102); /* -webkit-appearance: none; */ background-color: white;" ng-options="provider.name for provider in selected.providers track by provider.id" ng-model="selected.providerAssigned">
                  <option value="">Primero Disponible</option>
                </select>
              </span>
              <span class="time-detail">® {{ selected.time }}</span>
              <span class="pull-right" style="line-height: 35px; /* select height */">{{ selected.price | currency | clp }}</span>
            </section>
          </div>
        </div>
        <!-- End Schedule Summary -->

        <div class="clear" ng-hide="sc.total.price === 0"></div>

        <div class="text-center total" ng-hide="sc.total.price === 0">
          <p>Total: <span class="price">{{ sc.total.price | currency | clp }}</span> <span class="separator">|</span> <span>2 hrs 30 min</span></p>
        </div>

      </div>
    </div>
    <!-- END SIDE CONTENT -->

  </div>

  <ng-include src="tc.templates.schedule"></ng-include>

</div>


<style>
  .category .service-detail:hover{
    border: 2px solid #F26062;
    margin-bottom: 0 !important; /* Remove important in stylesheet */
  }

  .added-service.ng-enter,
  .added-service.ng-leave,
  .added-service.ng-move {
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
    position:relative;
  }

  .added-service.ng-enter {
    opacity:0;
  }
  .added-service.ng-enter.added-service.ng-enter-active {
    opacity:1;
  }

  .added-service.ng-leave {
    opacity:1;
  }
  .added-service.ng-leave.added-service.ng-leave-active {
    opacity:0;
  }

  .added-service.ng-move {
    opacity:0.5;
  }
  .added-service.ng-move.added-service.ng-move-active {
    opacity:1;
  }
</style>
