var currMarker;

var bookings = [];
var currentBooking = null;
var booking_buffer = [];

//====== Google Map ======//
function initializeMap(lat, lng, mapDiv) {
    var properties = {
        center: new google.maps.LatLng(lat, lng),
        zoom:   15,
        panControl: false,
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
        },
        mapTypeControl: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        scaleControl: false,
        streetViewControl: false,
        overviewMapControl: false,
        mapTypeId:  google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById(mapDiv), properties);
}

function setMarker(latlng, local) {

  if(currMarker!=null)
  {
    currMarker.setMap(null);
  }

  var image = '<%= asset_path("pin_googlemap.png") %>';

  var marker = new google.maps.Marker({
                position: latlng,
                icon: image
                /*new google.maps.MarkerImage(
            "http://chart.googleapis.com/chart?chst=d_map_pin_letter_withshadow&chld=|01e19d|FFFFFF",
            null, null, new google.maps.Point(0, 42))*/
              });
  currMarker = marker;
  marker.setMap(map);

  var infowindow = new google.maps.InfoWindow({
      content: local
    });
  google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
  });
}

function localMap(id) {
  $.getJSON('/local', {id: id}, function (local) {
    var latLng = new google.maps.LatLng(local.latitude, local.longitude);
    map.setCenter(latLng);
    setMarker(latLng, local.name);
  });
}


$(document).ready(function(){
  var map;
  initializeMap(-33.413084, -70.592161, 'map');

  if ($("#locationId").val() != "") {
    var localId = $("#locationId").val();

    //loadSchedule(localId);
    localMap(localId);
  }

  $("#selectProviderModal").on('show.bs.modal', function(e){
      $("#hours-selection-div").empty();
      loadAvailableHours($('#currentDate').val());
  });

  $('body').on('change', '#available_dates_select', function(){
      var date = $('#available_dates_select').val();
      loadAvailableHours(date);
  });

  $('body').on('change', '#providerOptimizerSelector', function(){
      var date = $('#available_dates_select').val();
      loadAvailableHours(date);
  });

  $('#backBtn').on('click', function(){
    var date = $('#available_dates_select').val();
    loadAvailableHours(date);
  });

  $(".promo-service-box").click(function(){
    console.log($(this).attr("service_id"));
    $('.show-promo-link[service_id="' + $(this).attr("service_id") + '"][location_id="' + $(this).attr("location_id") + '"]')[0].click();
  });

  $('body').on('click', '.available-hour', function(){
    $('.available-hour.selected').removeClass('selected');
    $(this).addClass("selected");
    selectHour($(this));
  });

  $("#openPayFormBtn").on('click', function(){
    loadPaymentForm();
  });

  $("#payBtn").click(function(){

    $("#bookingForm").submit();
    
  });

});





var promoCalendar;

function simple_currency(price)
{
  var amount = Math.round(price).toString();
  //console.log(amount);
  //console.log(amount.length);
  var j = 0;
  var stack = new Array();
  for(i = amount.length-1; i>=0; i--)
  {
    j = j+1;
    stack.push(amount[i]);
    if(j == 3 && i>0)
    {
      stack.push('.');
      j = 0;
    }
  }
  var formatted_amount = "$";
  for(i = stack.length-1; i >=0 ; i--)
  {
    formatted_amount = formatted_amount + stack[i];
  }

  return formatted_amount;
}

function loadAvailableHours(date)
{

  //Reset selected hour
  currentBooking = null;
  booking_buffer = [];
  $('#payBtn').hide();
  $('#backBtn').hide();
  $('#openPayFormBtn').hide();
  $('#payment-form-div').hide();
  $('#optimizerFirst').show();

  var service_id = $("#serviceId").val();
  var location_id = $("#locationId").val();
  var service_provider_id = $("#providerOptimizerSelector").val();

  $("#hours-selection-div").empty();
  $("#loader-div").show();

  $.ajax({
    url: '/last_minute_hours',
    type: 'GET',
    data: {id: service_id, location_id: location_id, service_provider_id: service_provider_id, date: date},
    success: function(response){
      $("#loader-div").hide();
      $("#hours-selection-div").empty();
      $("#hours-selection-div").append(response);
    },
    error: function(response){
      $("#loader-div").hide();
      $("#hours-selection-div").empty();
      alert("Ocurrió un error.");
    }
  });
}

function selectHour(target)
{

  //Generate currentBooking
  addBooking(target);

}

function addBooking(target)
{

  var provider_lock = false;
  if(target.attr("provider") != "0")
  {
    provider_lock = true;
  }

  //Generate dates for booking
  currentBooking = {
    start: generateDate(target.attr("start")),
    end: generateDate(target.attr("end")),
    provider: target.attr("provider"),
    provider_name: target.attr("provider_name"),
    provider_lock: provider_lock,
    service: $('#serviceId').val(),
    service_name: $('#serviceName').val(),
    online_payable: true,
    has_discount: false,
    discount: parseInt($('#last_minute_discount').val()),
    price: $('#servicePrice').val(),
    show_price: true,
    has_sessions: false,
    sessions_amount: 0,
    must_be_paid_online: true,
    is_time_discount: false,
    service_promo_id: 0
  };

  $("#openPayFormBtn").attr("disabled", false);
  $("#openPayFormBtn").show();

}

function generateDate(time) {

  var date_arr = $('#available_dates_select').val().split("/");

  date = date_arr[2] + "-" + date_arr[1] + "-" + date_arr[0];

  time = time + ':00';

  return date + ' ' + time;
}

function loadPaymentForm()
{

  compose_name('#full_name', '#firstName', '#lastName');
  split_name('#full_name', '#firstName', '#lastName');

  if(currentBooking == null)
  {
    $("#booking-error").append("Debes elegir un horario antes de ir al siguiente paso.");
    return;
  }
  else
  {
    if(currentBooking.has_sessions)
    {
      $('#summary').empty();

      sessions_buffer.push(currentBooking);

      $('.bookings').val(JSON.stringify(sessions_buffer));

      var times_str = "";
      var price = currentBooking.price;
      var min_discount = currentBooking.discount; 

      for(i = 0; i < sessions_buffer.length; i++)
      {
        times_str = times_str + formattedTime(sessions_buffer[i].start) + ' con ' + sessions_buffer[i].provider_name + '.<br />';
        if(sessions_buffer[i].discount < min_discount)
        {
          min_discount = sessions_buffer[i].discount;
        }
      }

      $("#max_discount").val(min_discount);

      var discount_price = Math.round(price*(100 - min_discount)/100);
      sessions_str = "";

      if(sessions_buffer.length == 1)
      {
        sessions_str = 'Agendaste 1 sesión de un total de ' + currentBooking.sessions_amount;
      }
      else
      {
        sessions_str = 'Agendaste ' + sessions_buffer.length + ' sesiones de un total de ' + currentBooking.sessions_amount;
      }

      $('#summary').append(
        '<tr style="border-top: 0px !important;">' +
          '<td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>' +
          '<td style="border-top: 0px !important;" class="light-gray">' + currentBooking.service_name + '</td>' +
        '</tr>' +
        '<tr>' +
          '<td class="dark-gray">¿Dónde?</td>' +
          '<td class="light-gray">' + $('#locationAddress').val() + ', ' + $('#locationDistrict').val() + '</td>' +
        '</tr>'
      );

      $('#summary').append(
        '<tr>' +
          '<td class="dark-gray">¿Cuándo?</td>' +
          '<td class="light-gray">' + times_str + '</td>' +
        '</tr>' +
        '<tr>' +
          '<td class="dark-gray">Sesiones</td>' +
          '<td class="light-gray">' + sessions_str + '</td>' +
        '</tr>'
      );

      $('#summary').append(
        '<tr>' + 
          '<td class="dark-gray">Precio normal</td><td class="light-gray">' + simple_currency(price) + '</td>' +
        '</tr>' +
        '<tr>' +
          '<td class="dark-gray">Descuento</td><td class="light-gray">' + min_discount + '% </td>' +
        '</tr>' +
        '<tr>' +
          '<td class="dark-gray">Precio final</td><td class="light-gray">' + simple_currency(discount_price) + '</td>' +
        '</tr>'
      );  
    }
    else
    {
      $('#summary').empty();

      booking_buffer.push(currentBooking);

      var discount_price = Math.round(currentBooking.price*(100 - currentBooking.discount)/100);

      $('.bookings').val(JSON.stringify(booking_buffer));

      $('#summary').append(
        '<tr style="border-top: 0px !important;">' +
          '<td style="border-top: 0px !important;" class="dark-gray">¿Qué estoy reservando?</td>' +
          '<td style="border-top: 0px !important;" class="light-gray">' + currentBooking.service_name + '</td>' +
        '</tr>' +
        '<tr>' +
          '<td class="dark-gray">¿Dónde?</td>' +
          '<td class="light-gray">' + $('#locationAddress').val() + ', ' + $('#locationDistrict').val() + '</td>' +
        '</tr>'
      );

      $('#summary').append(
        '<tr>' +
          '<td class="dark-gray">¿Cuándo?</td>' +
          '<td class="light-gray">' + formattedTime(currentBooking.start) + ' con ' + currentBooking.provider_name + '</td>' +
        '</tr>'
      );

      $('#summary').append(
        '<tr>' + 
          '<td class="dark-gray">Precio normal</td><td class="light-gray">' + simple_currency(currentBooking.price) + '</td>' +
        '</tr>' +
        '<tr>' +
          '<td class="dark-gray">Descuento</td><td class="light-gray">' + currentBooking.discount + '% </td>' +
        '</tr>' +
        '<tr>' +
          '<td class="dark-gray">Precio final</td><td class="light-gray">' + simple_currency(discount_price) + '</td>' +
        '</tr>'
      );

    }
  }

  $('#optimizerFirst').hide();
  $("#payment-form-div").show();
  $("#openPayFormBtn").hide();
  $("#payBtn").show();

  $("#backBtn").attr("disabled", false);
  $("#backBtn").show();

  $("#payBtn").attr("disabled", false);
  $("#openPayFormBtn").attr("disabled", true);

}

function formattedTime (timestamp) {
  var dateString = timestamp;

  var s = new Date(dateString.substring(0, 4), parseInt(dateString.substring(5, 7)) - 1, dateString.substring(8, 10), dateString.substring(11, 13), dateString.substring(14, 16), 0);

  var weekday = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]

  var monthname = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

  var day = weekday[s.getDay()];
  var month = monthname[s.getMonth()];

  var formattedStart = day + " " + parseInt(timestamp.substring(8,10)) + " de " + month + " a las " + timestamp.substring(11,16);

  return formattedStart;
}