<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
</head>
<body>
  <table border="0" style="font-family: arial, sans-serif; border: 1px solid #ccc; width:100%;max-width: 800px ">
    <%= yield %>
  </table>
</body>
</html>
