<h1>Categorías de Servicios</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @service_categories.each do |service_category| %>
      <tr>
        <td><%= service_category.name %></td>
        <td>
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_service_category_path(service_category), :class => "btn btn-warning" %>
          <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, service_category, :class => "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="fa fa-plus"></i> Nueva Categoría de Servicios'.html_safe, new_service_category_path, :class => "btn btn-primary" %>
