<div class="main">
  <div class="container">
    <div clas="row" id="espacio-workflow">
      <div class="col-md-12">
        <div class="well">
          <h4>Cancelar Cita</h4>
          <% unless params[:id] %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">¿Seguro que deasea cancelar?</h3>
            </div>
            <div class="panel-body">
              <p>Si cancela su cita otra persona podrá utilizar la hora elegida.</p>
              <%= form_tag("/cancel_booking", method: "post", role: "form", class: "form-horizontal", id: "edit_form" ) do %>
                <input type="hidden" name="id" id="id" value="<%= @booking.id %>">
                <div class="form-group">
                  <div class="col-sm-offset-10 col-sm-2">
                    <button type="submit" class="btn btn-default">Cancelar</button>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% else %>
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Cita cancelada</h3>
            </div>
            <div class="panel-body">
              <p>Su cita fue cancelada.</p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_tag "div", id: "booking", data: {booking: @booking} do %>
<% end %>
