<%
	count_used = 0
	count_booked = 0
	count_unbooked = 0
	@sessionBooking.bookings.each do |booking|
		if booking.is_session_booked
			if DateTime.now < (booking.start.to_datetime - booking.service.company.company_setting.before_edit_booking.hours) && booking.max_changes > 0
				count_booked = count_booked + 1
			else
				count_used = count_used + 1
			end
		else
			count_unbooked = count_unbooked + 1
		end
	end
%>
<div>
	<% if @sessionBooking.bookings.first.payed %>
		<div class="row">
			<div class="col-md-12">
				<div class="sessions-summary-payed">
					<i class="fa fa-money"></i>&nbsp;Servicio pagado en línea
				</div>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-7">
			<div class="sessions-summary-title">Número de sesiones</div>
		</div>
		<div class="col-md-3">
			<i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= @sessionBooking.bookings.count.to_s %></span>
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-7">
			<div class="sessions-summary-title">Usadas</div>
		</div>
		<div class="col-md-3">
			<i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= count_used %></span>			
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-7">
			<div class="sessions-summary-title">Reservadas</div>
		</div>
		<div class="col-md-3">
			<i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= count_booked %></span>
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-7">
			<div class="sessions-summary-title">No reservadas</div>
		</div>
		<div class="col-md-3">
			<i class="fa fa-circle fa-2x fa-green"></i><span class="circle-number"><%= count_unbooked %></span>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>