<div class="container-fluid content-fill">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @company, html: {multipart: true} do |f| %>
        <div class="form-group has-feedback">
          <label class="text-center label-green col-md-12">Agrega tu Logotipo</label>
          <div class="col-md-2 col-md-offset-5">
            <%= f.file_field :logo, :accept => 'image/png,image/gif,image/jpeg', :class => 'form-control' %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group has-feedback">
          <label class="text-center label-green col-md-12">Agrega una Descripción de tu Empresa</label>
          <div class="col-md-6 col-md-offset-3">
            <%= f.text_area :description, class: 'form-control', rows: 10 %>
            <span class="help-block"></span>
            <span class="form-control-feedback"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-2 col-md-offset-5">
            <button class="btn btn-green btn-lg">Guardar</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
