<div class="content-fill">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-green">Nuevo Local</h2>
        <p class="text-center text-dark-green">Agrega todos tus locales</p>
      </div>
      <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
          <input type="text" class="form-control">
        </div>
        <div class="col-md-4 col-md-offset-4">
          <button class="btn btn-green btn-lg">Añadir Nuevo Local</button>
          <button class="btn btn-orange btn-lg">Listo</button>
        </div>
      </div>
    </div>
  </div>
</div>
