<div class="content-fill">
  <div class="container-fluid background-green">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">¿A qué te dedicas?</h2>
        <p class="text-center">Selecciona el rubro al que estás dedicado</p>
      </div>
    </div>
  </div>
</div>
