<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">E-mail a Clientes</h2>
      <p>Acá podrás enviarle e-mails a tus clientes contandole de tus servicios o promociones.</p>
    </div>
  </div>
  <div class="row">
    <%= render partial: "/clients/email/#{@tmpl}/index" %>
  </div>
</div>




