<h1>Nuevo Cliente</h1>

<h4>Acá podrás agregar nuevos clientes a tu empresa. Los clientes generados son válidos para todos los locales de tu compañía y, luego, estos se identifican con su email al crear reservas. </h4>

<%= render 'form' %>