<section class="background fill" id="home-cover-image" style="height: 500px; background-color: #646464; background-image: url(<%= asset_path 'search/fondo'+rand(2..11).to_s+'.png' %>);">
  <div class="container">
    <div class="row below-navbar">
      <div class="col-xs-12 col-md-9 col-lg-8">
        <h1>¡Comienza a <span>disfrutar</span><br>
        tu trabajo y no pierdas más tiempo!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-md-7 col-lg-6">
        <p>Con reservas en línea, recordatorios automáticos, y gestión de caja e inventario, tu vida será más fácil. Preocúpate de brindar el mejor servicio.</p>
        <h3>¡Nosotros nos encargamos del resto!</h3>
        <p><%= link_to '¡Comenzar Ahora!', new_user_registration_path(:company => true), :class => "btn btn-lg btn-green" %><%= link_to 'Más Información', features_path, :class => "btn btn-lg btn-transparent" %></p>
      </div>
    </div>
  </div>
</section>

<% content_for :scripts do %>
<script>
  $(function() {
      $("#c_home").addClass("active")
  });
</script>
<% end %>
