 //====== Load Steps ======//

function loadStep1 () {
	$('#services-description').empty();
	$('#services-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	var localId = $('#selectedLocal').data('local').id;
	var categoryCount = 0;
	$.getJSON('/local_services', {location: localId}, function (categorized_services) {
		$('#services-selector').empty();
		$.each(categorized_services, function (key, service_hash) {
			if (service_hash.services.length > 0) {
				var servicesHTML = '';
				categoryCount = categoryCount + 1;
				$.each(service_hash.services, function (key, service) {
					//====== Generando Radios
					servicesHTML +=
						'<li class="list-group-item">' +
							'<div class="radio">' +
								'<label>' +
									'<input type="radio" name="serviceRadio" value="' + service.id + '" data-outcall="'+service.outcall+'">' +
									'<p>' + service.name_with_small_outcall + '</p>' +
								'</label>' +
							'</div>' +
						'</li>';
				});

				//====== Insertando acordeon
				$('#services-selector').append(
					'<div class="panel panel-default">' +
						'<div class="panel-heading">' +
							'<h3 class="panel-title" data-toggle="collapse" data-parent="#services-selector" href="#body' + service_hash.id + '">' +
								'<a >' + service_hash.category + '</a>' +
							'</h3>' +
						'</div>' +
						'<div id="body' + service_hash.id + '" class="panel-collapse collapse">' +
							'<ul class="list-group" id="services-selector' + service_hash.id + '">' +
								servicesHTML +
							'</ul>' +
						'</div>' +
					'</div>'
				);
			};
		});

		var radios = $('input[name=serviceRadio]');
		radios.on('change', function() {
			radios.each(function() {
				var radio = $(this);
				radio.closest('.list-group-item')[radio.is(':checked') ? 'addClass' : 'removeClass']('selected-wf-option');
			});
		});

		$('[name="serviceRadio"]').on('click', function(event) {
			var serviceId = event.target.getAttribute('value');
			if ($(event.target).data('outcall') == true) {
				$('#outcallAddress').show();
			}
			else {
				$('#outcallAddress').hide();
			}
			$('#foo4').trigger('updateSizes');
			loadDescription(serviceId);
		});

		$('#foo4').trigger('updateSizes');

		$('.panel-group .panel-default').on('shown.bs.collapse', function (event) {
			$('#foo4').trigger('updateSizes');
		});
	 	if (categoryCount == 1) {
	 		$('.panel-collapse').addClass('in');
	 	}
	});
}

var calendar;
function loadStep2 () {
	if($('[name="serviceRadio"]').is(':checked')){
		$('#staff-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		$('.horario').hide();
		selected = false;
		var serviceId = $('input[name=serviceRadio]:checked').val();

		$.getJSON('/providers_services', {id: serviceId, local: $('#selectedLocal').data('local').id}, function (providers) {
			$('#staff-selector').empty();
			if ($('#providerPreference').data('provider-preference') != 1) {
				$('#staff-selector').append(
					'<li class="list-group-item">' +
						'<div class="radio">' +
							'<label>' +
								'<input type="radio" name="staffRadio" value="0">' +
								'<p>Sin Preferencia</p>' +
							'</label>' +
						'</div>' +
					'</li>'
				);
			}
			if ($('#providerPreference').data('provider-preference') != 2) {
				$.each(providers, function (key, provider) {
					$('#staff-selector').append(
						'<li class="list-group-item">' +
							'<div class="radio">' +
								'<label>' +
									'<input type="radio" name="staffRadio" value="' + provider.id + '">' +
									'<p>' + provider.public_name + '</p>' +
								'</label>' +
							'</div>' +
						'</li>'
					);
				});
			}

			$('[name="staffRadio"]').on('click', function(event) {
				$('.horario').show();

				if (event.target.getAttribute('value') == 0) {
					$('#provider_lock').val(false);
				}
				else {
					$('#provider_lock').val(true);
				}

				var data = {
					provider: event.target.getAttribute('value'),
					local: $('#selectedLocal').data('local').id,
					service: $('input[name="serviceRadio"]:checked').val()
				}

				if (calendar) {
					calendar.rebuild('/get_available_time.json', data);
				}
				else {
					calendar = new Calendar('/get_available_time.json', data);
				}

				$(document).on('hourClick', function (e) {
					addBooking(e);
				});

				$(function () {
					$('#prev').click(function () {
						selected = false;
					});
					$('#next').click(function () {
						selected = false;
					});
				});
			});

			if ($('#providerPreference').data('provider-preference') != 1) {
				$('[name="staffRadio"][value="0"]').prop("checked", true);
				$('[name="staffRadio"][value="0"]').closest('.list-group-item').addClass('selected-wf-option');
				$('.horario').show();
				$('#provider_lock').val(false);
				var data = {
					provider: "0",
					local: $('#selectedLocal').data('local').id,
					service: $('input[name="serviceRadio"]:checked').val()
				}

				if (calendar) {
					calendar.rebuild('/get_available_time.json', data);
				}
				else {
					calendar = new Calendar('/get_available_time.json', data);
				}
				$(document).on('hourClick', function (e) {
					addBooking(e);
				});

				$(function () {
					$('#prev').click(function () {
						selected = false;
					});
					$('#next').click(function () {
						selected = false;
					});
				});
			}

			var radios = $('input[name=staffRadio]');
			radios.on('change', function() {
				radios.each(function() {
					var radio = $(this);
					radio.closest('.list-group-item')[radio.is(':checked') ? 'addClass' : 'removeClass']('selected-wf-option');
				});
			});
		});
	}
}

function loadStep3 () {
	if ($('#clientExclusive').data('client-exclusive')) {
		$('#identificationNumber').show();
	}
	else {
		$('#identificationNumber').hide();
	}
	if ($('[name="staffRadio"]').is(':checked')){
		if (selected) {
			checkUserCrossBookings();

			// $('#provider').val($('input[name=staffRadio]:checked').val());
			$('#service').val($('input[name=serviceRadio]:checked').val());

			// Summary
			$('#summary').empty();

			$('#summary').append(
				'<tr>' +
					'<th>¿Qué estoy reservando?</th>' +
					'<th>' + $('input[name=serviceRadio]:checked').next().html() + '</th>' +
				'</tr>' +
				'<tr>' +
					'<th>¿Dónde?</th>' +
					'<th>' + $('#selectedLocal').data('local').address + ', ' + $('#selectedLocal').data('district') + '</th>' +
				'</tr>' +
				'<tr>' +
					'<th>¿Con quién?</th>' +
					'<th>' + $('input[name="staffRadio"]:checked').next().html() + '</th>' +
				'</tr>' +
				'<tr>' +
					'<th>¿Cuándo?</th>' +
					'<th>' + formattedTime($('#start').val()) + '</th>' +
				'</tr>'
			);
			return true;
		}
		swal({
      title: "Selecciona un Horario",
      text: "Debes elegir un horario antes de poder continuar.",
      type: "error"
    });
		return false;
	}
	swal({
    title: "Selecciona un Staff",
    text: "Debes elegir in staff para poder reservar.",
    type: "error"
  });
	return false;
}

function checkUserCrossBookings () {
	$(".alert").alert('close');
	var user = $('#user_id').val();
	var booking_start = $('#start').val();
	var booking_end = $('#end').val();
	$.getJSON('/check_user_cross_bookings', {user_id: user, booking_start: booking_start, booking_end: booking_end}, function (result) {
		if (result.crossover) {
			var warning = '<div class="alert alert-warning alert-dismissable fade in" style="margin-bottom: 0px;">' +
								'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
								'<strong>¡Advertencia!</strong> Tienes agendado <em>' + result.booking.service + '</em> con <em>' + result.booking.service_provider + '</em> el <em>' + formattedTime(result.booking.start) + '</em>.' +
							'</div>';
			$('#warning').append(warning);
		};
	});
}

var step = 1;
function scrollEvents (direction) {
	if (direction == 'next') {
		if (step == 1) {
			if(!$('[name="serviceRadio"]').is(':checked')) {
				swal({
	        title: "Selecciona un Servicio",
	        text: "Debes elegir un servicio antes de poder continuar.",
	        type: "error"
	      });
				return false;
			}
			else {
				loadStep2();
				step = 2;
				return true;
			}
		}
		else {
			if(!$('[name="staffRadio"]').is(':checked')) {
				swal({
	        title: "Selecciona un Staff",
	        text: "Debes elegir un staff para poder reservar.",
	        type: "error"
	      });
				return false;
			}
			else {
				if(!selected) {
					swal({
		        title: "Selecciona un Horario",
		        text: "Debes elegir un horario antes de poder continuar.",
		        type: "error"
		      });
					return false;
				}
				else {
					loadStep3();
					step = 3;
					return true;
				}
			}
		}
	}
	else if (direction == 'prev') {
		return true;
	}
}

//====== Load Info ======//

function loadDescription (serviceId) {
	$('#services-description').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/service', {id: serviceId}, function (service) {
		$('#services-description').empty();
		$('#services-description').append(
			'<tr>' +
				'<th>Nombre:</th>' +
				'<th>' + service.name + '</th>' +
			'</tr>'
		);
		if (service.show_price && service.price && service.price > 0) {
			$('#services-description').append(
				'<tr>' +
					'<th>Precio:</th>' +
					'<th>$ ' + service.price.toLocaleString() + '</th>' +
				'</tr>'
			);
		}
		else if (service.show_price && service.price == 0) {
			$('#services-description').append(
				'<tr>' +
					'<th>Precio:</th>' +
					'<th>¡Gratis! - Confirmar Promoción en Local</th>' +
				'</tr>'
			);
		}
		else{
			$('#services-description').append(
				'<tr>' +
					'<th>Precio:</th>' +
					'<th>Consultar en Local</th>' +
				'</tr>'
			);
		};
		$('#services-description').append(
			'<tr>' +
				'<th>Duración:</th>' +
				'<th>' + service.duration + ' minutos </th>' +
			'</tr>'
		);
		if(service.description) {
			$('#services-description').append(
				'<tr>' +
					'<th>Descripción:</th>' +
					'<th>' + service.description + '</th>' +
				'</tr>'
			);
		}
	});
}

//====== Manage Booking ======//

var selected = false;

function addBooking (booking) {
	selected = true;
	$('#start').val(generateDate(booking.date, booking.start));
	$('#end').val(generateDate(booking.date, booking.end));
	$('#provider').val(booking.provider);
}

function generateDate(date, time) {
	var year = date.substring(0, date.indexOf('-'));
	var month = date.substring(date.indexOf('-') + 1, date.lastIndexOf('-'));
	var day = date.substring(date.lastIndexOf('-') + 1);

	time += ':00';

	return year + '-' + month + '-' + day + ' ' + time;
}

function formattedTime (timestamp) {
	var dateString = timestamp;

	var s = new Date(dateString.substring(0, 4), parseInt(dateString.substring(5, 7)) - 1, dateString.substring(8, 10), dateString.substring(11, 13), dateString.substring(14, 16), 0);

	var weekday = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"]

	var monthname = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]

	var day = weekday[s.getDay()];
	var month = monthname[s.getMonth()];

	var formattedStart = day + " " + parseInt(timestamp.substring(8,10)) + " de " + month + " a las " + timestamp.substring(11,16);

	return formattedStart;
}

$(function () {
	$( document ).ajaxComplete(function() {
		$('#foo4').trigger('updateSizes');
	});

});
