.content-fix {
	margin: 0 20px;
	margin-top: 44px;
}
#admin-content{
	margin-top: 0;
	padding-bottom: 0;
}
#locals-selector {
	margin-top: 5px;
	margin-bottom: 0;
}
#providers-selector {
	margin-top: 5px;
	margin-bottom: 0;
}
.hasDatepicker {
	font-size: 0.725em;
	width: 100%;
}
.fc-header-title h2 {
	color: rgb(51, 51, 51);
	direction: ltr;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 500;
	line-height: 23.100000381469727px;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
	white-space: nowrap;
}
.dpCollapse {
	display: none;
}
.createBreak {
	position: absolute;
	top: 10px;
	right: 5px;
	z-index: 1;
}
.createBooking {
	position: absolute;
	top: 10px;
	right: 235px;
	z-index: 1;
}
.modal-textarea {
	resize: vertical;
}

/* Slider */
#local_slider {
	position: relative;
	overflow: hidden;
	margin: 0 0;
	border-radius: 4px;
}

#local_slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

#local_slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
	text-align: center;
}

#provider_slider {
	position: relative;
	overflow: hidden;
	margin: 0 0;
	border-radius: 4px;
}

#provider_slider ul {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

#provider_slider ul li {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
	text-align: center;
}

a.control_prev, a.control_next {
	position: absolute;
	top: 0%;
	z-index: 999;
	display: block;
	padding: 10px 10px;
	width: auto;
	height: 40px;
	background: rgba(27,115,112,1);;
	color: #fff;
	font-size: 18px;
	opacity: 0.8;
	cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease;
}

a.control_prev {
	border-radius: 0 2px 2px 0;
}

a.control_next {
	border-radius: 2px 0 0 2px;
	right: 0;
}

/* Menu responsivo */
@media (max-width: 1280px) { 
	.hasDatepicker {
		font-size: 0.65em;
	}
}
@media (width: 1280px) { 
	.hasDatepicker {
		font-size: 0.7em;
	}
}
@media (max-width: 1124px) { 
	.hasDatepicker {
		font-size: 0.585em;
	}
	.createBreak {
		position: absolute;
		top: 14px;
		right: 5px;
		z-index: 1;
		padding: 6px 12px;
		font-size: 12px;
	}
	.createBooking {
		position: absolute;
		top: 14px;
		right: 205px;
		z-index: 1;
		padding: 6px 12px;
		font-size: 12px;
	}
}
@media (max-width: 1024px) { 
	#dp {
		display: none;
	}
	.createBreak {
		position: absolute;
		top: 14px;
		right: 5px;
		z-index: 1;
		padding: 4px 8px;
		font-size: 12px;
	}
	.createBooking {
		position: absolute;
		top: 14px;
		right: 235px;
		z-index: 1;
		padding: 4px 8px;
		font-size: 12px;
		right: 200px;
	}
}