header{
	position: absolute;
}
.content-fix {
	margin: 0 20px;
	margin-top: 44px;
}
#admin-content{
	margin-top: 0;
	padding-bottom: 0;
}
#sidebar{
	margin-top: 44px;
}
#locals-selector {
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 1;
}
#providers-selector {
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 1;
}
.lateralDatepicker {
	font-size: 0.725em;
	width: 100%;
}
.fc-header-title h2 {
	color: rgb(51, 51, 51);
	direction: ltr;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 500;
	line-height: 23.100000381469727px;
	margin-left: 20px;
	margin-bottom: 0px;
	margin-top: 10px;
	text-align: left;
	white-space: nowrap;
}
.dpCollapse {
	display: none;
}
.createBreak {
	position: absolute;
	top: 14px;
	right: 5px;
	z-index: 1;
}
.createBooking {
	position: absolute;
	top: 14px;
	right: 235px;
	z-index: 1;
}
.modal-textarea {
	resize: vertical;
}
#calendar{
	margin-top: 10px;
}
.disabled {
   color: #777777;
}
.modal-admin label {
	font-size: 12px;
}
.modal-admin .checkbox {
	padding-top: 0px;
}
.booking-modal-body .date-select {
	padding-left: 0px;
	padding-right: 0px;
}
.booking-modal-body .well-sm {
	margin-bottom: 0px;
}
.booking-modal-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
.booking-modal-footer {
	margin-top: 0px;
}
/*.ui-autocomplete {
	max-height: 50px;
}*/
/*.ui-autocomplete .ui-menu-item {
	overflow-x: hidden;
}*/
.auto-desc {
	font-size: 0.75em; 
}
.fc-event {
	border-radius: 4px;
}
.fc-event-inner {
	border-radius: 4px;
}
/*.fc-widget-content:hover {
	background: #E1E1E1;
}*/
body .modal-admin {
    width: 750px;
}
/* Menu responsivo */
/*@media (max-width: 1440px) { 
	#dp {
		font-size: 0.65em;
		font-size: 0.845vw;
	}
}*/
/*@media (max-width: 1366px) { 
	#dp {
		font-size: 0.65em;
		font-size: 0.875vw;
	}
}*/
@media (max-width: 1280px) { 
	#dp {
		/*font-size: 0.65em;*/
		font-size: 0.875vw;
	}
}
@media (max-width: 1124px) {
	#dp {
		/*font-size: 0.585em;*/
		font-size: 0.875vw;
	}
	.createBreak {
		position: absolute;
		top: 14px;
		right: 5px;
		z-index: 1;
		padding: 6px 12px;
		font-size: 12px;
	}
	.createBooking {
		position: absolute;
		top: 14px;
		right: 205px;
		z-index: 1;
		padding: 6px 12px;
		font-size: 12px;
	}
}
@media (max-width: 1024px) { 
	#dp {
		/*font-size: 0.6em;*/
		font-size: 0.875vw;
	}
	.createBreak {
		position: absolute;
		top: 14px;
		right: 5px;
		z-index: 1;
		padding: 4px 8px;
		font-size: 12px;
	}
	.createBooking {
		position: absolute;
		top: 14px;
		right: 235px;
		z-index: 1;
		padding: 4px 8px;
		font-size: 12px;
		right: 200px;
	}
}
@media (max-width: 978px) { 
	#dp {
		display: none;
	}
	.createBreak {
		position: absolute;
		top: 14px;
		right: 5px;
		z-index: 1;
		padding: 4px 8px;
		font-size: 12px;
	}
	.createBooking {
		position: absolute;
		top: 14px;
		right: 235px;
		z-index: 1;
		padding: 4px 8px;
		font-size: 12px;
		right: 200px;
	}
}