html, body, .main, #mail-editor-container, #composing {
  height: 100%;
}

.btn-list {
  border: 1px solid #22c488;
  color: #22c488;
  background-color: transparent;
}

#mail-editor {
  height: auto;
  padding: 10px;

  #composing {
    padding: 0;
    border: 1px solid #ccc;
    .well {
      border-radius: 0;
      margin-bottom: 0;
      border-bottom: 1px solid #ccc;
    }
    .input-desc {
      display: inline-block;
      position: absolute;
      line-height: 30px;
      padding: 0 5px;
      color: #A9A9A9;
    }
    input[type='text'] {
      width: 100%;
      &.input-from { padding-left: 35px; }
      &.input-to { padding-left: 50px; }
      &.input-subject { padding-left: 60px; }
    }
    .complete-list-button {
      margin: 10px 0;
      text-align: right;
    }
    .total-recipients {
      @extend .complete-list-button;
      font-style: italic;
      color: #A9A9A9;
    }
  }

  #content {
    height: 100%;
    padding: 10px;
    background-color: #f5f5f5;
    border-right: 25px white solid;
  }

  .no-image-container {
    background-color: #E6E6E6;
    height: 300px;
    text-align: center;
    border: 1px solid #ccc;
    position: relative;
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .file-input {
      display: none;
    }
  }

  .cke_chrome {
    border: none;
  }
}
