/*
  ================================
  ============ Events ============
  ================================
*/
.origin-web-lock > .fc-event-inner > .fc-event-head > .fc-event-time:before,
.origin-web-unlock > .fc-event-inner > .fc-event-head > .fc-event-time:before,
.origin-manual-lock > .fc-event-inner > .fc-event-head > .fc-event-time:before,
.origin-manual-unlock > .fc-event-inner > .fc-event-head > .fc-event-time:before,
.confirmed > .fc-event-inner > .fc-event-head > .fc-event-time:after,
.completed > .fc-event-inner > .fc-event-head > .fc-event-time:after,
.noshow > .fc-event-inner > .fc-event-head > .fc-event-time:after,
.payed > .fc-event-inner > .fc-event-head > .fc-event-time:after {
  display:inline-block;
  font-family:FontAwesome;
  font-style:normal;
  font-weight:normal;
  line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
  margin-left: 3px;
  margin-right: 3px;
  font-size:1.3333333333333333em;
  line-height:.75em;
  vertical-align:-15%
}
.origin-web-lock > .fc-event-inner > .fc-event-head > .fc-event-time:before {
  content:"\f0ac   \f023";
}
.origin-web-unlock > .fc-event-inner > .fc-event-head > .fc-event-time:before {
  content:"\f0ac   \f09c";
}
.origin-manual-lock > .fc-event-inner > .fc-event-head > .fc-event-time:before {
  content:"\f007   \f023";
}
.origin-manual-unlock > .fc-event-inner > .fc-event-head > .fc-event-time:before {
  content:"\f007   \f09c";
}
.confirmed > .fc-event-inner > .fc-event-head > .fc-event-time:after {
  content:"\f00c";
}
.completed > .fc-event-inner > .fc-event-head > .fc-event-time:after {
  content:"\f046";
}
.noshow > .fc-event-inner > .fc-event-head > .fc-event-time:after {
  content:"\f00d";
}
.payed > .fc-event-inner > .fc-event-head > .fc-event-time:after {
  content:"\f155";
}
.fc-event {
  border-radius: 4px;
}
.fc-event-inner {
  border-radius: 4px;
}

/*
  ================================
  =========== Popover ============
  ================================
*/
.popover {
  position: absolute;
  display: none;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 0px 0px 10px 0px;
  width: auto;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, .5);*/
}
.popover-right:after,
.popover-right:before {
  right: 100%;
  border: solid transparent;
  content:" ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.popover-right:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #f5f5f5;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.popover-right:before {
  border-color: rgba(201, 201, 201, 0);
  border-right-color: #e3e3e3;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}
.popover-left:after,
.popover-left:before {
  left: 100%;
  border: solid transparent;
  content:" ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.popover-left:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #f5f5f5;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.popover-left:before {
  border-color: rgba(201, 201, 201, 0);
  border-left-color: #e3e3e3;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}
.actionPopover {
  font-size: 1em;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.closePopover i {
  font-size: 0.7em;
  margin-right: 10px;
}
.closePopover {
  width: 100%;
  display: inline-block;
  text-align: right;
  cursor: pointer;
}

/*
  ================================
  =========== Calendar ===========
  ================================
*/
#calendar{
  margin-top: 5px;
}
.fc-header-title {
  vertical-align: sub;
}
.fc-header-title h2 {
  color: #505050;
  direction: ltr;
  display: block;
  font-family: TradeGothic, FranklinGothic, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 21px;
  font-weight: 500;
  line-height: 23.100000381469727px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: left;
  white-space: nowrap;
}
.fc-widget-header,
.fc-widget-content {
  background-color: #ffffff;
}
.fc-widget-content:hover {  /* <td>, usually */
  background: #fd9610;
  opacity: .2;
}
.fc-agenda-days thead th {
  background-color: #22c488;
  color: #ffffff;
}
.fc-header td {
  background-color: #ffffff;
}
.fc-header .fc-button {
  margin-bottom: initial;
  vertical-align: initial;
}
.fc-widget-header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fc-header-left {
  padding-top: 5px;
}
table.fc-agenda-days {
  table-layout: fixed;
}
.small-loader-header {
  margin-top: 5px;
  margin-bottom: 17px;
}

/*
  ================================
  ======= Calendar Buttons =======
  ================================
*/
.calendar-btn {
  position: absolute;
  top: 5px;
  right: 15px;
}
@media (max-width: 767px) {
  .calendar-btn {
    top: 0px;
  }
  #createBreak {
    padding: 4px 6px;
    font-size: 13px;
  }
  #createBooking {
    padding: 4px 6px;
    font-size: 13px;
  }
  .ui-datepicker-trigger {
    padding: 4px 6px;
    font-size: 13px;
  }
}

/*
  ================================
  ========== Datepicker ==========
  ================================
*/
.ui-datepicker {
  z-index: 1041 !important;
}
.ui-datepicker-trigger {
  color: #22c488;
  border-color: #d1d1d1;
  background-color: #ffffff;
}
.ui-datepicker-trigger:hover,
.ui-datepicker-trigger:focus,
.ui-datepicker-trigger.focus,
.ui-datepicker-trigger:active,
.ui-datepicker-trigger.active {
  color: #22c488;
  background-color: #d1d1d1;
  border-color: #c0c0c0;
}
.ui-datepicker-trigger:active,
.ui-datepicker-trigger.active {
  background-image: none;
}
@media (min-width: 992px) {
  .ui-datepicker-trigger {
    display: none;
  }
  #dp {
    padding-top: 43px;
    margin-right: -15px;
  }
  #dp .ui-datepicker {
    width: 100%;
  }
  #dp .ui-datepicker .ui-datepicker-title select {
    font-size: .8em;
  }
}


/*
  ================================
  ============ Modals ============
  ================================
*/
.modal-body {
  font-size: 14px;
}
.custom-popover:after, .custom-popover:before {
    display: none;
}
.custom-popover:after {
    display: none;
}
.custom-popover:before {
    display: none;
}

.closePopover i {
	font-size:0.7em;
	margin-right: 10px;
}
.modal-body .nav {
  font-size: 17px;
}
#bookingModal .checkbox {
  padding-top: 0px;
}
.modal-header {
  padding: 10px;
}
.booking-modal-body .date-select {
  padding-left: 6px;
  padding-right: 6px;
}
.booking-modal-body .well-sm {
  margin-bottom: 0px;
}
.booking-modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.booking-modal-footer {
  margin-top: 0px;
  padding: 10px;
}
.modal-textarea {
  resize: vertical;
}

.disabled {
  color: #777777;
}

.auto-desc {
  font-size: 0.75em;
}

.fa-spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

/*
  ================================
  ======== Hour Optimizer ========
  ================================
*/
.fa-green {
  color: #22c488;
}

#selectHour {
  max-height: 220px;
  overflow: auto;
}

#selectHour > label {
  width: 33%;
}

#selectHour > .checkbox-inline {
  color: #949292;
  border-right: 1px solid #949292;
  padding-left: 15px;
  margin-bottom: 12px;
}

#selectHour > .checkbox-inline + .checkbox-inline {
  margin-left: 0;
}

#selectHour > .checkbox-inline:nth-child(3n) {
  border-right: none;
}

#selectHour > .checkbox-inline > p {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 5px;
  font-size: 15px;
}

select[name="serviceOptimizerSelector"] {
  margin-bottom: 5px;
}

#serviceOptimizer {
  padding-right: 15px;
  overflow: auto;
  max-height: 332px;
}

.optimizer-date-span {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  color: #949292;
  z-index: 2;
}

.optimizer-date-span input {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 10px !important;
  pointer-events: none;
}

.optimizerDetail > label {
  width: 33%;
}

.optimizerDetail > h3 {
  color: #949292;
  padding-left: 15px;
}

.optimizerDetail > .checkbox-inline {
  color: #949292;
  border-right: 1px solid #949292;
  padding-left: 15px;
  margin-bottom: 12px;
}

.optimizerDetail > .checkbox-inline + .checkbox-inline {
  margin-left: 0;
}

.optimizerDetail > .checkbox-inline > p {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px 0 5px;
  font-size: 15px;
}

.set-date-btn {
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
.hours-optimizer-button {
  font-size: 12px;
}

#dp {
  display: none;
}

.optimizerBtn {
  width: auto;
}

/*.fc-widget-header
{
  width:200px;
}
.fc-widget-header.fc-first, .fc-widget-header.fc-last
{
  width:auto;
}
.fc-widget-content
{
  width:200px;
}
.fc-widget-content.fc-first, .fc-widget-content.fc-last
{
  width:auto;
}

#calendar table {
  table-layout: fixed;
}*/

@media (min-width: 992px) {
  .hours-optimizer-button {
    margin-left: 7px;
    font-size: 14px;
  }
  .set-date-btn {
    margin-left: 7px;
    display: none;
    font-size: 14px;
  }
  #dp {
    display: block;
  }

}
@media (max-width: 1199px) {
  .ui-datepicker table {
    font-size: .7em;
  }
  .ui-datepicker th {
    padding: .5em .3em;
  }
  .ui-datepicker td span,
  .ui-datepicker td a {
    padding: .1em;
    text-align: center;
  }
}
