

<div class="row">
	<div class="col-md-12">
		<table class="companies-table">
			<tr class="companies-table-header">
				<th>Mes</th>
				<th>Ingreso</th>
			</tr>
			<% for i in 1..12 do %>
				<tr>
					<td>
						<%= @names[i] %>:
					</td>
					<td>
						$<%= @incomes[i] %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td>Total:</td>
				<td><%= @incomes['total'] %></td>
			</td>
		</table>
	</div> 
</div>