<h1>Edición de Compañía</h1>

<h4>Acá podrás editar los datos de tu compañía.</h4>
<h4>Recuerda avisarle a tus clientes de tu nueva página web en caso de que decidas cambiarla.</h4>

<%= render 'form' %>
