<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  	<Worksheet ss:Name="Productos">
	    <Table>
		   	<%

				allowed_attributes = [["email", "Email del cliente. Debe ser único."], ["first_name", "Nombres del cliente."], ["last_name", "Apellidos del cliente."], ["identification_number", "Rut o CI del cliente. Debe ser único."], ["record", "Número de cliente. Puede ser un número o una palabra seguida de un número."], ["phone", "Teléfono principal del cliente."], ["second_phone", "Teléfono secundario del cliente (oficina, casa, etc.)."], ["address", "Dirección del cliente."], ["district", "Comuna de residencia."], ["city", "Ciudad de residencia."], ["age", "Edad del cliente."], ["gender", "Género del cliente. 1 si es mujer, 2 es hombre."], ["birth_day", "Día del cumpleaños, sin fecha. Del 1 al 31."], ["birth_month", "Mes del cumpleaños, sin fecha. Del 1 al 12."], ["birth_year", "Año de nacimiento."]]

				custom_attributes = []

				@company.custom_attributes.each do |attribute|
					if attribute.datatype != "file"
						if attribute.datatype != "categoric"
							custom_attributes << [attribute.slug, attribute.datatype_to_text + ": " + attribute.description]
						else
							categories = attribute.attribute_categories.pluck(:category).join(", ")
							custom_attributes << [attribute.slug, attribute.datatype_to_text + ": " + attribute.description + ". Categorías: " + categories]
						end
					end
				end

				att_count = allowed_attributes.count + custom_attributes.count

			%>
	      	
	      	<% for i in 0..att_count %>
	      		<ss:Column ss:Width="100"/>
	      	<% end %>

	      	<Row>
	      		<% allowed_attributes.each do |attribute| %>
	      			<Cell><Data ss:Type="String"><%= attribute[0] %></Data><Comment><ss:Data><%= attribute[1] %></ss:Data></Comment></Cell>
	      		<% end %>
	      		<% custom_attributes.each do |attribute| %>
	      			<Cell><Data ss:Type="String"><%= attribute[0] %></Data><Comment><ss:Data><%= attribute[1] %></ss:Data></Comment></Cell>
	      		<% end %>
	      	</Row>
	    </Table>
	</Worksheet>
</Workbook>

