<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @receipt_type.name %>
</p>

<%= link_to 'Edit', edit_receipt_type_path(@receipt_type) %> |
<%= link_to 'Back', receipt_types_path %>
