<h1>Comunas</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_district_path(district), :class => "btn btn-warning" %>
        <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, district, :class => "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="fa fa-plus"></i> Nueva Comuna'.html_safe, new_district_path, :class => "btn btn-primary" %>
