<h1>Comunas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= link_to district.name, district %></td>
        <td><%= link_to 'Editar', edit_district_path(district) %></td>
        <td><%= link_to 'Eliminar', district, method: :delete, data: { confirm: 'Estás Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Comuna', new_district_path %>
