<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 id='title' class="text-green">Editar Prestador de Servicios</h2>
      <p>Modifica la información del Prestador seleccionado.</p>
    </div>
  </div>
</div>

<%= content_tag "div", id: "id_data", data: { id: @service_provider.id } do %>
  <% end %>

<%= content_tag "div", id: "provider_times_data", data: { provider_times: @service_provider.provider_times.order(:day_id, :open).to_json } do %>
  <% end %>

<%= render "form" %>

<% content_for :scripts do %>
  <%= javascript_include_tag "provider" %>
<% end %>
