<h1 id='title'>Editar Proveedor de Servicios</h1>

<%= content_tag "div", id: "id_data", data: { id: @service_provider.id } do %>
  <% end %>

  <%= content_tag "div", id: "provider_times_data", data: { provider_times: @service_provider.provider_times.to_json } do %>
  <% end %>

<%= render "form" %>

<% content_for :scripts do %>
  <%= javascript_include_tag "provider" %>
<% end %>