<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Prestadores de Servicios Inactivos</h2>
      <p>Acá puedes re-activar y editar los Prestadores de Servicios previamente desactivados.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-green">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @service_providers.each do |service_provider| %>
            <tr>
              <td><%= service_provider.public_name %></td>
              <td>
                <%= link_to '<i class="fa fa-check"></i> Re-activar'.html_safe, activate_service_provider_path(:id => service_provider.id), :class => "btn btn-green", data: { confirm: '¿Estás seguro de re-activar el Prestador seleccionado?' } %>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_service_provider_path(service_provider), :class => "btn btn-orange" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Prestadores de Servicios Activos', service_providers_path, :class => "btn btn-white" %>
    </div>
  </div>
</div>
