<h1>Proveedores de Servicios Inactivos</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @service_providers.each do |service_provider| %>
      <tr>
        <td><%= service_provider.public_name %></td>
        <td>
          <%= link_to '<i class="fa fa-check"></i> Re-activar'.html_safe, activate_service_provider_path(:id => service_provider.id), :class => "btn btn-primary", data: { confirm: '¿Estás seguro de re-activar el Proveedor seleccionado?' } %>
          <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_service_provider_path(service_provider), :class => "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Proveedores de Servicios Activos', service_providers_path, :class => "btn btn-primary" %>
