<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Nuevo Recurso</h2>
      <p>Crea recursos para limitar la realización de ciertos servicios simultaneamente. Por ejemplo, si tienes más de una persona que puede realizar cierto servicio, pero sólo uno de los implementos necesarios para hacerlo, puedes definir esto como un recurso necesario para el servicio.</p>
    </div>
  </div>
</div>

<%= render 'form' %>

<% content_for :scripts do %>
  <%= javascript_include_tag "resources" %>
<% end %>

