<div class="main">
    <section class="pricing_wrapper">
        <div class="container">
			<div class="well well-lg">
				<h3>¡Gracias por agregar tu pestaña AgendaPro!</h3>
				<div class="row">
					<div class="col-md-6">
						<hr>
						<h4>¡Ahora sólo falta configurar la pestaña para recibir reservas a través de Facebook!</h4>
						<dl class="dl-horizontal">
							<dt>¿Cómo seguir?</dt>
							<dd>¡Ya estás casi listo listo para que tus clientes puedan reservar a través de tu página de Facebook! Sólo debes ingresar a la pestaña <strong>"¡Reserva Online!"</strong> y seguir las instrucciones disponibles ahí mismo.</dd>
							<dt>¿Algo está mal?</dt>
							<dd>Si estás teniendo algún problema o tienes la pestaña apuntando a la cuenta AgendaPro equivocada, para volver a configurarla sólo debes ingresar a la pestaña <strong>"¡Reserva Online!"</strong> como administrador de la página y hacer click en el botón <strong>"Configurar Página"</strong> (ese botón sólo aparece si eres administrador de la página de facebook), si la pestaña no esta cofigurada te redirigirá automáticamente a la configuración. De persistir el problema, no dudes en contactarnos y te ayudaremos.</dd>
						</dl>
						<hr>
					</div>
					<div class="col-md-6">
						<%= image_tag("backgrounds/check.png", :class => "center-block") %>
					</div>
				</div>
			</div>
        </div>
    </section>
</div>