<tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
  <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;">
    <h4 class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:inherit;font-weight:500;line-height:1.1;color:inherit;margin-top:10px;margin-bottom:10px;font-size:20px;text-align:center;">Encuesta de Satisfacción</h4>
  </td>
</tr>
<tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
  <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;">
    <p class="text-center" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-top:0;margin-bottom:10px;margin-right:0;margin-left:0;text-align:center;">Nos gustaría saber que te parecio el servicio solicitado por medio de AgendaPro a través de una breve encuenta, te gustaría responderla?</p>
  </td>
</tr>

<tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
  <td colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;padding-right:15px;padding-left:15px;line-height:1.42857143;vertical-align:top;text-align:center">
    <a href="#" style="width:100px; height:50px; color:#fff; text-align:center;background-color:rgba(214,0,0,1);border:none;border-radius:2px;display:inline-block;line-height: 45px;vertical-align: top;text-decoration: none;" target:"_blank" >No</a>
    <%= link_to "SI", new_survey_url(:confirmation_code => @book.confirmation_code), style: "width:100px; height:50px; color:#fff; text-align:center;background-color:#23c489;border:none;border-radius:2px;display:inline-block;line-height: 45px;vertical-align: top;text-decoration: none;", target:"_blank", title:"Si" %>
  </td>
</tr>
