<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">
        Países
        <%= link_to '<i class="fa fa-plus"></i> Nuevo País'.html_safe, new_country_path, :class => "btn btn-green pull-right" %>
      </h2>
    </div>
  </div>
</div>
<div class="container-fluid tab-margin">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-green">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @countries.each do |country| %>
            <tr>
              <td><%= country.name %></td>
              <td>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_country_path(country), :class => "btn btn-orange"  %>
                <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, country, :class => "btn btn-red", method: :delete, data: { confirm: '¿Estás seguro?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
