<h1>Países</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= link_to '   Editar', edit_country_path(country), :class => "fa fa-pencil btn btn-warning"  %>
        <%= link_to '   Eliminar', country, :class => "fa fa-times btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "   Nuevo País", new_country_path, :class => "fa fa-plus btn btn-primary" %>

</table>

