html, body, header, footer {
  @include roboto-font(14px, normal);
}

*:focus{ outline: none; } // Removes Bootstrap default focus styles

header {
  $header-height: 75px;
  height: $header-height;
  div { height: 100%; }
  .contact, .options { display: none; }
  .logo-container {
    height: 100%;
    div {
      height: inherit;
      @include logo {
        height: inherit;
        width: auto;
      }
    }
  }
}

.menu {
  $menu-height: 75px;
  position: absolute;
  left: 10px;
  top: 15px;
  .wrapper {
    height: $menu-height;
    .content {
      height: auto;
      padding: 0;
      z-index: 999;
    }
    button {
      border: none;
      background-color: transparent;
      color: $light-pink;
      font-size: 2em;
    }
  }

  span.separator { margin: 0 10px; }

  nav#services-list {
    background-color: $white;
    line-height: 30px;
    border-right: 1px solid $black;
    height: 100%;
    span { display: none; }
    h3 {
      height: $menu-height;
      background-color: $white;
      padding: 11px;
      @include logo {
        width: auto;
      }
    }
    a {
      color: $dark-gray;
      text-decoration: none;
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 8px 25px;
      border-bottom: none;
      &:hover {
        background-color: $lighter-gray;
      }
    }
    .deals {
      color: $light-pink;
      font-style: bold;
    }
    .service-link {
      color: $black;
      display: block;
    }
    .nav-account {
      margin-top: 15%;
      border-top: 1px solid black;
      padding-top: 35px;
      .add-company { color: $light-pink; }
    }
  }
}

.landing {
  background: url($landing-image-xs) no-repeat;
  background-size: cover;
  background-position: 60%;
  height: 525px;
  .container {
    height: 100%;
    padding: 80px 0;
    .title {
      padding: 0;
      h1 {
        color: $white;
        text-transform: uppercase;
        font-size: 33px;
        width: 100%;
        @include breakpoint(460px) { font-size: 37px; }
        @include breakpoint(555px) { font-size: 41px; }
        @include breakpoint(615px) { font-size: 45px; }
        @include breakpoint(690px) { font-size: 49px; }
        @include font-smoothing(antialiased);
        #typed {
          color: $light-pink;
          font-weight: 600;
        }
        .typed-cursor{ @extend #typed; }
      }
    }
    #search {
      @extend .title;
      @include font-smoothing(antialiased);
      margin-top: 20px;
      .geo-icon { display: none; }
      .form-container {
        padding: 30px 10px;
      }
      form {
        $button-width: 70px;
        $input-height: 55px;
        .form-group { margin: 0 0 15px 0; }
        .input-group {
          margin-bottom: 20px;
        }
        @include placeholder {
          color: $lighter-gray;
          font-weight: 300;
        }
        input {
          @include border-radius(0px);
          height: $input-height;
          &[type='text']{
            width: 100%;
          }
        }
        button {
          @include border-radius(0px);
          height: $input-height;
          border: 1px solid $light-pink;
          background-color: $light-pink;
          font-weight: 300;
          width: $button-width;
          color: $white;
          vertical-align: top;
          font-size: 35px;
          .xs-size { display: inline; }
          .md-size { display: none; }
        }
        #localization {
          background: transparent;
          color: $white;
        }
      }
    }
  }
}

footer {
  background-color: $lighterx-gray;
  left: 0;
  height: 125px;
  width: 100%;
  .container {
    @include logo;
  }
}
