@include breakpoint(lg) {
  // DESKTOP STYLES
  header {
    $header-height: 75px;
    font-size: 14px;
    @include breakpoint(1500px) { font-size: 15px; }
    %links-desktop {
      line-height: $header-height;
      color: $light-gray;
      margin: 0;
    }
    .container > .row {
      height: $header-height;
      padding-left: 15px;
      padding-right: 15px;
      div { height: 100%; }
      .contact {
        display: inline;
        p { @extend %links-desktop; }
      }
      .options {
        display: inline;
        a {
          @extend %links-desktop;
          text-decoration: none;
        }
        .login {
          display: inline;
          a { color: $black; }
        }
        .add-company {
          display: inline;
          a {
            border: 1px solid $light-pink;
            border-radius: 7px;
            color: $light-pink;
            margin-left: 25px;
            padding: 8px 20px;
            &:hover {
              border: 1px solid $dark-pink;
              color: $dark-pink;
            }
          }
        }
      }
    }
  }

  .landing {
    .title {
      h1 {
        font-size: 55px;
        width: 60%;
      }
    }
  }

}


