@include breakpoint(sm) {
  // Small - Medium size devices

  .menu {
    button.navbar-toggle {
      display: block;
    }
  }

  #mainContent > div > div > div.title > h1 {
    font-size: 50px;
    width: 80%;
  }

  .landing {
    .container {
      .title {
        h1 {
          font-size: 50px;
          width: 80%;
        }
      }
    }
  }
}
