// Basic Colors
$black:         #212121;
$white:         #FFFFFF;

// Light Colors
$light-blue:    #0f91cf;
$light-gray:    #949292;
$lighter-gray:  #A3A0A1; //FIXME!
$lighterx-gray: #F3F3F3; //FIXME!
$light-green:   #22c488;
$light-orange:  #fd9610;
$light-pink:    #F26062;
$light-red:     #fd633f;
$light-yellow:  #fbcd5d;
$lighter-pink:  #fa878b;

// Dark Colors
$dark-blue:     #0b587b;
$dark-gray:     #505050;
$dark-green:    #1ba970;
$dark-orange:   #db7400;
$dark-pink:     #B66A68; //FIXME!
$dark-red:      #e55938;
$dark-yellow:   #e6ba55;
$darkest-gray:  #525252; //FIXME!

// Main Images ref
$geo-icon:      'search/pin-overlay.png';
$landing-image: 'hora_chic/landing/bg_2015.jpg';
$landing-image-xs: 'hora_chic/landing/bg_2015_xs.jpg';
$logo-route:    'hora_chic/logo/';

// Routes to be modified on app separation
$fonts-route:   '/lib/assets/fonts/';
$styles-route:  '/lib/assets/stylesheets/';
