<style type="text/css">
.submitBtn{
	position: relative;
	border: 1px solid #f1972d;
	text-align: center;
	width: 160px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
	background-color: #f1972d;
	color: #fff;
	float: left;
	border-radius: 6px;
}

.submitBtn:hover{
	background-color: #e0861c;
	color: #eee;
}

.payBtn{
	
	border: 1px solid #22c488;
	text-align: center;
	width: 160px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
	background-color: #22c488;
	color: #fff;
	float: left;
	border-radius: 6px;
}

.payBtn:hover{
	background-color: #1ba970;
	color: #eee;
}

.cancelBtn{
	
	border: 1px solid #EB2929;
	text-align: center;
	width: 160px;
	height: 40px;
	font-size: 20px;
	cursor: pointer;
	background-color: #EB2929;
	color: #fff;
	float: left;
	border-radius: 6px;
}

.cancelBtn:hover{
	background-color: #DA1818;
	color: #eee;
}

.modal-pay{
	border: 1px solid #22c488;
	text-align: center;
	width: 140px;
	height: 40px;
	font-size: 18px;
	cursor: pointer;
	background-color: #22c488;
	color: #fff;
	float: right;
	border-radius: 6px;
}

.modal-pay:hover{
	background-color: #1ba970;
	color: #eee;
}
</style>

<div class="main">
	<br />
    <section class="pricing_wrapper">
        <div class="container">
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-7">
						<hr>
						<h4>¡Lo sentimos, la transacción ha fallado! Inténtalo nuevamente por favor. Si el problema persiste, ponte en contacto con nosotros y te ayudaremos.</h4>
						<% if @bookings %>
							<p>
			                    Si deseas agendar nuevamente haz click <a href="<%= root_url(:host => @url) %>">aquí.</a>
			                </p>
						<% else %>
							<h4>Por seguridad, el portal de pagos puede haber rechazado tu solicitud si tardaste mucho tiempo.</h4>
						<% end %>
						<hr />
						<dl class="dl-horizontal">
							<dt>Código de la Transacción</dt>
							<dd><%= params[:token] %></dd>
							<dt>¿Dudas o consultas?</dt>
							<dd>Por favor envíanos un e-mail a contacto@agendapro.cl o llamanos al (+56 9) 5178 5898</dd>
						</dl>
						
					</div>
					<div class="col-md-5">
						<%= image_tag("backgrounds/cross.png", :class => "center-block") %>
					</div>
				</div>
       		</div>
        </div>
    </section>


</div>
