<div class="main">
	<br />
    <section class="pricing_wrapper">
        <div class="container">
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-7">
						<hr>
						<h4>¡Lo sentimos, la transacción ha fallado! Inténtalo nuevamente por favor. Si el problema persiste, ponte en contacto con nosotros y te ayudaremos.</h4>
						<dl class="dl-horizontal">
							<dt>Código de la Transacción</dt>
							<dd><%= params[:token] %></dd>
							<dt>¿Dudas o consultas?</dt>
							<dd>Por favor envíanos un e-mail a contacto@agendapro.cl o llamanos al (+56 9) 5178 5898</dd>
						</dl>
					</div>
					<div class="col-md-5">
						<%= image_tag("backgrounds/cross.png", :class => "center-block") %>
					</div>
				</div>
       		</div>
        </div>
    </section>
</div>