/*
*= require jquery.qtip
*/

.qtip {
	min-width: 150px;
	max-width: 500px;
}

table.servicesTable{
	border: 1px solid #949292;
	width: 80%;
}

table.servicesTable tr.tableHeading{
 	background-color: #22c498;
 	border: none;
}

table.servicesTable th{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	color: #fff;
	width: 33%;
}

table.servicesTable td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
	color: #949292;
}

.commissions-option-btn{
	width: 120px;
	border-radius: 3px;
}

.modal-dialog{
	width: 40% !important;
}

.multiselect{
	width: 100% !important;
}

.btn-caja{
	width: 120px;
}

#pettyTransactionsSummaryModal .modal-dialog{
	width: 70% !important;
}

#pettyTransactionsTable{
	width: 100%;
}

#pettyTransactionsTable th, #pettyTransactionsTable td{
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	text-align: left;
}

.table-div{
	max-height: 400px;
	overflow-y: auto;
}

.btn-sales-cash{
	width: 110px;
}

#sales-cash-title{
	font-size: 20px;
	color: #22c488;
	margin: 4px;
}

#sales-cash-last-reset-date{
	font-size: 18px;
	color: #505050;
	margin: 4px;
}

#sales-cash-schedule{
	font-size: 18px;
	color: #505050;
	margin: 4px;
}

#payment_transactions_table{
  width: 100%;
}

#payment_transactions_table input{
  width: 100%;
}

#payment_transactions_table th, #payment_transactions_table td{
  padding-left: 2px;
  border: none;
}

#payment_transactions_table td.method_td{
  padding-left: 2px;
  padding-right: 2px;
}

#payment_transactions_table td.cost_td{
  padding-left: 8px;
  padding-right: 2px;
}

#payment_transactions_table td.change_td{
  padding-left: 2px;
  padding-right: 2px;
}

#payment_transactions_table td.method_td input{
  color: #fff !important;
  border: 1px solid #d7d7d7 !important;
  background-color: #d7d7d7;
  padding-left: 2px;
  height: 30px;
}

#payment_transactions_table td.sum_td input{
  color: #fff !important;
  border: 1px solid #949292 !important;
  background-color: #949292;
  padding-left: 2px;
  height: 30px;
}

#payment_transactions_table td.cost_td input{
  color: #22c488 !important;
  border: 1px solid #22c488 !important;
  background-color: #fff;
  padding-left: 2px;
  height: 30px;
}

#payment_transactions_table td.change_td input{
  color: #fff !important;
  border: 1px solid #22c488 !important;
  background-color: #22c488;
  padding-left: 2px;
  height: 30px;
}

.content_header{
	background-color: #22c488;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.sales_cash_table th{
	width: 12.5% !important;
}

.providers_report_table{
	width: 100%;
}

.providers_report_table .provider_name_th{
	color: #fff;
	text-align: center;
	background-color: #22c488;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
	padding-right: 5px;
}

.providers_report_table .first_row td{
	color: #505050;
	text-align: left;
	background-color: #d7d7d7;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.providers_report_table .standard_row td{
	color: #505050;
	text-align: left;
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}