// Basic Colors
$black:         #212121;
$white:         #FFFFFF;
$gray:          #CCC;
$agendapro:     #16CF97;
$facebook:      #307ACB;
$google:        #F4626A;

// Light Colors
$light-green:     #22c488;
$light-orange:    #fd9610;
$light-gray:      #949292;
$light-red:       #fd633f;
$light-yellow:    #fbcd5d;
$light-blue:      #0f91cf;
$light-facebook:  #4E98E6;
$light-google:    #FF888E;

// Lighter Colors
$lighter-gray:    #A3A0A1;
$lighterx-gray:   #F3F3F3;
$lighter-yellow:  #fcf8e3;

// Dark Colors
$dark-green:    #1ba970;
$dark-orange:   #db7400;
$dark-gray:     #505050;
$dark-red:      #e55938;
$dark-yellow:   #e6ba55;
$dark-blue:     #0b587b;

// Darkest Colors
$darkest-gray:  #525252;
