<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= image_tag attachments['logo.png'].url, :alt => "AgendPro", :class => 'img-responsive img-rounded' %>
				</div>
				<div class="col-md-12">
					<h4>Estimado <%= @lastName %>, <%= @firstName %>:</h4>
					<p>
						Gracias por contactacnor, hemos recibido su email y pronto nos pondremos en contacto con usted.
						Se despide atentamente,
						EL equipo de AgendaPro
					</p>
					<address>
                        <strong>Agend@Pro</strong><br>
                        Nuestra Señora de los Angeles 185, Oficina D<br>
                        Las Condes, Santiago.<br>
                        <abbr title="Teléfono">Tel:</abbr> (+56 9) 5178 5898<br>
                        <a href="mailto:contacto@agendapro.cl">contacto@agendapro.cl</a>
                    </address>
				</div>
				<div class="col-md-12">
					Mensaje de contacto:
					<hr>
					<p><%= @message %></p>
				</div>
			</div>
		</div>
	</body>
</html>