<tr style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
  <td class="subcontent" colspan="2" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding-top:8px;padding-bottom:8px;line-height:1.42857143;vertical-align:top;text-align:center;padding-left:60px;padding-right:60px;">
    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">Se ha solicitado un cambio de contraseña para tu cuenta. Haz click en el siguiente link para ingresar tu nueva contraseña.</p>
    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">
      <%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token), class: "btn btn-lg btn-green", target: "_blank", style: "-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-decoration:none;display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;padding-top:10px;padding-bottom:10px;padding-right:16px;padding-left:16px;font-size:18px;line-height:1.33;border-radius:6px;color:#ffffff;background-color:#22c488;border-color:#1ba970;" %>
    </p>
    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">Si no solicitastes el cambio, por favor ignora este email.</p>
    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;">Tu contraseña no cambiará hasta que ingreses al link adjunto y crees una nueva.</p>
  </td>
</tr>
