<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueda porque has superado el límite de intentos.</p>

<p>Ingresa al siguiente link para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @token) %></p>
