<h1>Regiones</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_region_path(region), :class => "btn btn-warning" %>
        <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, region, :class => "btn btn-danger", method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="fa fa-plus"></i> Nueva Región'.html_safe, new_region_path, :class => "btn btn-primary" %>