<div class="container-fluid background-grey">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Inventario</h2>
      <p>Controla el inventario de productos para cada uno de tus locales.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group" style="margin-top: 10px;">
        <div class="col-md-6">
          <table>
            <tr>
              <td>
                Local:&nbsp;&nbsp;
              </td>
              <td>
                <select id="locationsSelect" class="form-control">
                  <% current_user.company.locations.each do |location| %>
                    <option value="<%= location.id %>"><%= location.name %></option>
                  <% end %>
                </select>
              </td>
            </tr>
          </table>        
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pull-right" style="margin: 10px 0;">
        <%= link_to '<i class="fa fa-plus"></i> Nuevo Producto'.html_safe, new_product_path, :class => "btn btn-green" %>
      </div>
    </div>
  </div>
  
  <div id="locationInventory">

  </div>

</div>

<div class="modal fade" id="productAlarmModal" tabindex="-1" role="dialog" aria-labelledby="productAlarmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title productAlarm-modal-title" id="productAlarmModalLabel">Alarma de stock</h4>
      </div>
      <div class="modal-body">

        <form id="alarmFom" action="">

          <div class="form-group has-feedback">
            <label for="location_product_stock_limit" class="col-md-5 control-label">Límite de stock</label>
            <div class="col-md-7">
              <input type="number" id="location_product_stock_limit" class="form-control" value="" />
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label for="location_product_alarm_email" class="col-md-5 control-label">Email para avisos</label>
            <div class="col-md-7">
              <input type="text" id="location_product_alarm_email" class="form-control" value="" />
              <span class="help-block"></span>
              <span class="form-control-feedback"></span>
            </div>
          </div>

        </form>

        <div style="clear: both;">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-default btn-green" id="saveAlarmBtn">Guardar</button>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_include_tag "products" %>
<% end %>
