.navbar-header.aplogo {
    float: right;
}

.navbar a.navbar-brand img {
  float: left;
  margin: 0 6px 0 0;
  width: 202px;
  height: 74px;
}

.navbar a.navbar-brand img.aplogo {
  float: right;
  margin: 0 6px 0 0;
  width: 202px;
  height: 74px;
}

.navbar h1 {
    text-align: center;
    line-height: 60px !important;
    color: #006D68 !important;
}

.navbar {
    margin: 10px 0px;
}

.pricing_wrapper {
    padding: 20px 0 40px 0;
}

.services {
  padding: 5px 15px 10px 15px;
  border: 2px;
  border-radius: 10px;
  border-color: #EFF2FB;
  background-color: #fff;
  border-style: solid;
}

#sign {
  right: 10px;
}