<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 id='title' class="text-green">Editar Local</h2>
      <p>Modifica la información del local seleccionado.</p>
    </div>
  </div>
</div>

<%= content_tag "div", id: "id_data", data: { id: @location.id } do %>
<% end %>
<%= content_tag "div", id: "location_times_data", data: { location_times: @location.location_times.order(:day_id, :open).to_json } do %>
<% end %>

<%= render 'form' %>
