<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Locales Inactivos</h2>
      <div class="row">
        <div class="col-md-8">
          <p class="text-buttons">Acá puedes re-activar y editar los locales previamente desactivados.</p>
        </div>
        <div class="col-md-4 action-buttons">
          <%= link_to 'Locales Activos', locations_path, :class => "btn btn-white" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-green">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @locations.each do |location| %>
            <tr>
              <td><%= location.name %></td>
              <td>
                <%= link_to '<i class="fa fa-check"></i> Re-activar'.html_safe, activate_location_path(:id => location.id), :class => "btn btn-green", data: { confirm: '¿Estás seguro de re-activar el Local seleccionado?' } %>
                <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_location_path(location), :class => "btn btn-orange" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
