<h1>Locales</h1>

<h4>Crea y edita los locales asociados con tu compañía.</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>   Editar'.html_safe, edit_location_path(location), :class => "btn btn-warning" %>
            <%= link_to '<i class="fa fa-times"></i>   Eliminar'.html_safe, location, :class => "btn btn-danger",  method: :delete, data: { confirm: '¿Estás seguro de eliminar el local seleccionado?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nuevo Local", new_location_path, :class => "btn btn-primary" %>
