<h1>Locales</h1>

<h4>Crea y edita los locales asociados con tu compañía.</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_location_path(location), :class => "btn btn-warning" %>
            <%= link_to '<i class="fa fa-trash-o"></i> Eliminar'.html_safe, location, :class => "btn btn-danger",  method: :delete, data: { confirm: '¿Estás seguro de eliminar el local seleccionado?' } unless cannot? :destroy, location %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="fa fa-plus"></i> Nuevo Local'.html_safe, new_location_path, :class => "btn btn-primary" %>
