<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-green">Nuevo Local</h2>
      <p>Completa los datos para agregar un nuevo local a tu negocio.</p>
    </div>
  </div>
</div>

<%= render 'form' %>
