function loadProviders () {
	if ($('[name="localRadio"]').is(':checked')) {
		$('#providers-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		var localId = $('input[name=localRadio]:checked').val();
		$.getJSON('/local_providers', {location: localId}, function (providersArray) {
			$('#providers-selector').empty();
			$.each(providersArray, function (key, provider) {
				$('#providers-selector').append('<label>' +
						'<input type="radio" name="providerRadio" value="' + provider.id + '">' +
						'<p>' + provider.public_name + '</p>' +
					'</label>'
				);
			});
			$('[name="providerRadio"]').on('click', function(event) {
				var providerId = event.target.getAttribute('value');
				loadCalendar(providerId);
			});
		});
		return true;
	}
	return false;
}

var duration = 30;
function loadCalendar (startTime, endTime, hiddenDays) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	var serviceId = $('input[name="serviceRadio"]:checked').val();
	$.getJSON('/service', {id: serviceId}, function (service) {
		duration = service.duration;
		$('#calendar').fullCalendar('removeEvents');
		$('#calendar').empty();
		$('#calendar').fullCalendar({
		    header: {
		    	left: 'title',
		    	center: 'agendaWeek,agendaDay',
		    	right: 'prev,today,next'
		    },
		    firstDay: 1,	//Lunes
		    defaultView: 'agendaWeek',
		    allDaySlot: false,
		    axisFormat: 'HH:mm',
		    timeFormat: 'HH:mm{ - HH:mm}',
		    columnFormat: {
		    	week: 'ddd d/M',
		    	day: 'dddd d/M' 
		    },
		    titleFormat: {
		    	week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
		    	day: 'dddd, d MMM yyyy'  
		    },
		    buttonText: {
			    prev:     '&lsaquo;', // <
			    next:     '&rsaquo;', // >
			    today:    'Hoy',
			    week:     'Semana',
			    day:      'Día'
		    },
		    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		    minTime: startTime,
		    maxTime: endTime,
		    dayClick: function (date) {
		    	addBooking(date);
		    },
		    defaultEventMinutes: duration,
		    /*eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
		    	moveBooking(event, revertFunc);
		    },*/
		    slotMinutes: duration,
		    eventColor: '#ff0000',
		    hiddenDays: hiddenDays
		});
	});
}