var colors = ["#FE2E2E", "#088A08", "#08298A", "#8A084B", "#DF7401", "#0080FF", "#FE2EC8", "#8258FA", "#FACC2E", "#10F610", "#610B21", "#0B173B", "#784433", "#F5A9D0", "#A9F5F2", "#1e8584", "#006D68", "#1F6185", "#3E4A8D", "#EE5858", "#EEE458", "#E0D20B", "#62718B", "#C14949", "#53565A", "#DFD1A7", "#7A6855", "#FA4616", "#628B75", "#6B8B62", "#8B6286", "#6C9FB5", "#A4D899", "#99D8D7", "#727D7D", "#99ABD8", "#A2E18B", "#E18B8B", "#108190", "#106990", "#56918E", "#8A9F9E", "#0C660E", "#294852", "#08769A", "#1e8584", "#006D68"]
var resourcesColors = [];

function loadProviders () {
	if ($('[name="localRadio"]').is(':checked')) {
		$('#providers-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		var localId = $('input[name=localRadio]:checked').val();
		$('#providers-selector').empty();
		$('#providers-selector').append('<label class="active" id="l_todos">' +
				'<input type="radio" name="providerRadio" value="0" checked>' +
				'<p>Todos</p>' +
			'</label>'
		);
		var resources = [];
		resourcesColors = [];
		var count = 0;
		$.getJSON('/local_providers', {location: localId}, function (providersArray) {
			if (providersArray.length > 0) {
				$('#provider_break_service_provider_id')
				    .find('option')
				    .remove()
				    .end()
				;
				$('#booking_service_provider_id')
				    .find('option')
				    .remove()
				    .end()
				;
				$.each(providersArray, function (key, provider) {
					$('#providers-selector').append('<label id="' + provider.id + '">' +
							'<input type="radio" name="providerRadio" value="' + provider.id + '">' +
							'<p>' + provider.public_name + '</p>' +
						'</label>'
					);
					resources.push({id: provider.id, name: provider.public_name});
					resourcesColors.push({id: provider.id, color: colors[count%30]});
					$('#providers-selector').children('#' + provider.id).children('p').css({'border-bottom-color': colors[count%30], 'border-bottom-style': 'solid'});
					count += 1;
					$('#booking_service_provider_id')
					    .append('<option value="'+ provider.id +'">'+ provider.public_name +'</option>')
					;
					$('#provider_break_service_provider_id')
					    .append('<option value="'+ provider.id +'">'+ provider.public_name +'</option>')
					;
				});
				$('[name="providerRadio"]').on('click', function(event) {
					$('[name="providerRadio"]').parent().removeClass('active');
					event.target.parentNode.className += 'active';
					$('[name="providerRadio"]').attr('checked',false);
					$(this).attr('checked',true);
					var providerId = event.target.getAttribute('value');
					if (providerId == 0) {
						loadLocationTime (localId, resources);
					}
					else {
						loadProviderTime(providerId);
					}
					
				});
				loadLocationTime (localId, resources);
				return true;
			}
			loadWeekCalendar(0,24,[],[],0);
			return true;
		});
		return false;
	}
	return false;
}

function getHour(str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

function loadLocationTime (locationId, resources) {
	$('#calendar').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/location_time', {id: locationId}, function (times) {
		if (times.length > 0) {
			var minHour = 23;
			var minMinuts = 59;
			var maxHour = 00;
			var maxMinuts = 00;
			$.each(times, function (key, time) {
					var openHour = parseInt(getHour(time.open).substr(0, getHour(time.open).indexOf(':')));
					var openMinuts = parseInt(getHour(time.open).substr(getHour(time.open).indexOf(':') + 1));
					var closeHour = parseInt(getHour(time.close).substr(0, getHour(time.close).indexOf(':')));
					var closeMinuts = parseInt(getHour(time.close).substr(getHour(time.close).indexOf(':') + 1));
					if(openHour < minHour) {
						minHour = openHour;
						minMinuts = openMinuts;
					}
					else if (openHour == minHour) {
						if(openMinuts < minMinuts) {
							minMinuts = openMinuts;
						}
					}
					if(closeHour > maxHour) {
						maxHour = closeHour;
						maxMinuts = closeMinuts;
					}
					else if (closeHour == maxHour) {
						if(closeMinuts > maxMinuts) {
							maxMinuts = closeMinuts;
						}
					}
			});
			$.getJSON('/schedule', {local: $('input[name=localRadio]:checked').val()}, function (schedule) {
				hiddenDays = new Array();
				if (!schedule.Domingo.length) {
					hiddenDays.push(0);
				}
				if (!schedule.Lunes.length) {
					hiddenDays.push(1);
				}
				if (!schedule.Martes.length) {
					hiddenDays.push(2);
				}
				if (!schedule.Miércoles.length) {
					hiddenDays.push(3);
				}
				if (!schedule.Jueves.length) {
					hiddenDays.push(4);
				}
				if (!schedule.Viernes.length) {
					hiddenDays.push(5);
				}
				if (!schedule.Sábado.length) {
					hiddenDays.push(6);
				}
				loadResourcesCalendar(minHour + ':' + minMinuts, maxHour + ':' + maxMinuts, hiddenDays,resources,0);
			});	
		}
		else {
			loadWeekCalendar(0, 24, [],resources,0);
		}
	});
}

function loadProviderTime (providerId) {
	$('#calendar').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/provider_time', {id: providerId}, function (times) {
		var minHour = 23;
		var minMinuts = 59;
		var maxHour = 00;
		var maxMinuts = 00;
		$.each(times, function (key, time) {
				var openHour = parseInt(getHour(time.open).substr(0, getHour(time.open).indexOf(':')));
				var openMinuts = parseInt(getHour(time.open).substr(getHour(time.open).indexOf(':') + 1));
				var closeHour = parseInt(getHour(time.close).substr(0, getHour(time.close).indexOf(':')));
				var closeMinuts = parseInt(getHour(time.close).substr(getHour(time.close).indexOf(':') + 1));
				if(openHour < minHour) {
					minHour = openHour;
					minMinuts = openMinuts;
				}
				else if (openHour == minHour) {
					if(openMinuts < minMinuts) {
						minMinuts = openMinuts;
					}
				}
				if(closeHour > maxHour) {
					maxHour = closeHour;
					maxMinuts = closeMinuts;
				}
				else if (closeHour == maxHour) {
					if(closeMinuts > maxMinuts) {
						maxMinuts = closeMinuts;
					}
				}
		});
		$.getJSON('/schedule', {local: $('input[name=localRadio]:checked').val()}, function (schedule) {
			hiddenDays = new Array();
			if (!schedule.Domingo.length) {
				hiddenDays.push(0);
			}
			if (!schedule.Lunes.length) {
				hiddenDays.push(1);
			}
			if (!schedule.Martes.length) {
				hiddenDays.push(2);
			}
			if (!schedule.Miércoles.length) {
				hiddenDays.push(3);
			}
			if (!schedule.Jueves.length) {
				hiddenDays.push(4);
			}
			if (!schedule.Viernes.length) {
				hiddenDays.push(5);
			}
			if (!schedule.Sábado.length) {
				hiddenDays.push(6);
			}
			loadWeekCalendar(minHour + ':' + minMinuts, maxHour + ':' + maxMinuts, hiddenDays,[],providerId);
		});
	});
}

var bookingModalOpen = false;
var duration = 15;
function loadResourcesCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: 'prev,today,next',
			right: ''
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				editBookingModal(event.id);
			};
		},
		dayClick: function(date, allDay, jsEvent, view) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				createBookingModal(date);
			};
		},
		//eventMouseover: function(calEvent, domEvent) {
		// 	var layer =	"<div id='events-layer' class='fc-transparent' style='position:absolute; width:100%; height:100%; top:-1px; text-align:right; z-index:100'>asdfff</div>";
		// 	$(this).append(layer);
		// }, 
 
		// eventMouseout: function(calEvent, domEvent) {
		// 	$(this).find('div[id*=events-layer]').remove();
		// },
		firstDay: 1,	//Lunes
		defaultView: 'resourceDay',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M' 
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'  
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día',
			resourceDay: '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration,
		height : window.innerHeight-145,
		windowResize: function(view) {
			$('#calendar').fullCalendar('option', 'height', window.innerHeight-20);
		}
	});
	$('.fc-button').click(function (event) {
		var providerId = $('input[name="providerRadio"]:checked').val();
		loadProviderBooking(providerId);
	});
	loadProviderBooking(providerId);
}

function loadWeekCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: 'prev,today,next',
			right: ''
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				editBookingModal(event.id);
			};
		},
		dayClick: function(date, allDay, jsEvent, view) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				createBookingModal(date);
			};
		},
		firstDay: 1,	//Lunes
		defaultView: 'agendaWeek',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M' 
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'  
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration,
		height : window.innerHeight-145,
		windowResize: function(view) {
			$('#calendar').fullCalendar('option', 'height', window.innerHeight-20);
		}
	});
	$('.fc-button').click(function () {
		var providerId = $('input[name="providerRadio"]:checked').val();
		loadProviderBooking(providerId);
	});
	loadProviderBooking(providerId);
}

function loadProviderBooking (providerId) {
	var localId = $('input[name=localRadio]:checked').val();
	var start = $('#calendar').fullCalendar('getView').visStart;
	var end = $('#calendar').fullCalendar('getView').visEnd;
	var startParam = start.getFullYear()+'-'+(start.getMonth()+1)+'-'+start.getDate();
	var endParam = end.getFullYear()+'-'+(end.getMonth()+1)+'-'+end.getDate();
	$('#calendar').fullCalendar('removeEvents');
	if (providerId == 0) {
		$.getJSON('/booking', {location: localId, start: startParam, end: endParam}, function (bookings) {
			if (bookings.length > 0) {
				$.each(bookings, function (key, booking) {
					var eventColor = "#585858";
					for (i in resourcesColors) {
						if (resourcesColors[i].id == booking.service_provider_id) {
							eventColor = resourcesColors[i].color
						}
					}
					if (booking.status_id != 5) {
						var originClass = 'origin-manual';
						if (booking.web_origin) {
							originClass = 'origin-web';
						};
						if (booking.status_id == 2) {
							originClass += ' confirmed';
						}

						var events = {
							id: booking.id,
							title: booking.service_name+' - '+booking.last_name+', '+booking.first_name,
							allDay: false,
							start: booking.start,
							end: booking.end,
							resourceId: booking.service_provider_id,
							color: eventColor,
							className: originClass
						};
						$('#calendar').fullCalendar('renderEvent', events, true);
					}
				});
			}
		});
		$('input[name="providerRadio"]').each(function () {
			var providerId = $(this).val();
			if (providerId > 0) {
				loadProviderBreaks(providerId);
				$.getJSON('/provider_breaks', {service_provider_id: providerId, start: startParam, end: endParam }, function (breaksArray) {
					if (breaksArray.length > 0) {
						$.each(breaksArray, function (key, providerBreak) {
							var eventColor = "#373737";
							var events = {
								id: 'b'+providerBreak.id,
								title: 'Hora Bloqueada',
								allDay: false,
								start: providerBreak.start,
								end: providerBreak.end,
								editable: false,
								resourceId: parseInt(providerId),
								color: eventColor
							};
							$('#calendar').fullCalendar('renderEvent', events, true);
						});
					}
				});
			};
		});
	}
	else {
		loadProviderBreaks(providerId);
		$.getJSON('/booking', {location: localId, provider: providerId, start: startParam, end: endParam}, function (bookings) {
			if (bookings.length > 0) {
				$.each(bookings, function (key, booking) {
					var eventColor = "#585858";
					for (i in resourcesColors) {
						if (resourcesColors[i].id == booking.service_provider_id) {
							eventColor = resourcesColors[i].color
						}
					}
					if (booking.status_id != 5) {
						var originClass = 'origin-manual';
						if (booking.web_origin) {
							originClass = 'origin-web';
						}
						if (booking.status_id == 2) {
							originClass += ' confirmed';
						}
						var events = {
							id: booking.id,
							title: booking.service_name+' - '+booking.last_name+', '+booking.first_name,
							allDay: false,
							start: booking.start,
							end: booking.end,
							resourceId: booking.service_provider_id,
							color: eventColor,
							className: originClass
						};
						$('#calendar').fullCalendar('renderEvent', events, true);
					}
				});
			}
		});

	
		$.getJSON('/provider_breaks', {service_provider_id: providerId, start: startParam, end: endParam}, function (breaksArray) {
			if (breaksArray.length > 0) {
				$.each(breaksArray, function (key, providerBreak) {
					var eventColor = "#373737";
					var events = {
						id: 'b'+providerBreak.id,
						title: 'Hora Bloqueada',
						allDay: false,
						start: providerBreak.start,
						end: providerBreak.end,
						editable: false,
						resourceId: providerId,
						color: eventColor
					};
					$('#calendar').fullCalendar('renderEvent', events, true);
				});
			}
		});
	}
	return false;
}

function loadProviderBreaks (providerId) {
	$.getJSON('/provider_time', {id: providerId}, function (times) {
		$('#calendar').fullCalendar('removeEvents', 'break'+providerId);
		for (var i = 0; i < times.length - 1; i++) {
			if (times[i].day_id == times[i + 1].day_id) {
				var now = $('#calendar').fullCalendar('getDate');
				var start_booking = times[i].close.substring(times[i].close.indexOf('T') + 1).split(':');
				var end_booking = times[i + 1].open.substring(times[i + 1].open.indexOf('T') + 1).split(':');
				
				var today = now.getDay() - times[i].day_id;
				var offset = 0 - today;
				var start_date = new Date(now.getFullYear(), now.getMonth(), now.getDate(), start_booking[0], start_booking[1]);
				start_date.setDate(now.getDate() + offset);

				today = now.getDay() - times[i].day_id;
				offset = 0 - today;
				var end_date = new Date(now.getFullYear(), now.getMonth(), now.getDate(), end_booking[0], end_booking[1]);
				end_date.setDate(now.getDate() + offset);

				var events = {
					id: 'p'+providerId,
					title: 'Descanso',
					allDay: false,
					start: start_date,
					end: end_date,
					editable: false,
					resourceId: times[i].service_provider_id,
					color: '#585858'
				};
				$('#calendar').fullCalendar('renderEvent', events, true);
			};
		};
	});
}

function editBookingModal(eventId) {
	if (eventId.toString().indexOf('b') >= 0) {
		editBreakModal(eventId.split('b')[1]);
	}
	else if (eventId.toString().indexOf('p') >= 0) {
		bookingModalOpen = false;
		return false;
	}
	else {
		$.getJSON('/bookings/'+eventId, function (booking) {
			var start = booking.start || 0;
			if (start != 0) {
				dateArray = start.toString().split('T');
				date = new Date(start)

				month = date.getMonth()+1;
				day = date.getDate();

				output = (day<10 ? '0' : '') + day + '/' + (month<10 ? '0' : '') + month + '/' + date.getFullYear();

				// date = new Date(dateArray);
				// dateS = date.toString().split(' ');
				$('#datePicker').val(output);
				$('#bookingStartHour option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
				$('#bookingStartMinute option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
			}
			else {
				$('#datePicker').val('');
				$('#bookingStartHour').val('');
				$('#bookingStartMinute').val('');
			}
			$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
			$('#booking_status_id option[value="'+booking.status_id+'"]').attr("selected",true);
			$('#booking_first_name').val(booking.first_name);
			$('#booking_last_name').val(booking.last_name);
			$('#full_name').val(booking.first_name+' '+booking.last_name);
			$('#booking_email').val(booking.email);
			$('#booking_phone').val(booking.phone);
			$('#booking_notes').val(booking.notes);
			$('#booking_company_comment').val(booking.company_comment);
			if (booking.send_mail) {
				$('#booking_send_mail').val(1);
				$('#booking_send_mail').prop('checked', true);
				$('input[name="booking[send_mail]"]:first').val(1);
			} else{
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('input[name="booking[send_mail]"]:first').val(0);
			};
			if (validEmail(booking.email)) {
				$('#booking_send_mail').prop('disabled', false);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			modalChange();
			$('.booking-modal-title').empty();
			$('.booking-modal-footer').empty();
			$('.booking-modal-title').append('Editando Reserva');
			$('.booking-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><button type="button" class="btn btn-primary" onclick="editBooking('+eventId+')">Guardar</button><button type="button" class="btn btn-danger" onclick="deleteBooking('+eventId+')">Eliminar</button>');

			if ( booking.service_provider_id > 0) {
				$.getJSON('/provider_services', {id: booking.service_provider_id}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id option[value="'+booking.service_id+'"]').attr("selected",true);
					$('#booking_service_id').removeAttr('disabled');
				});
			}

			$.getJSON('/get_booking_info', {id: eventId}, function (booking_info) {
				if (!booking_info.service_provider_active) {
					if ($('#booking_service_provider_id option[value="' + booking.service_provider_id + '"]').length == 0) {
						$('#booking_service_provider_id').append('<option value="' + booking.service_provider_id + '">' + booking_info.service_provider_name + '</option>');
					}
					$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
				}
				if (!booking_info.service_active) {
					if ($('#booking_service_id option[value="' + booking.service_id + '"]').length == 0) {
						$('#booking_service_id').append('<option value="' + booking.service_id + '">' + booking_info.service_name + '</option>');
					}
					$('#booking_service_id option[value="'+booking.service__id+'"]').attr("selected",true);
				}
				modalChange();

				$('#bookingModal').modal('show');
			});
		});	
	}
}

function createBookingModal(date) {
	var localId = $('input[name=localRadio]:checked').val();
	var date = date || 0;
	$.getJSON('/local_providers', {location: localId}, function (providersArray) {
		if (providersArray.length > 0) {
			if (date != 0) {
				dateArray = date.toString().split(' ');
				//Falta revisar el tema de las fechas, deberían ser contantes en la app
				$('#datePicker').val(dateArray[2]+'/'+dateArray[1]+'/'+dateArray[3]);
				$('#bookingStartHour option[value="'+dateArray[4].split(':')[0]+'"]').attr("selected",true);
				$('#bookingStartMinute option[value="'+dateArray[4].split(':')[1]+'"]').attr("selected",true);
				modalChange();
			}
			else {
				$('#datePicker').val('');
				$('#bookingStartHour').val('');
				$('#bookingStartMinute').val('');
			}
			if (parseInt($('input[name=providerRadio]:checked').val()) > 0) {
				$('#booking_service_provider_id option[value="'+$('input[name=providerRadio]:checked').val()+'"]').attr("selected",true);
				$.getJSON('/provider_services', {id: parseInt($('input[name=providerRadio]:checked').val())}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id').removeAttr('disabled');
					modalChange();
				});
			}
			else {
				$('#booking_service_provider_id').val('');
			}
			$('#booking_status_id').val('1');
			$('#booking_first_name').val('');
			$('#booking_last_name').val('');
			$('#full_name').val('');
			$('#booking_email').val('');
			$('#booking_phone').val('');
			$('#booking_notes').val('');
			$('#booking_company_comment').val('');
			$('#booking_send_mail').val(0);
			$('#booking_send_mail').prop('checked', false);
			$('#booking_send_mail').prop('disabled', true);
			if (!$('label[for=booking_send_mail]').hasClass('disabled')) {
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('.booking-modal-title').empty();
			$('.booking-modal-footer').empty();
			$('.booking-modal-title').append('Nueva Reserva');
			$('.booking-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button><button type="button" class="btn btn-primary" onclick="createBooking()">Guardar</button>');

			$('#bookingModal').modal('show');	
		}
		else {
			alertId.showAlert('<h3>Este local no tiene proveedores o servicios</h3>Por favor complete los datos antes de reservar.');
			bookingModalOpen = false;
		}
	});
}

function splitFullName() {
	var nameArray = $('#full_name').val().split(' ');
	if (nameArray.length == 0) {

	}
	else if (nameArray.length == 1) {
		$('#booking_first_name').val(nameArray[0]);
	}
	else if (nameArray.length == 2) {
		$('#booking_first_name').val(nameArray[0]);
		$('#booking_last_name').val(nameArray[1]);	
	}
	else if (nameArray.length == 3) {
		$('#booking_first_name').val(nameArray[0]);
		$('#booking_last_name').val(nameArray[1]+' '+nameArray[2]);
	}
	else {
		$('#booking_first_name').val(nameArray[0]+' '+nameArray[1]);
		var last_name = '';
		for (var i = 2; i < nameArray.length; i++) {
			last_name += nameArray[i]+' ';
		}
		$('#booking_last_name').val(last_name);
	}
}

function editBooking(eventId) {
	splitFullName();
	saveBooking('PATCH','/'+eventId);
}

function createBooking() {
	splitFullName();
	saveBooking('POST','');
}

function deleteBooking(eventId) {
	saveBooking('DELETE','/'+eventId);
}

function jsonBooking() {
	var jsBooking = {
		"start": $('#datePicker').val() +"T"+ $('#bookingStartHour').val() +":"+ $('#bookingStartMinute').val() +":00Z",
		"end":$('#datePicker').val() +"T"+ $('#bookingEnd').text() +":00Z",
		"service_provider_id": parseInt($('#booking_service_provider_id').val()),
		"service_id": parseInt($('#booking_service_id').val()),
		"status_id": parseInt($('#booking_status_id').val()),
		"first_name": $('#booking_first_name').val(),
		"last_name": $('#booking_last_name').val(),
		"email": $('#booking_email').val(),
		"phone": $('#booking_phone').val(),
		"notes": $('#booking_notes').val(),
		"company_comment": $('#booking_company_comment').val(),
		"send_mail": $('#booking_send_mail').prop('checked')
	};
	return jsBooking;
}


function editDrag(event) {
	var startDate = new Date(event.start);
	var endDate = new Date(event.end);
	var extraMonth = "";
	var extraDate = "";
	if (startDate.getMonth() < 10) {
		extraMonth = "0";
	}
	if (startDate.getDate() < 10) {
		extraDate = "0";
	}
	var startString = startDate.getFullYear()+"-"+extraMonth+(startDate.getMonth()+1)+"-"+extraDate+startDate.getDate()+"T"+startDate.getHours()+":"+startDate.getMinutes()+":00Z";
	var endString = endDate.getFullYear()+"-"+extraMonth+(endDate.getMonth()+1)+"-"+extraDate+endDate.getDate()+"T"+endDate.getHours()+":"+endDate.getMinutes()+":00Z";

	if (event.resourceId) {
		var bookingJSON = {start: startString, end: endString, service_provider_id: event.resourceId};
	}
	else {
		var bookingJSON = {start: startString, end: endString};
	}
	$.ajax({
		type: 'PATCH',
		url: '/bookings/'+ event.id +'.json',
		data: { "booking": bookingJSON },
		dataType: 'json',
		success: function(){
			alertId.showAlert("Horario de la reserva cambiado exitosamente.");
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += errors[i];
			}
			alertId.showAlert(errores);
			$.getJSON('/bookings/'+event.id, function (booking) {
				event.start = booking.start;
				event.end = booking.end;
				event.resourceId = booking.service_provider_id;
				$('#calendar').fullCalendar('updateEvent', event);
			});
		}
	});
}

function saveBooking(typeURL, extraURL) {
	var bookingJSON = jsonBooking();
	$.ajax({
		type: typeURL,
		url: '/bookings'+ extraURL +'.json',
		data: { "booking": bookingJSON },
		dataType: 'json',
		success: function(booking){
			switch(typeURL) {
			case 'POST':
				var eventColor = "#585858";
				for (i in resourcesColors) {
					if (resourcesColors[i].id == booking[0].service_provider_id) {
						eventColor = resourcesColors[i].color
					}
				}
				if (booking[0].status_id != 5) {
					var originClass = 'origin-manual';
					if (booking[0].status_id == 2) {
						originClass += ' confirmed';
					}
					var events = {
						id: booking[0].id,
						title: booking[1]+' - '+booking[0].last_name+', '+booking[0].first_name,
						allDay: false,
						start: booking[0].start,
						end: booking[0].end,
						resourceId: booking[0].service_provider_id,
						color: eventColor,
						className: originClass
					};
					$('#calendar').fullCalendar('renderEvent', events, true);
				}
				$('#bookingModal').modal('hide');
				break;
			case 'PATCH':
				event = $('#calendar').fullCalendar('clientEvents', booking[0].id)[0];
				var eventColor = "#585858";
				for (i in resourcesColors) {
					if (resourcesColors[i].id == booking[0].service_provider_id) {
						eventColor = resourcesColors[i].color
					}
				}
				if (booking[0].status_id != 5) {
					var originClass = 'origin-manual';
						if (booking.web_origin) {
							originClass = 'origin-web';
						};
					if (booking[0].status_id == 2) {
						originClass += ' confirmed';
					}
					event.title = booking[1]+' - '+booking[0].last_name+', '+booking[0].first_name;
					event.start = booking[0].start;
					event.end = booking[0].end;
					event.resourceId = booking[0].service_provider_id;
					event.color = eventColor;
					event.className = originClass;
					$('#calendar').fullCalendar('updateEvent', event);
				}
				else {
					$('#calendar').fullCalendar('removeEvents',booking[0].id);
				}
				$('#bookingModal').modal('hide');
				break;
			case 'DELETE':
				$('#calendar').fullCalendar('removeEvents',booking.id);
				$('#bookingModal').modal('hide');
				break;
			}
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += errors[i];
			}
			alertId.showAlert(errores);
		}
	});
}

function saveBreak (typeURL, extraURL) {
	var breakJSON = { "service_provider_id": $('#provider_break_service_provider_id').val(), "start": $('#provider_break_start_1i').val() +"-"+ $('#provider_break_start_2i').val() +"-"+ $('#provider_break_start_3i').val() +"T"+ $('#provider_break_start_4i').val() +":"+ $('#provider_break_start_5i').val() +":00Z", "end": $('#provider_break_end_1i').val() +"-"+ $('#provider_break_end_2i').val() +"-"+ $('#provider_break_end_3i').val() +"T"+ $('#provider_break_end_4i').val() +":"+ $('#provider_break_end_5i').val() +":00Z" };
	$.ajax({
		type: typeURL,
		url: '/provider_breaks'+extraURL+'.json',
		data: { "provider_break": breakJSON },
		dataType: 'json',
		success: function(provider_break){
			switch(typeURL) {
			case 'POST':
				var eventColor = "#373737";
				var events = {
					id: 'b'+provider_break.id,
					title: 'Hora Bloqueada',
					allDay: false,
					start: provider_break.start,
					end: provider_break.end,
					editable: false,
					resourceId: parseInt(provider_break.service_provider_id),
					color: eventColor
				};
				$('#calendar').fullCalendar('renderEvent', events, true);
				$('#breakModal').modal('hide');
				break;
			case 'PATCH':
				event = $('#calendar').fullCalendar('clientEvents', 'b'+provider_break.id)[0];
				event.start = provider_break.start;
				event.end = provider_break.end;
				event.resourceId = parseInt(provider_break.service_provider_id);
				$('#calendar').fullCalendar('updateEvent', event);
				$('#breakModal').modal('hide');
				break;
			case 'DELETE':
				$('#calendar').fullCalendar('removeEvents','b'+provider_break.id);
				$('#breakModal').modal('hide');
				break;
			}
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += errors[i];
			}
			alertId.showAlert(errores);
		}
	});
}

function getAvailableProviders() {
	if ($('[name="localRadio"]').is(':checked')) {
		if (parseInt($('input[name=providerRadio]:checked').val()) == 0) {
			queryJSON = { "start": $('#datePicker').val() +"T"+ $('#bookingStartHour').val() +":"+ $('#bookingStartMinute').val() +":00Z","end":$('#datePicker').val() +"T"+ $('#bookingEnd').text() +":00Z", "location_id": $('input[name=localRadio]:checked').val() }
			$.getJSON('/available_providers', queryJSON, function (providersArray) { 
				$(function(){
				    $('#booking_service_provider_id option').filter(function () {
				       return $.inArray(this.value(), providersArray) == -1;
				    }).remove();
				});
			});
		}
	}
}

function modalChange() {
	$('#bookingEnd').empty()
	if ($("#bookingStartHour").val() != '' && $("#bookingStartMinute").val() != '' && $("#booking_service_id").val() != '') {
		var duration = 0;
		for (i in servicesJSON) {
			if ($("#booking_service_id").val() == servicesJSON[i].id) {
				duration = servicesJSON[i].duration;
			}
		}
		var extraCharH = '';
		var extraCharM = '';
		var hours = parseInt($("#bookingStartHour").val());
		var minutes = parseInt($("#bookingStartMinute").val()) + duration;
		if (minutes >= 60) {
			hours += Math.floor(minutes/60);
			minutes = minutes%60;
		}
		if (hours < 10) {
			extraCharH = '0';
		}
		if (minutes < 10) {
			extraCharM = '0';
		}
		$('#bookingEnd').append(extraCharH+hours+':'+extraCharM+minutes);
	}
	else {
		$('#bookingEnd').append($("#bookingStartHour").val()+':'+$("#bookingStartMinute").val());
	}
}

function createBreakModal() {
	if (parseInt($('input[name=providerRadio]:checked').val()) > 0) {
		$('#provider_break_service_provider_id option[value="'+$('input[name=providerRadio]:checked').val()+'"]').attr("selected",true);
	}
	$('.break-modal-footer').empty();
	$('.break-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-primary" id="save_break">Guardar</button>');
	$('#save_break').click(function() {
		saveBreak('POST','');
	});
	$('#breakModal').modal('show');
}

function editBreakModal(breakId) {
	$.getJSON('/provider_breaks/'+breakId, function (provider_break) {
		var start = provider_break.start || 0;
		var end = provider_break.end || 0;
		if (start != 0) {
			dateArray = start.toString().split('T');
			date = new Date(start)
			month = date.getMonth()+1;
			day = date.getDate();
			$('#provider_break_start_1i option[value="'+date.getFullYear()+'"]').attr("selected",true);
			$('#provider_break_start_2i option[value="'+month+'"]').attr("selected",true);
			$('#provider_break_start_3i option[value="'+day+'"]').attr("selected",true);
			$('#provider_break_start_4i option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
			$('#provider_break_start_5i option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
		}
		if (end != 0) {
			dateArray = end.toString().split('T');
			date = new Date(end)
			month = date.getMonth()+1;
			day = date.getDate();
			$('#provider_break_end_1i option[value="'+date.getFullYear()+'"]').attr("selected",true);
			$('#provider_break_end_2i option[value="'+month+'"]').attr("selected",true);
			$('#provider_break_end_3i option[value="'+day+'"]').attr("selected",true);
			$('#provider_break_end_4i option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
			$('#provider_break_end_5i option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
		}
		$('#provider_break_service_provider_id option[value="'+provider_break.service_provider_id+'"]').attr("selected",true);;
		$('.break-modal-footer').empty();
		$('.break-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-primary" id="edit_break">Guardar</button><button type="button" class="btn btn-danger" id="destroy_break">Eliminar</button>');
		$('#edit_break').click(function() {
			saveBreak('PATCH','/'+breakId);
		});
		$('#destroy_break').click(function() {
			saveBreak('DELETE','/'+breakId);
		});
		$('#breakModal').modal('show');
	});
}

function validEmail(email) {
	var atpos = email.indexOf("@");
	var dotpos = email.lastIndexOf(".");
	if (atpos < 1 || dotpos < atpos+2 || dotpos+2 >= email.length) {
	  return false;
	}
	return true;
}

var servicesJSON;
var alertId;
$(function() {
	alertId = new Alert();
	$('.createBooking').click(function() {
		createBookingModal();
		return false;
	});
	$('.createBreak').click(function() {
		createBreakModal();
		return false;
	});
	$.getJSON('/services', function (services) {
		servicesJSON = services;
		loadProviders();
		$('#datePicker').datepicker({
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
			dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
			dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ]
		});
		$("#bookingStartHour").on("change", function() { 
			modalChange();
		});
		$("#bookingStartMinute").on("change", function() { 
			modalChange();
		});
		$("#booking_service_id").on("change", function() { 
			modalChange();
		});
	});
	$('[name="localRadio"]').first().parent().addClass("active")
	$('[name="localRadio"]').click(function (e) {
		$('[name="localRadio"]').parent().removeClass('active');
		e.target.parentNode.className += 'active';
	});

	$("#dp").datepicker({
		dateFormat: 'dd/M/yy',
		autoSize: true,
		// buttonText: "Ir a Fecha",
		changeMonth: true,
		changeYear: true,
		// showOn: 'both',
		firstDay: 1,
		dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
		dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
		dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ],
		onSelect: function(dateText, inst) {
			var d = new Date(dateText);
			$('#calendar').fullCalendar('gotoDate', d);
			var providerId = $('input[name="providerRadio"]:checked').val();
			loadProviderBooking(providerId);
		}
	});

	$("#booking_email").autocomplete({
		source: '/clients_suggestion',
		appendTo: '#email_suggestions',
		autoFocus: true,
		minLength: 2,
		select: function( event, ui ) {
			event.preventDefault();
			$('#booking_first_name').val(ui.item.value[0]);
			$('#booking_last_name').val(ui.item.value[1]);
			$('#booking_phone').val(ui.item.value[3]);
			$('#booking_email').val(ui.item.value[2]);
			$("#full_name").val(ui.item.value[0]+' '+ui.item.value[1])
			if (validEmail($("#booking_email").val())) {
				$('#booking_send_mail').prop('disabled', false);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
		}
	});

	$("#booking_email").on('input',function(e){
		if (validEmail($("#booking_email").val())) {
			$('#booking_send_mail').prop('disabled', false);
			$('label[for=booking_send_mail]').removeClass('disabled');
		}
		else {
			$('#booking_send_mail').val(0);
			$('#booking_send_mail').prop('checked', false);
			$('#booking_send_mail').prop('disabled', true);
			$('label[for=booking_send_mail]').addClass('disabled');
		}
	});

	$("#full_name").autocomplete({
		source: '/clients_name_suggestion',
		appendTo: '#full_name_suggestions',
		autoFocus: true,
		minLength: 2,
		select: function( event, ui ) {
			event.preventDefault();
			$('#booking_first_name').val(ui.item.value[0]);
			$('#booking_last_name').val(ui.item.value[1]);
			$('#booking_phone').val(ui.item.value[3]);
			$('#booking_email').val(ui.item.value[2]);
			$("#full_name").val(ui.item.value[0]+' '+ui.item.value[1])
			if (validEmail($("#booking_email").val())) {
				$('#booking_send_mail').prop('disabled', false);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
		}
	}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
    	return $( "<li>" ).append( "<a>" + item.label + "<br>" + item.desc + "</a>" ).appendTo( ul );
    };

	$('#booking_service_provider_id').change(function (event) {
		$.getJSON('/provider_services', {id: event.target.value}, function (services) {
			$('#booking_service_id').empty();
			$.each(services, function (key, service) {
				$('#booking_service_id').append(
					'<option value="' + service.id + '">' + service.name + '</option>'
				);
			});
			$('#booking_service_id').removeAttr('disabled');
			modalChange();
		});
	});

	$(".ui-datepicker-trigger").addClass("btn btn-primary pull-right")

	$('#bookingModal').on('hidden.bs.modal', function (e) {
		$('#booking_service_id').attr('disabled', true);
		bookingModalOpen = false;
	});
});