var colors = ["#1e8584","#006D68","#1F6185","#3E4A8D","#EE5858","#EEE458","#E0D20B","#62718B","#C14949","#53565A","#DFD1A7","#7A6855","#FA4616","#628B75","#6B8B62","#8B6286","#6C9FB5","#A4D899","#99D8D7","#727D7D","#99ABD8","#A2E18B","#E18B8B","#108190","#106990","#56918E","#8A9F9E","#0C660E","#294852","#08769A","#1e8584","#006D68"]
var resourcesColors = [];

function loadProviders () {
	if ($('[name="localRadio"]').is(':checked')) {
		$('#providers-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		var localId = $('input[name=localRadio]:checked').val();
		$('#providers-selector').empty();
		$('#providers-selector').append('<label class="active" id="l_todos">' +
				'<input type="radio" name="providerRadio" value="0" checked>' +
				'<p>Todos</p>' +
			'</label>'
		);
		var resources = [];
		resourcesColors = [];
		var count = 0;
		$.getJSON('/local_providers', {location: localId}, function (providersArray) {
			if (providersArray.length > 0) {
				$('#booking_service_provider_id')
				    .find('option')
				    .remove()
				    .end()
				;
				$.each(providersArray, function (key, provider) {
					$('#providers-selector').append('<label id="' + provider.id + '">' +
							'<input type="radio" name="providerRadio" value="' + provider.id + '">' +
							'<p>' + provider.public_name + '</p>' +
						'</label>'
					);
					resources.push({id: provider.id, name: provider.public_name});
					resourcesColors.push({id: provider.id, color: colors[count%30]});
					$('#providers-selector').children('#' + provider.id).children('p').css({'border-bottom-color': colors[count%30], 'border-bottom-style': 'solid'});
					count += 1;
					$('#booking_service_provider_id')
					    .append('<option value="'+ provider.id +'">'+ provider.public_name +'</option>')
					;
				});
				$('[name="providerRadio"]').on('click', function(event) {
					$('[name="providerRadio"]').parent().removeClass('active');
					event.target.parentNode.className += 'active';
					$('[name="providerRadio"]').attr('checked',false);
					$(this).attr('checked',true);
					var providerId = event.target.getAttribute('value');
					if (providerId == 0) {
						loadLocationTime (localId, resources);
					}
					else {
						loadProviderTime(providerId);
					}
					
				});
				loadLocationTime (localId, resources);
				return true;
			}
			loadWeekCalendar(0,24,[],[],0);
			return true;
		});
		return false;
	}
	return false;
}

function getHour(str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

function loadLocationTime (locationId, resources) {
	$('#calendar').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/location_time', {id: locationId}, function (times) {
		if (times.length > 0) {
			var minHour = 23;
			var minMinuts = 59;
			var maxHour = 00;
			var maxMinuts = 00;
			$.each(times, function (key, time) {
					var openHour = parseInt(getHour(time.open).substr(0, getHour(time.open).indexOf(':')));
					var openMinuts = parseInt(getHour(time.open).substr(getHour(time.open).indexOf(':') + 1));
					var closeHour = parseInt(getHour(time.close).substr(0, getHour(time.close).indexOf(':')));
					var closeMinuts = parseInt(getHour(time.close).substr(getHour(time.close).indexOf(':') + 1));
					if(openHour < minHour) {
						minHour = openHour;
						minMinuts = openMinuts;
					}
					else if (openHour == minHour) {
						if(openMinuts < minMinuts) {
							minMinuts = openMinuts;
						}
					}
					if(closeHour > maxHour) {
						maxHour = closeHour;
						maxMinuts = closeMinuts;
					}
					else if (closeHour == maxHour) {
						if(closeMinuts > maxMinuts) {
							maxMinuts = closeMinuts;
						}
					}
			});
			$.getJSON('/schedule', {local: $('input[name=localRadio]:checked').val()}, function (schedule) {
				hiddenDays = new Array();
				if (!schedule.Domingo.length) {
					hiddenDays.push(0);
				}
				if (!schedule.Lunes.length) {
					hiddenDays.push(1);
				}
				if (!schedule.Martes.length) {
					hiddenDays.push(2);
				}
				if (!schedule.Miércoles.length) {
					hiddenDays.push(3);
				}
				if (!schedule.Jueves.length) {
					hiddenDays.push(4);
				}
				if (!schedule.Viernes.length) {
					hiddenDays.push(5);
				}
				if (!schedule.Sábado.length) {
					hiddenDays.push(6);
				}
				loadResourcesCalendar(minHour + ':' + minMinuts, maxHour + ':' + maxMinuts, hiddenDays,resources,0);
			});	
		}
		else {
			loadWeekCalendar(0, 24, [],resources,0);
		}
	});
}

function loadProviderTime (providerId) {
	$('#calendar').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
	$.getJSON('/provider_time', {id: providerId}, function (times) {
		var minHour = 23;
		var minMinuts = 59;
		var maxHour = 00;
		var maxMinuts = 00;
		$.each(times, function (key, time) {
				var openHour = parseInt(getHour(time.open).substr(0, getHour(time.open).indexOf(':')));
				var openMinuts = parseInt(getHour(time.open).substr(getHour(time.open).indexOf(':') + 1));
				var closeHour = parseInt(getHour(time.close).substr(0, getHour(time.close).indexOf(':')));
				var closeMinuts = parseInt(getHour(time.close).substr(getHour(time.close).indexOf(':') + 1));
				if(openHour < minHour) {
					minHour = openHour;
					minMinuts = openMinuts;
				}
				else if (openHour == minHour) {
					if(openMinuts < minMinuts) {
						minMinuts = openMinuts;
					}
				}
				if(closeHour > maxHour) {
					maxHour = closeHour;
					maxMinuts = closeMinuts;
				}
				else if (closeHour == maxHour) {
					if(closeMinuts > maxMinuts) {
						maxMinuts = closeMinuts;
					}
				}
		});
		$.getJSON('/schedule', {local: $('input[name=localRadio]:checked').val()}, function (schedule) {
			hiddenDays = new Array();
			if (!schedule.Domingo.length) {
				hiddenDays.push(0);
			}
			if (!schedule.Lunes.length) {
				hiddenDays.push(1);
			}
			if (!schedule.Martes.length) {
				hiddenDays.push(2);
			}
			if (!schedule.Miércoles.length) {
				hiddenDays.push(3);
			}
			if (!schedule.Jueves.length) {
				hiddenDays.push(4);
			}
			if (!schedule.Viernes.length) {
				hiddenDays.push(5);
			}
			if (!schedule.Sábado.length) {
				hiddenDays.push(6);
			}
			loadWeekCalendar(minHour + ':' + minMinuts, maxHour + ':' + maxMinuts, hiddenDays,[],providerId);
		});
	});
}

var duration = 15;
function loadResourcesCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: 'agendaWeek,resourceDay',
			center: 'prev,today,next',
			right: 'title'
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			editBookingModal(event.id);
		},
		dayClick: function(date, allDay, jsEvent, view) {
			createBookingModal(date);
		},
		//eventMouseover: function(calEvent, domEvent) {
		// 	var layer =	"<div id='events-layer' class='fc-transparent' style='position:absolute; width:100%; height:100%; top:-1px; text-align:right; z-index:100'>asdfff</div>";
		// 	$(this).append(layer);
		// }, 
 
		// eventMouseout: function(calEvent, domEvent) {
		// 	$(this).find('div[id*=events-layer]').remove();
		// },
		firstDay: 1,	//Lunes
		defaultView: 'agendaWeek',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M' 
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'  
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día',
			resourceDay: '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration
	});
	loadProviderBooking(providerId);
	$('.fc-button').click(function (event) {
		if ($('.fc-button-agendaWeek.fc-state-active')[0]) {
			$('input[name="providerRadio"]').each(function () {
				$('#calendar').fullCalendar('removeEvents', 'break'+$(this).val());
			});
		}
		else {
			$('input[name="providerRadio"]').each(function () {
				if ($(this).val() > 0) {
					loadProviderBreaks ($(this).val());
				};
			});
		};
	});
}

function loadWeekCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: '',
			center: 'prev,today,next',
			right: 'title'
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			editBookingModal(event.id);
		},
		dayClick: function(date, allDay, jsEvent, view) {
			createBookingModal(date);
		},
		firstDay: 1,	//Lunes
		defaultView: 'agendaWeek',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M' 
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'  
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration
	});
	loadProviderBooking(providerId);
	$('.fc-button').click(function () {
		var providerId = $('input[name="providerRadio"]:checked').val();
		loadProviderBreaks (providerId);
		loadProviderBooking(providerId);
	});
}

function loadProviderBooking (providerId) {
	var localId = $('input[name=localRadio]:checked').val();
	$('#calendar').fullCalendar('removeEvents');
	if (providerId == 0) {
		$.getJSON('/booking', {location: localId}, function (bookings) {
			if (bookings.length > 0) {
				$.each(bookings, function (key, booking) {
					var eventColor = "#585858";
					for (i in resourcesColors) {
						if (resourcesColors[i].id == booking.service_provider_id) {
							eventColor = resourcesColors[i].color
						}
					}
					var events = {
						id: booking.id,
						title: booking.service_name,
						allDay: false,
						start: booking.start,
						end: booking.end,
						resourceId: booking.service_provider_id,
						color: eventColor
					};
					$('#calendar').fullCalendar('renderEvent', events, true);
				});
			}
		});
	}
	else {
		loadProviderBreaks(providerId);
		$.getJSON('/booking', {location: localId, provider: providerId}, function (bookings) {
			if (bookings.length > 0) {
				$.each(bookings, function (key, booking) {
					var eventColor = "#585858";
					for (i in resourcesColors) {
						if (resourcesColors[i].id == booking.service_provider_id) {
							eventColor = resourcesColors[i].color
						}
					}
					var events = {
						id: booking.id,
						title: booking.service_name,
						allDay: false,
						start: booking.start,
						end: booking.end,
						resourceId: booking.service_provider_id,
						color: eventColor
					};
					$('#calendar').fullCalendar('renderEvent', events, true);
				});
			}
		});
	}
	return false;
}

function loadProviderBreaks (providerId) {
	$.getJSON('/provider_time', {id: providerId}, function (times) {
		$('#calendar').fullCalendar('removeEvents', 'break'+providerId);
		for (var i = 0; i < times.length - 1; i++) {
			if (times[i].day_id == times[i + 1].day_id) {
				var now = $('#calendar').fullCalendar('getDate');
				var start_booking = times[i].close.substring(times[i].close.indexOf('T') + 1).split(':');
				var end_booking = times[i + 1].open.substring(times[i + 1].open.indexOf('T') + 1).split(':');
				
				var today = now.getDay() - times[i].day_id;
				var offset = 0 - today;
				var start_date = new Date(now.getFullYear(), now.getMonth(), now.getDate(), start_booking[0], start_booking[1]);
				start_date.setDate(now.getDate() + offset);

				today = now.getDay() - times[i].day_id;
				offset = 0 - today;
				var end_date = new Date(now.getFullYear(), now.getMonth(), now.getDate(), end_booking[0], end_booking[1]);
				end_date.setDate(now.getDate() + offset);

				var events = {
					id: 'break'+providerId,
					title: 'Descanso',
					allDay: false,
					start: start_date,
					end: end_date,
					editable: false,
					resourceId: times[i].service_provider_id,
					color: '#585858'
				};
				$('#calendar').fullCalendar('renderEvent', events, true);
			};
		};
	});
}

function editBookingModal(eventId) {
	$.getJSON('/bookings/'+eventId, function (booking) {
		var start = booking.start || 0;
		if (start != 0) {
			dateArray = start.toString().split('T');
			date = new Date(start)

			month = date.getMonth()+1;
			day = date.getDate();

			output = (day<10 ? '0' : '') + day + '/' + (month<10 ? '0' : '') + month + '/' + date.getFullYear();

			// date = new Date(dateArray);
			// dateS = date.toString().split(' ');
			$('#datePicker').val(output);
			$('#bookingStartHour option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
			$('#bookingStartMinute option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
		}
		else {
			$('#datePicker').val('');
			$('#bookingStartHour').val('');
			$('#bookingStartMinute').val('');
		}
		$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
		$('#booking_status_id option[value="'+booking.status_id+'"]').attr("selected",true);
		$('#booking_first_name').val(booking.first_name);
		$('#booking_last_name').val(booking.last_name);
		$('#booking_email').val(booking.email);
		$('#booking_phone').val(booking.phone);
		$('#booking_notes').val(booking.notes);
		modalChange();
		$('#bookingModal').modal('hide');
		$('.booking-modal-title').empty();
		$('.booking-modal-footer').empty();
		$('.booking-modal-title').append('Editando Reserva');
		$('.booking-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-primary" onclick="editBooking('+eventId+')">Guardar</button><button type="button" class="btn btn-danger" onclick="deleteBooking('+eventId+')">Eliminar</button>');

		if ( booking.service_provider_id > 0) {
			$.getJSON('/provider_services', {id: booking.service_provider_id}, function (services) {
				$('#booking_service_id').empty();
				$.each(services, function (key, service) {
					$('#booking_service_id').append(
						'<option value="' + service.id + '">' + service.name + '</option>'
					);
				});
				$('#booking_service_id option[value="'+booking.service_id+'"]').attr("selected",true);
				$('#booking_service_id').removeAttr('disabled');
			});
		}

		$.getJSON('/get_booking_info', {id: eventId}, function (booking_info) {
			if (!booking_info.service_provider_active) {
				if ($('#booking_service_provider_id option[value="' + booking.service_provider_id + '"]').length == 0) {
					$('#booking_service_provider_id').append('<option value="' + booking.service_provider_id + '">' + booking_info.service_provider_name + '</option>');
				}
				$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
			}
			if (!booking_info.service_active) {
				if ($('#booking_service_id option[value="' + booking.service_id + '"]').length == 0) {
					$('#booking_service_id').append('<option value="' + booking.service_id + '">' + booking_info.service_name + '</option>');
				}
				$('#booking_service_id option[value="'+booking.service__id+'"]').attr("selected",true);
			}
			modalChange();

			$('#bookingModal').modal('show');
		});
	});	
}

function createBookingModal(date) {
	var localId = $('input[name=localRadio]:checked').val();
	var date = date || 0;
	$.getJSON('/local_providers', {location: localId}, function (providersArray) {
		if (providersArray.length > 0) {
			if (date != 0) {
				dateArray = date.toString().split(' ');
				//Falta revisar el tema de las fechas, deberían ser contantes en la app
				$('#datePicker').val(dateArray[2]+'/'+dateArray[1]+'/'+dateArray[3]);
				$('#bookingStartHour option[value="'+dateArray[4].split(':')[0]+'"]').attr("selected",true);
				$('#bookingStartMinute option[value="'+dateArray[4].split(':')[1]+'"]').attr("selected",true);
				modalChange();
			}
			else {
				$('#datePicker').val('');
				$('#bookingStartHour').val('');
				$('#bookingStartMinute').val('');
			}
			if (parseInt($('input[name=providerRadio]:checked').val()) > 0) {
				$('#booking_service_provider_id option[value="'+$('input[name=providerRadio]:checked').val()+'"]').attr("selected",true);
				$.getJSON('/provider_services', {id: parseInt($('input[name=providerRadio]:checked').val())}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id').removeAttr('disabled');
					modalChange();
				});
			}
			else {
				$('#booking_service_provider_id').val('');
			}
			$('#booking_status_id').val('');
			$('#booking_first_name').val('');
			$('#booking_last_name').val('');
			$('#booking_email').val('');
			$('#booking_phone').val('');
			$('#booking_notes').val('');
			$('#bookingModal').modal('hide');
			$('.booking-modal-title').empty();
			$('.booking-modal-footer').empty();
			$('.booking-modal-title').append('Nueva Reserva');
			$('.booking-modal-footer').append('<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><button type="button" class="btn btn-primary" onclick="createBooking()">Guardar</button>');

			$('#bookingModal').modal('show');	
		}
		else {
			alertId.showAlert('<h3>Este local no tiene proveedores o servicios</h3>Por favor complete los datos antes de reservar.')
		}
	});
}

function editBooking(eventId) {
	saveBooking('PATCH','/'+eventId);
}

function createBooking() {
	saveBooking('POST','');
}

function deleteBooking(eventId) {
	saveBooking('DELETE','/'+eventId);
}

function jsonBooking() {
	var jsBooking = { "start": $('#datePicker').val() +"T"+ $('#bookingStartHour').val() +":"+ $('#bookingStartMinute').val() +":00Z","end":$('#datePicker').val() +"T"+ $('#bookingEnd').text() +":00Z", "service_provider_id": parseInt($('#booking_service_provider_id').val()), "service_id": parseInt($('#booking_service_id').val()), "status_id": parseInt($('#booking_status_id').val()), "first_name": $('#booking_first_name').val(), "last_name": $('#booking_last_name').val(), "email": $('#booking_email').val(), "phone": $('#booking_phone').val(), "notes": $('#booking_notes').val() };
	return jsBooking;
}


function editDrag(event) {
	var startDate = new Date(event.start);
	var endDate = new Date(event.end);
	var extraMonth = "";
	var extraDate = "";
	if (startDate.getMonth() < 10) {
		extraMonth = "0";
	}
	if (startDate.getDate() < 10) {
		extraDate = "0";
	}
	var startString = startDate.getFullYear()+"-"+extraMonth+(startDate.getMonth()+1)+"-"+extraDate+startDate.getDate()+"T"+startDate.getHours()+":"+startDate.getMinutes()+":00Z";
	var endString = endDate.getFullYear()+"-"+extraMonth+(endDate.getMonth()+1)+"-"+extraDate+endDate.getDate()+"T"+endDate.getHours()+":"+endDate.getMinutes()+":00Z";

	if (event.resourceId) {
		var bookingJSON = {start: startString, end: endString, service_provider_id: event.resourceId};
	}
	else {
		var bookingJSON = {start: startString, end: endString};
	}
	$.ajax({
		type: 'PATCH',
		url: '/bookings/'+ event.id +'.json',
		data: { "booking": bookingJSON },
		dataType: 'json',
		success: function(){
			alertId.showAlert("Horario de la reserva cambiado exitosamente.");
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += errors[i];
			}
			alertId.showAlert(errores);
			$.getJSON('/bookings/'+event.id, function (booking) {
				event.start = booking.start;
				event.end = booking.end;
				$('#calendar').fullCalendar('updateEvent', event);
			});
		}
	});
}

function saveBooking(typeURL, extraURL) {
	var bookingJSON = jsonBooking();
	$.ajax({
		type: typeURL,
		url: '/bookings'+ extraURL +'.json',
		data: { "booking": bookingJSON },
		dataType: 'json',
		success: function(){
			document.location.href = '/bookings/';
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = '';
			for (i in errors) {
				errores += errors[i];
			}
			alertId.showAlert(errores);
		}
	});
}

function modalChange() {
	$('#bookingEnd').empty()
	if ($("#bookingStartHour").val() != '' && $("#bookingStartMinute").val() != '' && $("#booking_service_id").val() != '') {
		var duration = 0;
		for (i in servicesJSON) {
			if ($("#booking_service_id").val() == servicesJSON[i].id) {
				duration = servicesJSON[i].duration;
			}
		}
		var extraCharH = '';
		var extraCharM = '';
		var hours = parseInt($("#bookingStartHour").val());
		var minutes = parseInt($("#bookingStartMinute").val()) + duration;
		if (minutes >= 60) {
			hours += Math.floor(minutes/60);
			minutes = minutes%60;
		}
		if (hours < 10) {
			extraCharH = '0';
		}
		if (minutes < 10) {
			extraCharM = '0';
		}
		$('#bookingEnd').append(extraCharH+hours+':'+extraCharM+minutes);
	}
	else {
		$('#bookingEnd').append($("#bookingStartHour").val()+':'+$("#bookingStartMinute").val());
	}
}

var servicesJSON;
var alertId;
$(function() {
	alertId = new Alert();
	$('.createBooking').click(function() {
		createBookingModal();
		return false;
	});
	$.getJSON('/services', function (services) {
		servicesJSON = services;
		loadProviders();
		$('#datePicker').datepicker({
			dateFormat: 'dd/mm/yy',
			firstDay: 1,
			dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
			dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
			dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ]
		});
		$("#bookingStartHour").on("change", function() { 
			modalChange();
		});
		$("#bookingStartMinute").on("change", function() { 
			modalChange();
		});
		$("#booking_service_id").on("change", function() { 
			modalChange();
		});
	});
	$('[name="localRadio"]').first().parent().addClass("active")
	$('[name="localRadio"]').click(function (e) {
		$('[name="localRadio"]').parent().removeClass('active');
		e.target.parentNode.className += 'active';
	});

	$("#dp").datepicker({
		dateFormat: 'dd/M/yy',
		buttonText: "Ir a Fecha",
		changeMonth: true,
		changeYear: true,
		showOn: 'both',
		firstDay: 1,
		dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
		dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
		dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ],
		onSelect: function(dateText, inst) {
				var d = new Date(dateText);
				$('#calendar').fullCalendar('gotoDate', d);
		}
	});

	$("#booking_email").autocomplete({
		source: '/clients_suggestion',
		appendTo: '#suggestions',
		autoFocus: true,
		minLength: 1,
		select: function( event, ui ) {
			event.preventDefault();
			$('#booking_first_name').val(ui.item.value[0]);
			$('#booking_last_name').val(ui.item.value[1]);
			$('#booking_phone').val(ui.item.value[3]);
			$('#booking_email').val(ui.item.value[2]);
		}
	});

	$('#booking_service_provider_id').change(function (event) {
		$.getJSON('/provider_services', {id: event.target.value}, function (services) {
			$('#booking_service_id').empty();
			$.each(services, function (key, service) {
				$('#booking_service_id').append(
					'<option value="' + service.id + '">' + service.name + '</option>'
				);
			});
			$('#booking_service_id').removeAttr('disabled');
			modalChange();
		});
	});

	$(".ui-datepicker-trigger").addClass("btn btn-primary pull-right")

	$('#bookingModal').on('hidden.bs.modal', function (e) {
		$('#booking_service_id').attr('disabled', true);
	});
});