function loadProviders () {
	if ($('[name="localRadio"]').is(':checked')) {
		$('#providers-selector').html('<%= image_tag "ajax-loader.gif", :alt => "Loader" %>');
		var localId = $('input[name=localRadio]:checked').val();
		$.getJSON('/local_providers', {location: localId}, function (providersArray) {
			$('#providers-selector').empty();
			firstId = providersArray[0]["id"];
			count = providersArray.length;
			$.each(providersArray, function (key, provider) {
				checked = '';
				if (count == 1 || (count > 1 && provider.id == firstId)) {
					checked = 'checked'
				}
				$('#providers-selector').append('<label>' +
						'<input type="radio" name="providerRadio" value="' + provider.id + '" ' + checked + '>' +
						'<p>' + provider.public_name + '</p>' +
					'</label>'
				);
			});
			$('[name="providerRadio"]').on('click', function(event) {
				var providerId = event.target.getAttribute('value');
				loadCalendar();
				loadProviderBooking(providerId);
			});
			loadCalendar();
			loadProviderBooking(firstId);
		});
		return true;
	}
	return false;
}

var duration = 15;
function loadCalendar (startTime, endTime, hiddenDays) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	hiddenDays = hiddenDays || [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
	    header: {
	    	left: 'title',
	    	center: 'agendaWeek,agendaDay',
	    	right: 'prev,today,next'
	    },
	    eventClick: function(event) {
	    	editBookingModal(event);
	    },
	    firstDay: 1,	//Lunes
	    defaultView: 'agendaWeek',
	    allDaySlot: false,
	    axisFormat: 'HH:mm',
	    timeFormat: 'HH:mm{ - HH:mm}',
	    columnFormat: {
	    	week: 'ddd d/M',
	    	day: 'dddd d/M' 
	    },
	    titleFormat: {
	    	week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
	    	day: 'dddd, d MMM yyyy'  
	    },
	    buttonText: {
		    prev:     '&lsaquo;', // <
		    next:     '&rsaquo;', // >
		    today:    'Hoy',
		    week:     'Semana',
		    day:      'Día'
	    },
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
	    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
	    minTime: startTime,
	    maxTime: endTime,
	    defaultEventMinutes: duration,
	    /*eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
	    	moveBooking(event, revertFunc);
	    },*/
	    slotMinutes: duration,
	    eventColor: '#ff0000',
	    hiddenDays: hiddenDays
	});
}

function loadProviderBooking (providerId) {
	var localId = $('input[name=localRadio]:checked').val();
	var serviceId = $('input[name=serviceRadio]:checked').val();
	$('#calendar').fullCalendar('removeEvents');
	$.getJSON('/booking', {location: localId, provider: providerId}, function (bookings) {
		$.each(bookings, function (key, booking) {
			var events = {
				id: booking.id,
				title: 'Ocupado',
				allDay: false,
				start: booking.start,
				end: booking.end,
			}
			$('#calendar').fullCalendar('renderEvent', events, true);
		});
	});
}

function editBookingModal(event) {
	window.top.location.href = 'bookings/' + event.id + '/edit';
}

$(function() {
  loadProviders();

  $('#calendar').fullCalendar({
        dayClick: function() {
        	alert('Seleccione un proveedor de servicios para crear reservas!');
    	},
		eventClick: function(event) {
			editBookingModal(event);
	    },
    	header: {
	    	left: 'title',
	    	center: 'agendaWeek,agendaDay',
	    	right: 'prev,today,next'
	    },
	    firstDay: 1,	//Lunes
	    defaultView: 'agendaWeek',
	    allDaySlot: false,
	    axisFormat: 'HH:mm',
	    timeFormat: 'HH:mm{ - HH:mm}',
	    columnFormat: {
	    	week: 'ddd d/M',
	    	day: 'dddd d/M' 
	    },
	    titleFormat: {
	    	week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
	    	day: 'dddd, d MMM yyyy'  
	    },
	    buttonText: {
		    prev:     '&lsaquo;', // <
		    next:     '&rsaquo;', // >
		    today:    'Hoy',
		    week:     'Semana',
		    day:      'Día'
	    },
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
	    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb']
    });
});