var statusIcon = [" blocked", " reserved", " confirmed", " completed", " payed", " cancelled", " noshow", " break"];
var backColors = ["#cacaca", "#77d0fa", "#fbe09f", "#fab5fb", "#adf0d1", "#FAFCAF", "#fbc1b3", "#a6a5a5"];
var textColors = ["#707070", "#0b587d", "#a78a47", "#8e508f", "#4c8b6e", "#505205", "#a15240", "#737373"];
var resourcesColors = [];
var servicesJSON;

var bookingBuffer = []

function loadProviders () {
	if (parseInt($('#locals-selector').val()) > 0) {
		var localId = parseInt($('#locals-selector').val());
		$('#providers-div').empty();
		$.getJSON('/location_services', {location: localId}, function (services) {
			servicesJSON = services;
			var resources = [];
			var count = 0;
			$.getJSON('/local_providers', {location: localId}, function (providersArray) {

				if (providersArray.length > 0) {
					$('#provider_break_service_provider_id').find('option').remove().end();
					$('#booking_service_provider_id').find('option').remove().end();
					$('#providers-div').append('<select class="form-control" id="providers-selector"><option value="0">Todos</option></select>');
					$.each(providersArray, function (key, provider) {
						$('#providers-selector').append('<option name="providerRadio" value="'+provider.id+'">'+provider.public_name+'</option>');
						resources.push({id: provider.id, name: provider.public_name});
						count += 1;
						$('#booking_service_provider_id')
							.append('<option value="'+ provider.id +'">'+ provider.public_name +'</option>')
						;
						$('#provider_break_service_provider_id')
							.append('<option value="'+ provider.id +'">'+ provider.public_name +'</option>')
						;
					});
					$('#provider_break_service_provider_id').append(
						'<option value="0">Todos</option>'
					);
					$('#providers-selector').change(function() {
						providerId = parseInt($('#providers-selector').val())
						if (providerId == 0) {
							loadLocationTime (localId, resources);
						}
						else {
							loadProviderTime(providerId);
						}

					});
					loadLocationTime (localId, resources);
					return true;
				}
				else {
					$('#providers-selector').append('<option value="0">Todos</option>');
				}
				loadWeekCalendar(0,24,[],[],0);
				return true;
			});
			return false;
		});
	}
	return false;
}

function getHour(str) {
  var index = str.indexOf('T'); //2000-1-1T08:00:00Z
  str = str.substring(index + 1, index + 6); //08:00
  return str;
}

function loadLocationTime (locationId, resources) {
	var extended_schedule_bool = $('#calendar-data').data('extended-schedule');
	if (extended_schedule_bool) {
		var extended_min_hour = $('#calendar-data').data('extended-min-hour');
		var extended_max_hour = $('#calendar-data').data('extended-max-hour');
		loadResourcesCalendar(extended_min_hour, extended_max_hour, [], resources, 0);
	}
	else {
		var min_hour = $('#locals-selector').find(':selected').data('minhour');
		var max_hour = $('#locals-selector').find(':selected').data('maxhour');
		loadResourcesCalendar(min_hour, max_hour, [], resources, 0);
	}
}

function loadProviderTime (providerId) {
	var extended_schedule_bool = $('#calendar-data').data('extended-schedule');
	if (extended_schedule_bool) {
		var extended_min_hour = $('#calendar-data').data('extended-min-hour');
		var extended_max_hour = $('#calendar-data').data('extended-max-hour');
		loadWeekCalendar(extended_min_hour, extended_max_hour, [], [], providerId);
	}
	else {
		var min_hour = $('#locals-selector').find(':selected').data('minhour');
		var max_hour = $('#locals-selector').find(':selected').data('maxhour');
		loadWeekCalendar(min_hour, max_hour, [], [], providerId);
	}
}

function setAspectRatio() {
	var width = $('#admin-content').outerWidth();
	var contentHeight = $('.content-fix').outerHeight();
	var height = window.innerHeight - 50/*margin de content-fix*/ - 5/*margin entre calendar y content-fix*/ - 45/*Height del header del calendario*/ - contentHeight;
	return width / height;
}

var bookingModalOpen = false;
var duration = $('#calendar-data').data('calendar-duration');
function loadResourcesCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	// var startHour = startTime || 9;
	hiddenDays = [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: 'prev,today,next',
			right: ''
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				editBookingModal(event.id);
			};
		},
		dayClick: function(date, allDay, jsEvent, view) {
			var p = $('.popover').parent();
			$('.popover').empty();
			$('.popover').html('<a id="closePopover" class="closePopover"><i class="fa fa-times"></i></a><br /><a id="bookingPopover" class="actionPopover">Agregar Reserva</a><br /><a id="breakPopover" class="actionPopover">Bloquear Horario</a>');
			var offX  = (jsEvent.offsetX || jsEvent.clientX - $(jsEvent.target).offset().left);
			$('.popover').css('left', offX + 60 + 'px');
			$('.popover').css('top', jsEvent.pageY - p.offset().top - 40 + 'px');

			var column_click = $(this).context.cellIndex;
			var resourceId = view.resources[column_click - 1].id
			$('#closePopover').click(function() {
				$('.popover').hide();
			});
			$('#bookingPopover').click(function() {
				if (!bookingModalOpen) {
					bookingModalOpen = true;
					createBookingModal(date, resourceId);

				};
				$('.popover').hide();
			});
			$('#breakPopover').click(function() {
				createBreakModal(date, resourceId);
				$('.popover').hide();
			});
			$('.popover').show();
		},

		eventRender: function(event, element) {
			if ($.isNumeric(event.id)) {
				var prepayed = event.prepayed_qtip;
		   		if (prepayed === undefined)
		   		{
		   			prepayed = "No";
		   		}
			   element.qtip({
				   content: {
						button: true,
						title: event.title_qtip,
						text: 'Horario: ' + event.time_qtip + '<br/>' +
						'Servicio: ' + event.service_qtip + '<br/>' +
						'Teléfono: ' + event.phone_qtip + '<br/>' +
						'E-mail: ' + event.email_qtip + '<br/>' +
						'Comentario: ' + event.comment_qtip + '<br />' +
						'Pagado en línea: ' + prepayed
				   },
				   position: {
						my: 'bottom center',  // el triángulo sale de abajo al medio
						at: 'top center' // se ubica arriba del elemento en cuestión
				   },
				   style: {
						classes: 'qtip-bootstrap'
				   },
				   hide: {
						event: 'click mouseleave unfocus',
						leave: true,
						fixed: true
					}
			   });
			}
		},
		//eventMouseover: function(calEvent, domEvent) {
		// 	var layer =	"<div id='events-layer' class='fc-transparent' style='position:absolute; width:100%; height:100%; top:-1px; text-align:right; z-index:100'>asdfff</div>";
		// 	$(this).append(layer);
		// },

		// eventMouseout: function(calEvent, domEvent) {
		// 	$(this).find('div[id*=events-layer]').remove();
		// },
		firstDay: 1,	//Lunes
		defaultView: 'resourceDay',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M'
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día',
			resourceDay: '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		// firstHour: startHour,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration,
		aspectRatio: setAspectRatio(),
		windowResize: function(view) {
			$('#calendar').fullCalendar('option', 'aspectRatio', setAspectRatio());
		}
	});
	// Posible acercamiento para pintar celdas la hacer hover (falta un for para cantidad de resources)
	// $("table.fc-agenda-slots td.fc-widget-content").each(function () {
	//     $(this).width(($("table.fc-agenda-days thead th.fc-col0").width()));
	//     $(this).after("<td class=\"fc-widget-content\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col1").width() + "px\"><div style=\"position:relative\"></div></td>");
	// });
	$('.fc-button').click(function (event) {
		var providerId = parseInt($('#providers-selector').val());
		loadProviderEvents(providerId);
	});
	loadProviderEvents(providerId);
}

function loadWeekCalendar (startTime, endTime, hiddenDays, resourcesArray, providerId) {
	//Default values
	startTime = startTime || 0;
	endTime = endTime || 24;
	// var startHour = startTime || 9;
	hiddenDays = [];

	$('#calendar').fullCalendar('removeEvents');
	$('#calendar').empty();
	$('#calendar').fullCalendar({
		header: {
			left: 'title',
			center: 'prev,today,next',
			right: ''
		},
		hiddenDays: hiddenDays,
		resources: resourcesArray,
		eventClick: function(event) {
			if (!bookingModalOpen) {
				bookingModalOpen = true;
				editBookingModal(event.id);
			};
		},
		dayClick: function(date, allDay, jsEvent, view) {
			var p = $('.popover').parent();
			$('.popover').empty();
			$('.popover').html('<a id="closePopover" class="closePopover"><i class="fa fa-times"></i></a><br /><a id="bookingPopover" class="actionPopover">Agregar Reserva</a><br /><a id="breakPopover" class="actionPopover">Bloquear Horario</a>');
			var offX  = (jsEvent.offsetX || jsEvent.clientX - $(jsEvent.target).offset().left);
			$('.popover').css('left', offX + 60 + 'px');
			$('.popover').css('top', jsEvent.pageY - p.offset().top - 40 + 'px');
			$('#closePopover').click(function() {
				$('.popover').hide();
			});
			$('#bookingPopover').click(function() {
				if (!bookingModalOpen) {
					bookingModalOpen = true;
					createBookingModal(date);
				};
				$('.popover').hide();
			});
			$('#breakPopover').click(function() {
				createBreakModal(date);
				$('.popover').hide();
			});
			$('.popover').show();
		},

		eventRender: function(event, element) {
		   if ($.isNumeric(event.id)) {
			   if ($.isNumeric(event.id)) {
			   		var prepayed = event.prepayed_qtip;
			   		if (prepayed === undefined)
			   		{
			   			prepayed = "No";
			   		}
				   element.qtip({
					   content: {
						   button: true,
						   title: event.title_qtip,
						   text: 'Horario: ' + event.time_qtip + '<br/>' +
								   'Servicio: ' + event.service_qtip + '<br/>' +
								   'Teléfono: ' + event.phone_qtip + '<br/>' +
								   'E-mail: ' + event.email_qtip + '<br/>' +
								   'Comentario: ' + event.comment_qtip + '<br />' +
								   'Pagado en línea: ' + prepayed
					   },
					   position: {
						   my: 'bottom center',  // el triángulo sale de abajo al medio
						   at: 'top center' // se ubica arriba del elemento en cuestión
					   },
					   style: {
						   classes: 'qtip-bootstrap'
					   },
					   hide: {
						   event: 'click mouseleave unfocus',
						   leave: true,
						   fixed: true
					   }
				   });
			   }
			}
		},
		firstDay: 1,	//Lunes
		defaultView: 'agendaWeek',
		allDaySlot: false,
		axisFormat: 'HH:mm',
		timeFormat: 'HH:mm{ - HH:mm}',
		columnFormat: {
			week: 'ddd d/M',
			day: 'dddd d/M'
		},
		titleFormat: {
			week: 'MMM d[ yyyy]{ &#8212;[ MMM] d yyyy}',
			day: 'dddd, d MMM yyyy'
		},
		buttonText: {
			prev:     '&lsaquo;', // <
			next:     '&rsaquo;', // >
			today:    'Hoy',
			week:     '<i class="fa fa-calendar"></i>  Semana',
			day:      '<i class="fa fa-calendar"></i>  Día'
		},
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
		minTime: startTime,
		maxTime: endTime,
		// firstHour: startHour,
		defaultEventMinutes: duration,
		editable: true,
		disableResizing: true,
		eventDrop: function (event) {
			editDrag(event);
		},
		slotMinutes: duration,
		aspectRatio: setAspectRatio(),
		windowResize: function(view) {
			$('#calendar').fullCalendar('option', 'aspectRatio', setAspectRatio());
		}
	});
	// $("table.fc-agenda-slots td.fc-widget-content").each(function () {
	//     $(this).width(($("table.fc-agenda-days thead th.fc-col0").width()));
	//     $(this).after("<td class=\"fc-widget-content\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col5").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col4").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col3").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col2").width() + "px\"><div style=\"position:relative\"></div></td>");
	//     $(this).after("<td class=\"fc-widget-content\" style=\"width:" + $("table.fc-agenda-days thead th.fc-col1").width() + "px\"><div style=\"position:relative\"></div></td>");
	// });
	$('.fc-button').click(function () {
		var providerId = parseInt($('#providers-selector').val());
		loadProviderEvents(providerId);
	});
	loadProviderEvents(providerId);
	// $('td.fc-header-left').append('<span class="fc-header-title"><a class="btn btn-agendapro-claro print-schedule" href="/service_provider/pdf.pdf?service_provider_id='+providerId+'"><i class="fa fa-print"></i> Horario de Hoy</a></span>');
}

function loadProviderEvents(providerId) {
	$(".fc-button").css("display", "none");
	$(".fc-header-center").append('<span id="small_loader_header"><i class="fa fa-spinner fa-spin"></i> </span>');
	var localId = parseInt($('#locals-selector').val());
	var start = $('#calendar').fullCalendar('getView').visStart;
	var end = $('#calendar').fullCalendar('getView').visEnd;
	var startParam = start.getFullYear()+'-'+(start.getMonth()+1)+'-'+start.getDate();
	var endParam = end.getFullYear()+'-'+(end.getMonth()+1)+'-'+end.getDate();
	$('#calendar').fullCalendar('removeEvents');
	$.getJSON('/booking', {location: localId, provider: providerId, start: startParam, end: endParam}, function (events_list) {
		$('#calendar').fullCalendar('addEventSource', events_list);
		$('#small_loader_header').remove();
		$(".fc-button").css("display", "inline-block");
		$(".hours-optimizer-button").show();
	});
	return false;
}

function editBookingModal(eventId) {
	if (eventId.toString().indexOf('b') >= 0) {
		editBreakModal(eventId.split('b')[1]);
	}
	else if (eventId.toString().indexOf('p') >= 0) {
		bookingModalOpen = false;
		return false;
	}
	else {
		$.getJSON('/bookings/'+eventId, function (booking) {
			var start = booking.start || 0;
			var end = booking.end || 0;
			if (start != 0) {
				dateArray = start.toString().split('T');
				date = new Date(start)

				month = date.getMonth()+1;
				day = date.getDate();

				output = (day<10 ? '0' : '') + day + '/' + (month<10 ? '0' : '') + month + '/' + date.getFullYear();

				$('#datePicker').val(output);
				$('#bookingStartHour option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
				$('#bookingStartMinute option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
			}
			else {
				$('#datePicker').val('');
				$('#bookingStartHour').val('');
				$('#bookingStartMinute').val('');
			}
			if (end != 0) {
				dateArray = end.toString().split('T');
				$('#bookingEndHour option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
				$('#bookingEndMinute option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
			}
			else {
				$('#bookingEndHour').val('');
				$('#bookingEndMinute').val('');
			}
			$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
			$('#booking_status_id option[value="'+booking.status_id+'"]').attr("selected",true);
			$('#booking_price').val(booking.price);
			$('#booking_client_id').val(booking.client_id);
			loadClientHistory(eventId);
			$('#booking_client_first_name').val(booking.first_name);
			$('#booking_client_last_name').val(booking.last_name);
			$('#booking_client_identification_number').val(booking.identification_number);
			$('#full_name').val(booking.first_name+' '+booking.last_name);
			$("#full_name").prop('disabled', true);
			$('#xButton').prop('disabled', false);
			$('#booking_client_email').val(booking.email);
			$('#booking_client_phone').val(booking.phone);
			$('#booking_client_address').val(booking.address);
			$('#booking_client_district').val(booking.district);
			$('#booking_client_city').val(booking.city);
			$('#booking_client_birth_day option[value=""]').prop('selected', true);
			$('#booking_client_birth_month option[value=""]').prop('selected', true);
			$('#booking_client_birth_year option[value=""]').prop('selected', true);
			$('#booking_client_birth_day option[value="'+booking.birth_day+'"]').attr("selected",true);
			$('#booking_client_birth_month option[value="'+booking.birth_month+'"]').attr("selected",true);
			$('#booking_client_birth_year option[value="'+booking.birth_year+'"]').attr("selected",true);
			$('#booking_client_age').val(booking.age);
			$('#booking_client_gender option[value="'+booking.gender+'"]').attr("selected",true);
			$('#booking_notes').val(booking.notes);
			$('#booking_company_comment').val(booking.company_comment);
			$('#booking_staff_code').val('');
			$('#booking_deal_code').val(booking.deal_code);
			if (booking.provider_lock) {
				$('#booking_provider_lock').prop('checked', true);
				$('#booking_service_provider_id').prop('disabled', true);
			}
			else {
				$('#booking_provider_lock').prop('checked', false);
				$('#booking_service_provider_id').prop('disabled', false);
			}
			if (booking.send_mail) {
				$('#booking_send_mail').val(1);
				$('#booking_send_mail').prop('checked', true);
				$('input[name="booking[send_mail]"]:first').val(1);
			}
			else {
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('input[name="booking[send_mail]"]:first').val(0);
			};
			if (validEmail(booking.email)) {
				$('#booking_send_mail').prop('disabled', false);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}

			else {
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}

			if(booking.payed)
			{
				$("#is_prepayed").empty();
				$("#is_prepayed").append("Sí");
			}
			else
			{
				$("#is_prepayed").empty();
				$("#is_prepayed").append("No");
			}

			$('.booking-modal-title').empty();
			$('.booking-modal-footer').empty();
			$('.booking-modal-title').append('Editando Reserva');
			$('.booking-modal-footer').append(
				'<a class="btn btn-agendapro-oscuro pull-left" href="/bookings/' + eventId + '.pdf">Imprimir</a>' +
				'<button type="button" class="btn btn-default btn-close booking-button" data-dismiss="modal">Cerrar</button>' +
				'<button type="button" class="btn btn-agendapro-claro booking-button" onclick="editBooking('+eventId+')">Guardar</button>'
			);
			$('#cancelBookingDiv').remove();
			$('#booking_status_id').closest('.col-md-6').append(
				'<div class="form-group" id="cancelBookingDiv">' +
					'<div class="col-sm-offset-4 col-sm-8">' +
						'<button type="button" class="btn btn-danger btn-ss btn-block booking-button" onclick="deleteBooking('+eventId+')" id="cancelBookingButton">Cancelar Reserva</button>' +
					'</div>' +
				'</div>'
			);

			if ( booking.service_provider_id > 0) {
				$.getJSON('/provider_services', {id: booking.service_provider_id}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id option[value="'+booking.service_id+'"]').attr("selected",true);
					$('#booking_service_id').removeAttr('disabled');

					if (!booking.service_provider_active) {
						if ($('#booking_service_provider_id option[value="' + booking.service_provider_id + '"]').length == 0) {
							$('#booking_service_provider_id').append('<option value="' + booking.service_provider_id + '">' + booking.service_provider_name + '</option>');
						}
						$('#booking_service_provider_id option[value="'+booking.service_provider_id+'"]').attr("selected",true);
					}
					if (!booking.service_active) {
						if ($('#booking_service_id option[value="' + booking.service_id + '"]').length == 0) {
							$('#booking_service_id').append('<option value="' + booking.service_id + '">' + booking.service_name + '</option>');
						}
						$('#booking_service_id option[value="'+booking.service_id+'"]').attr("selected",true);
					}
				});
			}
			setAge();
			$('#booking-tab').tab('show');
			$('#bookingModal').modal('show');
		});
	}
}

function createBookingModal(date, provider_id) {
	bookingBuffer = []
	var localId = parseInt($('#locals-selector').val());
	var date = date || 0;
	var provider_id = provider_id || 0;
	$.getJSON('/local_providers', {location: localId}, function (providersArray) {
		if (providersArray.length > 0) {
			if (date != 0) {
				dateArray = date.toString().split(' ');
				//Falta revisar el tema de las fechas, deberían ser contantes en la app
				$('#datePicker').val(dateArray[2]+'/'+dateArray[1]+'/'+dateArray[3]);
				$('#bookingStartHour option[value="'+dateArray[4].split(':')[0]+'"]').attr("selected",true);
				$('#bookingStartMinute option[value="'+dateArray[4].split(':')[1]+'"]').attr("selected",true);
				modalChange();
			}
			else {
				$('#datePicker').val('');
				$('#bookingStartHour').val('');
				$('#bookingStartMinute').val('');
			}
			if (parseInt($('#providers-selector').val()) > 0) {
				$('#booking_service_provider_id option[value="'+parseInt($('#providers-selector').val())+'"]').attr("selected",true);
				$.getJSON('/provider_services', {id: parseInt($('#providers-selector').val())}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id').removeAttr('disabled');
					modalChange();
				});
			}
			else {
				$('#booking_service_provider_id').val('');
			}
			$('#booking_status_id').val('1');
			$('#booking_price').val('');
			$('#booking_client_id').val('');
			$('#booking_client_first_name').val('');
			$('#booking_client_last_name').val('');
			$('#full_name').val('');
			$("#full_name").prop('disabled', false);
			$('#xButton').prop('disabled', true);
			$('#booking_client_identification_number').val('');
			$('#booking_client_email').val('');
			$('#booking_client_phone').val('');
			$('#booking_client_addrress').val('');
			$('#booking_client_district').val('');
			$('#booking_client_city').val('');
			$('#booking_client_birth_day option[value=""]').prop('selected', true);
			$('#booking_client_birth_month option[value=""]').prop('selected', true);
			$('#booking_client_birth_year option[value=""]').prop('selected', true);
			$('#booking_client_age').val('');
			$('#booking_client_gender option[value="0"]').prop('selected', true);
			$('#booking_notes').val('');
			$('#booking_company_comment').val('');
			$('#booking_provider_lock').prop('checked', false);
			$('#booking_service_provider_id').prop('disabled', false);
			$('#booking_send_mail').val(0);
			$('#booking_send_mail').prop('checked', false);
			$('#booking_send_mail').prop('disabled', true);
			$('#booking_staff_code').val('');
			$('#booking_deal_code').val('');
			if (!$('label[for=booking_send_mail]').hasClass('disabled')) {
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('.booking-modal-title').empty();
			$('.booking-modal-footer').empty();
			$('.booking-modal-title').append('Nueva Reserva');
				// '<button type="button" class="btn btn-agendapro-claro booking-button pull-left" data-toggle="modal" data-target="#hoursOptimizer">Buscador de Horas</button>' +
			$('.booking-modal-footer').append(
				'<button type="button" class="btn btn-default btn-close booking-button" data-dismiss="modal">Cerrar</button>' +
				'<button type="button" class="btn btn-warning booking-button" onclick="addNewService()">Agregar Otro Servicio</button>' +
				'<button type="button" class="btn btn-agendapro-claro booking-button" onclick="createBooking()">Guardar</button>'
			);

			if (provider_id) {
				$('#booking_service_provider_id').val(provider_id);
				$.getJSON('/provider_services', {id: provider_id}, function (services) {
					$('#booking_service_id').empty();
					$.each(services, function (key, service) {
						$('#booking_service_id').append(
							'<option value="' + service.id + '">' + service.name + '</option>'
						);
					});
					$('#booking_service_id').removeAttr('disabled');
					modalChange();
				});
			};
			$('#client-history-tbody').html('<tr><td colspan="6">El cliente no tiene historial...</td></tr>');
			$('#booking-tab').tab('show');
			$('#bookingModal').modal('show');
		}
		else {
			alert('Este local no tiene prestadores o servicios\nPor favor completa los datos necesarios para poder generar reservas en este local.');
			// alertId.showAlert('<h3>Este local no tiene prestadores o servicios</h3>Por favor complete los datos antes de reservar.');
			bookingModalOpen = false;
		}
	});
}

function editBooking(eventId) {
	if ($('#new_booking').valid()) {
		$('.booking-button').attr("disabled", "disabled");
		$( '<span id="small_loader"><i class="fa fa-spinner fa-spin"></i> </span>' ).insertBefore( $( ".btn-close" ) );
		saveBooking('PATCH','/'+eventId);
	};
}

function createBooking() {
	if ($('#new_booking').valid()) {
		$('.booking-button').attr("disabled", "disabled");
		$( '<span id="small_loader"><i class="fa fa-spinner fa-spin"></i> </span>' ).insertBefore( $( ".btn-close" ) );
		saveBooking('POST','');
	};
}

function addNewService () {
	if ($('#new_booking').valid()) {
		$('.booking-button').prop('disabled', true);
		$( '<span id="small_loader"><i class="fa fa-spinner fa-spin"></i> </span>' ).insertBefore( $( ".btn-close" ) );

		var booking = jsonBooking();
		booking_valid(booking);
	};
}

function booking_valid (booking) {
	$.ajax({
		type: 'POST',
		url: '/booking_valid.json',
		data: { "booking": booking },
		dataType: 'json',
		success: function (result) {
			bookingBuffer.push(booking);

			$('#bookingStartHour').val($('#bookingEndHour').val());
			$('#bookingStartMinute').val($('#bookingEndMinute').val());
			$('#bookingEndHour').val('');
			$('#bookingEndMinute').val('');
			$('#booking_service_provider_id').val('');
			$('#booking_provider_lock').prop('checked', false);
			$('#booking_service_id').val('');
			$('#booking_price').val(0);
			$('#booking_notes').val('');
			$('#booking_company_comment').val('');

			validator.resetForm();
			$('.has-feedback').removeClass('has-success has-error');
			$('.form-control-feedback').removeClass('fa fa-check fa-times');

			$('.booking-button').prop("disabled", false);
			$('#small_loader').remove();
		},
		error: function (xhr) {
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = 'Error\n';
			for (i in errors) {
				errores += '*' + errors[i] + '\n';
			}
			$('.booking-button').prop("disabled", false);
			$('#small_loader').remove();
			alert(errores);
		},
	});
}

function deleteBooking(eventId) {
	if (confirm('¿Estás seguro que quieres cancelar esta reserva?\nEsta acción no se puede revertir.')) {
		$('.booking-button').attr("disabled", "disabled");
		$( '<span id="small_loader"><i class="fa fa-spinner fa-spin"></i> </span>' ).insertBefore( $( ".btn-close" ) );
		saveBooking('DELETE','/'+eventId);
	};
}

function jsonBooking() {
	var jsBooking = {
		"start": $('#datePicker').val() +"T"+ $('#bookingStartHour').val() +":"+ $('#bookingStartMinute').val() +":00Z",
		"end":$('#datePicker').val() +"T"+ $('#bookingEndHour').val() +":"+ $('#bookingEndMinute').val() +":00Z",
		"service_provider_id": parseInt($('#booking_service_provider_id').val()),
		"service_id": parseInt($('#booking_service_id').val()),
		"status_id": parseInt($('#booking_status_id').val()),
		"client_id": $('#booking_client_id').val(),
		"price": $('#booking_price').val(),
		"client_first_name": $('#booking_client_first_name').val(),
		"client_last_name": $('#booking_client_last_name').val(),
		"client_email": $('#booking_client_email').val(),
		"client_phone": $('#booking_client_phone').val(),
		"client_address": $('#booking_client_address').val(),
		"client_district": $('#booking_client_district').val(),
		"client_city": $('#booking_client_city').val(),
		"client_birth_day": parseInt($('#booking_client_birth_day').val()) > 0 ? parseInt($('#booking_client_birth_day').val()) : "",
		"client_birth_month": parseInt($('#booking_client_birth_month').val()) > 0 ? parseInt($('#booking_client_birth_month').val()) : "",
		"client_birth_year": parseInt($('#booking_client_birth_year').val()) > 0 ? parseInt($('#booking_client_birth_year').val()) : "",
		"client_age": $('#booking_client_age').val(),
		"client_gender": parseInt($('#booking_client_gender').val()) > 0 ? parseInt($('#booking_client_gender').val()) : "",
		"client_identification_number": $('#booking_client_identification_number').val(),
		"notes": $('#booking_notes').val(),
		"company_comment": $('#booking_company_comment').val(),
		"send_mail": $('#booking_send_mail').prop('checked'),
		"provider_lock": $('#booking_provider_lock').prop('checked'),
		"staff_code": $('#booking_staff_code').val(),
		"deal_code": $('#booking_deal_code').val()
	};
	return jsBooking;
}

function editDrag(event) {
	var startDate = new Date(event.start);
	var endDate = new Date(event.end);
	var startString = startDate.getFullYear()+"-"+("0"+(startDate.getMonth()+1)).slice(-2)+"-"+("0"+startDate.getDate()).slice(-2)+"T"+startDate.getHours()+":"+startDate.getMinutes()+":00Z";
	var endString = endDate.getFullYear()+"-"+("0"+(endDate.getMonth()+1)).slice(-2)+"-"+("0"+endDate.getDate()).slice(-2)+"T"+endDate.getHours()+":"+endDate.getMinutes()+":00Z";

	if (event.resourceId) {
		var eventJSON = {start: startString, end: endString, service_provider_id: event.resourceId, provider_lock: false};
	}
	else {
		var eventJSON = {start: startString, end: endString};
	}
	if (event.id.toString().charAt(0) === 'b') {
		if (confirm('¿Estás seguro que deseas modificar el bloqueo de horario?')) {
			$.ajax({
				type: 'PATCH',
				url: '/provider_breaks/'+ event.id.substring(1) +'.json',
				data: { "provider_break": eventJSON },
				dataType: 'json',
				success: function(){
					alert("Bloqueo actualizado exitosamente.");
					// alertId.showAlert("Horario del bloqueo cambiado exitosamente.");
				},
				error: function(xhr){
					var errors = $.parseJSON(xhr.responseText).errors;
					var errores = 'Error\n';
					for (i in errors) {
						errores += '*' + errors[i] + '\n';
					}
					alert(errores);
					// alertId.showAlert(errores);
					$.getJSON('/provider_breaks/'+event.id.substring(1), function (provider_break) {
						event.start = provider_break.start;
						event.end = provider_break.end;
						event.resourceId = provider_break.service_provider_id;
						$('#calendar').fullCalendar('updateEvent', event);
					});
				}
			});
		} else {
			$.getJSON('/provider_breaks/'+event.id.substring(1), function (provider_break) {
				event.start = provider_break.start;
				event.end = provider_break.end;
				event.resourceId = provider_break.service_provider_id;
				$('#calendar').fullCalendar('updateEvent', event);
			});
		};
	}
	else {
		if (event.resourceId) {
			var warning = '¿Estás seguro que deseas modificar la reserva? Si la reserva tenía una preferencia de prestador, esta se perderá.';
		}
		else {
			var warning = '¿Estás seguro que deseas modificar la reserva?';
		}
		if (confirm(warning)) {
			$.ajax({
				type: 'PATCH',
				url: '/bookings/'+ event.id +'.json',
				data: { "booking": eventJSON },
				dataType: 'json',
				success: function(booking){
					var providerLock = '-unlock';
					if (booking.provider_lock) {
						providerLock = '-lock';
					};
					var originClass = 'origin-manual';
					if (booking.web_origin) {
						originClass = 'origin-web';
					};
					originClass += providerLock + statusIcon[booking.status_id];
					event.className = originClass;
					event.title = booking.first_name+' '+booking.last_name+' - '+booking.service_name;
					event.start = booking.start;
					event.end = booking.end;
					event.resourceId = booking.service_provider_id;
					event.textColor = textColors[booking.status_id];
					event.borderColor = textColors[booking.status_id];
					event.backgroundColor = backColors[booking.status_id];
					event.className = originClass;
					event.title_qtip = booking.first_name+' '+booking.last_name;
					event.time_qtip = booking.start.substring(11,16) + ' - ' + booking.end.substring(11,16);
					event.service_qtip = booking.service_name;
					event.phone_qtip = booking.phone;
					event.email_qtip = booking.email;
					event.prepayed_qtip = booking.prepayed;
					event.comment_qtip = booking.company_comment;
					$('#calendar').fullCalendar('updateEvent', event);
					alert("Reserva actualizada exitosamente.");
					// alertId.showAlert("Horario de la reserva cambiado exitosamente.");
					$('#bookingAlerts').hide();
					if (booking.warnings.length > 0) {
						$('#bookingWarnings').empty();
						var warnings = '';
						for (i in booking.warnings) {
							warnings += booking.warnings[i] + '. ';
						}
						$('#bookingWarnings').append(warnings);
						$('#bookingAlerts').show();
					}

				},
				error: function(xhr){
					var errors = $.parseJSON(xhr.responseText).errors;
					var errores = 'Error\n';
					for (i in errors) {
						errores += '*' + errors[i] + '\n';
					}
					alert(errores);
					// alertId.showAlert(errores);
					$.getJSON('/bookings/'+event.id, function (booking) {
						event.start = booking.start;
						event.end = booking.end;
						event.resourceId = booking.service_provider_id;
						$('#calendar').fullCalendar('updateEvent', event);
					});
				}
			});
		} else {
			$.getJSON('/bookings/'+event.id, function (booking) {
				event.start = booking.start;
				event.end = booking.end;
				event.resourceId = booking.service_provider_id;
				$('#calendar').fullCalendar('updateEvent', event);
			});
		};
	}
}

function saveBooking(typeURL, extraURL) {
	var bookingJSON = jsonBooking();
	if (typeURL == 'POST') {
		$.ajax({
			type: 'POST',
			url: '/booking_valid.json',
			data: { "booking": bookingJSON },
			dataType: 'json',
			success: function (result) {
				bookingBuffer.push(bookingJSON);
				saveBookingBuffer();
			},
			error: function (xhr) {
				var errors = $.parseJSON(xhr.responseText).errors;
				var errores = 'Error\n';
				for (i in errors) {
					errores += '*' + errors[i] + '\n';
				}
				$('.booking-button').prop("disabled", false);
				$('#small_loader').remove();
				alert(errores);
			},
		});
	} else {
		$.ajax({
			type: typeURL,
			url: '/bookings'+ extraURL +'.json',
			data: { "booking": bookingJSON },
			dataType: 'json',
			success: function(booking){
				switch(typeURL) {
				case 'PATCH':
					event = $('#calendar').fullCalendar('clientEvents', booking.id)[0];
					if (booking.status_id != 5) {
						var providerLock = '-unlock';
						if (booking.provider_lock) {
							providerLock = '-lock';
						};
						var originClass = 'origin-manual';
						if (booking.web_origin) {
							originClass = 'origin-web';
						};
						originClass += providerLock + statusIcon[booking.status_id];
						event.title = booking.first_name+' '+booking.last_name+' - '+booking.service_name;
						event.start = booking.start;
						event.end = booking.end;
						event.resourceId = booking.service_provider_id;
						event.textColor = textColors[booking.status_id];
						event.borderColor = textColors[booking.status_id];
						event.backgroundColor = backColors[booking.status_id];
						event.className = originClass;
						event.title_qtip = booking.first_name+' '+booking.last_name;
						event.time_qtip = booking.start.substring(11,16) + ' - ' + booking.end.substring(11,16);
						event.service_qtip = booking.service_name;
						event.phone_qtip = booking.phone;
						event.email_qtip = booking.email;
						event.comment_qtip = booking.company_comment;
						event.prepayed_qtip = booking.prepayed;
						$('#calendar').fullCalendar('updateEvent', event);
					}
					else {
						$('#calendar').fullCalendar('removeEvents',booking.id);
					}
					$('#bookingAlerts').hide();
					if (booking.warnings.length > 0) {
						$('#bookingWarnings').empty();
						var warnings = '';
						for (i in booking.warnings) {
							warnings += booking.warnings[i] + '. ';
						}
						$('#bookingWarnings').append(warnings);
						$('#bookingAlerts').show();
					}
					break;
				case 'DELETE':
					$('#calendar').fullCalendar('removeEvents',booking.id);
					break;
				}
				$('#bookingModal').modal('hide');
			},
			error: function(xhr){
				var errors = $.parseJSON(xhr.responseText).errors;
				var errores = 'Error\n';
				for (i in errors) {
					errores += '*' + errors[i] + '\n';
				}
				$('.booking-button').removeAttr("disabled");
				$('#small_loader').remove();
				alert(errores);
			}
		});
	};
}

function saveBookingBuffer () {
	$.ajax({
			type: 'POST',
			url: '/bookings.json',
			data: { "bookings": bookingBuffer },
			dataType: 'json',
			success: function(bookings){
				$('#bookingAlerts').hide();
				$('#bookingWarnings').empty();
				var warning = false;
				$.each(bookings, function (pos, booking) {
					if (booking.status_id != 5) {
						var providerLock = '-unlock';
						if (booking.provider_lock) {
							providerLock = '-lock';
						};
						var originClass = 'origin-manual';
						originClass += providerLock + statusIcon[booking.status_id];
						var events = {
							id: booking.id,
							title: booking.first_name+' '+booking.last_name+' - '+booking.service_name,
							allDay: false,
							start: booking.start,
							end: booking.end,
							resourceId: booking.service_provider_id,
							textColor: textColors[booking.status_id],
							borderColor: textColors[booking.status_id],
							backgroundColor: backColors[booking.status_id],
							className: originClass,
							title_qtip: booking.first_name+' '+booking.last_name,
							time_qtip: booking.start.substring(11,16) + ' - ' + booking.end.substring(11,16),
							service_qtip: booking.service_name,
							phone_qtip: booking.phone,
							email_qtip: booking.email,
							comment_qtip: booking.company_comment
						};
						$('#calendar').fullCalendar('renderEvent', events, true);
					}
					if (booking.warnings.length > 0) {
						var warnings = '';
						for (i in booking.warnings) {
							warnings += booking.warnings[i] + '. ';
						}
						$('#bookingWarnings').append(warnings);
						warning = true;
					}
				});
				if (warning) {
					$('#bookingAlerts').show();
				};
				$('#bookingModal').modal('hide');
			},
			error: function(xhr){
				var errors = $.parseJSON(xhr.responseText).errors;
				var errores = '\u26A0 No se pudo guardar todos los servicios \u26A0 \n\n';
				$.each(errors, function (booking, error) {
					errores += 'Servicio ' + error.booking + '\n';
					for (i in error.errors) {
						errores += ' * ' + error.errors[i] + '\n';
					}
				});
				errores += '\n¿Guardar de todos modos?'
				$('.booking-button').removeAttr("disabled");
				$('#small_loader').remove();
				var result = confirm(errores);
				if (result) {
					$.post('/force_create.json', { "bookings": bookingBuffer }, function (bookings) {
						$('#bookingAlerts').hide();
						$('#bookingWarnings').empty();
						var warning = false;
						$.each(bookings, function (pos, booking) {
							if (booking.status_id != 5) {
								var providerLock = '-unlock';
								if (booking.provider_lock) {
									providerLock = '-lock';
								};
								var originClass = 'origin-manual';
								originClass += providerLock + statusIcon[booking.status_id];
								var events = {
									id: booking.id,
									title: booking.first_name+' '+booking.last_name+' - '+booking.service_name,
									allDay: false,
									start: booking.start,
									end: booking.end,
									resourceId: booking.service_provider_id,
									textColor: textColors[booking.status_id],
									borderColor: textColors[booking.status_id],
									backgroundColor: backColors[booking.status_id],
									className: originClass,
									title_qtip: booking.first_name+' '+booking.last_name,
									time_qtip: booking.start.substring(11,16) + ' - ' + booking.end.substring(11,16),
									service_qtip: booking.service_name,
									phone_qtip: booking.phone,
									email_qtip: booking.email,
									comment_qtip: booking.company_comment
								};
								$('#calendar').fullCalendar('renderEvent', events, true);
							}
							if (booking.warnings.length > 0) {
								var warnings = '';
								for (i in booking.warnings) {
									warnings += booking.warnings[i] + '. ';
								}
								$('#bookingWarnings').append(warnings);
								warning = true;
							}
						});
						if (warning) {
							$('#bookingAlerts').show();
						};
						$('#bookingModal').modal('hide');
					});
				} else {
					$('#bookingModal').modal('hide');
				};
			}
		});
}

function saveBreak (typeURL, extraURL) {
	var breakJSON = {
		"service_provider_id": $('#provider_break_service_provider_id').val(),
		"name": $('#provider_break_name').val(),
		"start": $('#provider_break_start_1i').val() +"-"+ $('#provider_break_start_2i').val() +"-"+ $('#provider_break_start_3i').val() +"T"+ $('#provider_break_start_4i').val() +":"+ $('#provider_break_start_5i').val() +":00Z",
		"end": $('#provider_break_end_1i').val() +"-"+ $('#provider_break_end_2i').val() +"-"+ $('#provider_break_end_3i').val() +"T"+ $('#provider_break_end_4i').val() +":"+ $('#provider_break_end_5i').val() +":00Z",
		"local": $('#locals-selector').val() };
	$.ajax({
		type: typeURL,
		url: '/provider_breaks'+extraURL+'.json',
		data: { "provider_break": breakJSON },
		dataType: 'json',
		success: function(provider_break){
			switch(typeURL) {
				case 'POST':
					$('.break-button').attr("disabled", "disabled");
					$( '<span id="small_loader"><i class="fa fa-spinner fa-spin"></i> </span>' ).insertBefore( $( ".btn-close" ) );
					var warnings = '';
					if ($('#provider_break_service_provider_id').val() != 0) {
						var label = provider_break.name;
						if (label == null) {
							label = 'Hora Bloqueada';
						}
						var events = {
							id: 'b'+provider_break.id,
							title: label,
							allDay: false,
							start: provider_break.start,
							end: provider_break.end,
							resourceId: parseInt(provider_break.service_provider_id),
							textColor: textColors[7],
							borderColor: textColors[7],
							backgroundColor: backColors[7]
						};
						$('#calendar').fullCalendar('renderEvent', events, true);

						$('#bookingAlerts').hide();
						if (provider_break.warnings && provider_break.warnings.length > 0) {
							for (i in provider_break.warnings) {
								warnings += provider_break.warnings[i] + '. ';
							}
						}
					} else{
						$.each(provider_break, function (key, provider_break) {
							var label = provider_break.name;
							if (label == null) {
								label = 'Hora Bloqueada';
							};
							var events = {
								id: 'b'+provider_break.id,
								title: label,
								allDay: false,
								start: provider_break.start,
								end: provider_break.end,
								resourceId: parseInt(provider_break.service_provider_id),
								textColor: textColors[7],
								borderColor: textColors[7],
								backgroundColor: backColors[7]
							};
							if (provider_break.warnings.length > 0) {
								for (i in provider_break.warnings) {
									warnings += provider_break.warnings[i] + '. ';
								}
							}
							$('#calendar').fullCalendar('renderEvent', events, true);
						});
					};
					$('#breakModal').modal('hide');

					if (warnings.length > 0) {
						$('#bookingAlerts').hide();
						$('#bookingWarnings').empty();
						$('#bookingWarnings').append(warnings);
						$('#bookingAlerts').show();
					};
					break;
				case 'PATCH':
					$('.break-button').attr("disabled", "disabled");
					$( '<span id="small_loader"><i class="fa fa-spinner fa-spin"></i> </span>' ).insertBefore( $( ".btn-close" ) );
					var warnings = '';
					if ($('#provider_break_service_provider_id').val() != 0) {
						var label = provider_break.name;
						if (label == null) {
							label = 'Hora Bloqueada';
						}
						event = $('#calendar').fullCalendar('clientEvents', 'b'+provider_break.id)[0];
						event.title = label;
						event.start = provider_break.start;
						event.end = provider_break.end;
						event.resourceId = parseInt(provider_break.service_provider_id);
						$('#calendar').fullCalendar('updateEvent', event);
						if (provider_break.warnings.length > 0) {
							for (i in provider_break.warnings) {
								warnings += provider_break.warnings[i] + '. ';
							}
						}
					} else{
						$.each(provider_break, function (key, provider_break) {
							var label = provider_break.name;
							if (label == null) {
								label = 'Hora Bloqueada';
							}
							event = $('#calendar').fullCalendar('clientEvents', 'b'+provider_break.id)[0];
							if (event) {
								event.title = label;
								event.start = provider_break.start;
								event.end = provider_break.end;
								event.resourceId = parseInt(provider_break.service_provider_id);
								$('#calendar').fullCalendar('updateEvent', event);
							} else {
								var events = {
									id: 'b'+provider_break.id,
									title: label,
									allDay: false,
									start: provider_break.start,
									end: provider_break.end,
									resourceId: parseInt(provider_break.service_provider_id),
									textColor: textColors[7],
									borderColor: textColors[7],
									backgroundColor: backColors[7]
								};
								$('#calendar').fullCalendar('renderEvent', events, true);
							};
							if (provider_break.warnings.length > 0) {
								for (i in provider_break.warnings) {
									warnings += provider_break.warnings[i] + '. ';
								};
							}
						});
					};
					if (warnings.length > 0) {
						$('#bookingWarnings').empty();
						$('#bookingWarnings').append(warnings);
						$('#bookingAlerts').show();
					}
					break;
				case 'DELETE':
					$('.break-button').attr("disabled", "disabled");
					$( '<span id="small_loader"><i class="fa fa-spinner fa-spin"></i> </span>' ).insertBefore( $( ".btn-close" ) );
					if ($('#provider_break_service_provider_id').val() != 0) {
						$('#calendar').fullCalendar('removeEvents','b'+provider_break.id);
					} else {
						$.each(provider_break, function (key, provider_break) {
							$('#calendar').fullCalendar('removeEvents','b'+provider_break.id);
						});
					};
					break;
			}
			$('#breakModal').modal('hide');
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = 'Error\n';
			for (i in errors) {
				errores += '*' + errors[i] + '\n';
			}
			alert(errores);
			// alertId.showAlert(errores);
		}
	});
}

function getAvailableProviders() {
	if (parseInt($('#locals-selector').val()) > 0) {
		if (parseInt($('#providers-selector').val()) == 0) {
			queryJSON = { "start": $('#datePicker').val() +"T"+ $('#bookingStartHour').val() +":"+ $('#bookingStartMinute').val() +":00Z","end":$('#datePicker').val() +"T"+ $('#bookingEnd').text() +":00Z", "location_id": parseInt($('#locals-selector').val()) }
			$.getJSON('/available_providers', queryJSON, function (providersArray) {
				$(function(){
					$('#booking_service_provider_id option').filter(function () {
					   return $.inArray(this.value(), providersArray) == -1;
					}).remove();
				});
			});
		}
	}
}

function createBreakModal(date, providerId) {
	var providerId = providerId || 0;
	var date = date || 0;
	if (date != 0) {
		dateArray = date.toString().split(' ');
		$('#provider_break_start_3i option[value="'+parseInt(dateArray[2])+'"]').attr("selected",true);
		$('#provider_break_start_2i option[value="'+(date.getMonth()+1)+'"]').attr("selected",true);
		$('#provider_break_start_1i option[value="'+dateArray[3]+'"]').attr("selected",true);
		$('#provider_break_start_4i option[value="'+dateArray[4].split(':')[0]+'"]').attr("selected",true);
		$('#provider_break_start_5i option[value="'+dateArray[4].split(':')[1]+'"]').attr("selected",true);
		$('#provider_break_end_3i option[value="'+parseInt(dateArray[2])+'"]').attr("selected",true);
		$('#provider_break_end_2i option[value="'+(date.getMonth()+1)+'"]').attr("selected",true);
		$('#provider_break_end_1i option[value="'+dateArray[3]+'"]').attr("selected",true);
		$('#provider_break_end_4i option[value="'+dateArray[4].split(':')[0]+'"]').attr("selected",true);
		$('#provider_break_end_5i option[value="'+dateArray[4].split(':')[1]+'"]').attr("selected",true);
	}
	else {
		$('#provider_break_start_5i option[value="00"]').attr("selected",true);
		$('#provider_break_end_5i option[value="00"]').attr("selected",true);
	}

	var localId = parseInt($('#locals-selector').val());
	$.ajax('/local_providers.json', {
		async: false,
		data: {
			location: localId
		},
		dataType: 'json',
		success: function (providersArray, status, jqXHR) {
			var selector = $('#provider_break_service_provider_id');
			selector.empty();
			$.each(providersArray, function (key, provider) {
				selector.append(
					'<option value="' + provider.id + '">' + provider.public_name + '</option>'
				);
			});
			selector.append(
				'<option value="0">Todos</option>'
			);
		}
	});

	if (parseInt($('#providers-selector').val()) > 0) {
		$('#provider_break_service_provider_id option[value="'+parseInt($('#providers-selector').val())+'"]').attr("selected",true);
	}
	if (providerId > 0) {
		$('#provider_break_service_provider_id option[value="'+providerId+'"]').attr("selected",true);
	}

	var end_minutes = parseInt($('#provider_break_end_5i').val()) + $('#calendar-data').data('calendar-duration');
	if (end_minutes >= 60) {
		$('#provider_break_end_4i option[value="'+(parseInt($('#provider_break_end_4i').val())+1)+'"]').attr("selected",true);
		end_minutes = end_minutes - 60;
	}
	if (end_minutes < 10) {
		$('#provider_break_end_5i option[value="0'+end_minutes+'"]').attr("selected",true);
	}
	else {
		$('#provider_break_end_5i option[value="'+end_minutes+'"]').attr("selected",true);
	}

	$('#provider_break_name').val('');
	$('.break-modal-footer').empty();
	$('.break-modal-footer').append(
		'<button type="button" class="btn btn-default btn-close break-button" data-dismiss="modal">Cerrar</button>' +
		'<button type="button" class="btn btn-agendapro-claro break-button" id="save_break" onClick="saveBreak(\'POST\',\'\')">Guardar</button>'
	);
	$('#breakModal').modal('show');
}

function editBreakModal(breakId) {
	$.getJSON('/provider_breaks/'+breakId, function (provider_break) {
		var start = provider_break.start || 0;
		var end = provider_break.end || 0;
		if (start != 0) {
			dateArray = start.toString().split('T');
			date = new Date(start)
			month = date.getMonth()+1;
			day = date.getDate();
			$('#provider_break_start_1i option[value="'+date.getFullYear()+'"]').attr("selected",true);
			$('#provider_break_start_2i option[value="'+month+'"]').attr("selected",true);
			$('#provider_break_start_3i option[value="'+day+'"]').attr("selected",true);
			$('#provider_break_start_4i option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
			$('#provider_break_start_5i option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
		}
		if (end != 0) {
			dateArray = end.toString().split('T');
			date = new Date(end)
			month = date.getMonth()+1;
			day = date.getDate();
			$('#provider_break_end_1i option[value="'+date.getFullYear()+'"]').attr("selected",true);
			$('#provider_break_end_2i option[value="'+month+'"]').attr("selected",true);
			$('#provider_break_end_3i option[value="'+day+'"]').attr("selected",true);
			$('#provider_break_end_4i option[value="'+dateArray[1].split(':')[0]+'"]').attr("selected",true);
			$('#provider_break_end_5i option[value="'+dateArray[1].split(':')[1]+'"]').attr("selected",true);
		}

		var localId = parseInt($('#locals-selector').val());
		$.ajax('/local_providers.json', {
			async: false,
			data: {
				location: localId
			},
			dataType: 'json',
			success: function (providersArray, status, jqXHR) {
				var selector = $('#provider_break_service_provider_id');
				selector.empty();
				$.each(providersArray, function (key, provider) {
					if (provider_break.break_group_id) {
						if (provider.id == provider_break.service_provider_id) {
							selector.append(
								'<option value="' + provider.id + '">' + provider.public_name + '</option>'
							);
						};
					} else {
						selector.append(
							'<option value="' + provider.id + '">' + provider.public_name + '</option>'
						);
					};
				});
				selector.append(
					'<option value="0">Todos</option>'
				);
			}
		});

		$('#provider_break_name').val(provider_break.name);
		$('#provider_break_service_provider_id option[value="'+provider_break.service_provider_id+'"]').attr("selected",true);
		if (provider_break.break_group_id) {
			$('#provider_break_service_provider_id option[value="'+0+'"]').attr("selected",true);
		};
		$('.break-modal-footer').empty();
		$('.break-modal-footer').append(
			'<button type="button" class="btn btn-default btn-close" data-dismiss="modal">Cerrar</button>' +
			'<button type="button" class="btn btn-danger" id="destroy_break" onClick="saveBreak(\'DELETE\',\'/'+breakId+'\')">Eliminar</button>' +
			'<button type="button" class="btn btn-agendapro-claro" id="edit_break" onClick="saveBreak(\'PATCH\',\'/'+breakId+'\')">Guardar</button>'
		);
		$('#breakModal').modal('show');
	});
}

function validEmail(email) {
	if (email != null) {
		var atpos = email.indexOf("@");
		var dotpos = email.lastIndexOf(".");
		if (atpos < 1 || dotpos < atpos+2 || dotpos+2 >= email.length) {
		  return false;
		}
		return true;
	}
	else {
		return false;
	}
}

function splitFullName() {
	if ($('#full_name').val() == '') {
		$('#xButton').prop('disabled', true);
	}
	else {
		$('#xButton').prop('disabled', false);
		var nameArray = $('#full_name').val().split(' ');
		if (nameArray.length == 0) {

		}
		else if (nameArray.length == 1) {
			$('#booking_client_first_name').val(nameArray[0]);
		}
		else if (nameArray.length == 2) {
			$('#booking_client_first_name').val(nameArray[0]);
			$('#booking_client_last_name').val(nameArray[1]);
		}
		else if (nameArray.length == 3) {
			$('#booking_client_first_name').val(nameArray[0]);
			$('#booking_client_last_name').val(nameArray[1]+' '+nameArray[2]);
		}
		else {
			$('#booking_client_first_name').val(nameArray[0]+' '+nameArray[1]);
			var last_name = '';
			for (var i = 2; i < nameArray.length; i++) {
				last_name += nameArray[i]+' ';
			}
			var strLen = last_name.length;
			last_name = last_name.slice(0,strLen-1)
			$('#booking_client_last_name').val(last_name);
		}
	}
}

function modalChange() {
	if ($("#booking_service_id").val() != '') {
		var price = 0;
		for (i in servicesJSON) {
			if ($("#booking_service_id").val() == servicesJSON[i].id) {
				price = servicesJSON[i].price;
			}
		}
		$('#booking_price').val(price);
	}
	if ($("#bookingStartHour").val() != '' && $("#bookingStartMinute").val() != '' && $("#booking_service_id").val() != '') {
		var duration = 0;
		for (i in servicesJSON) {
			if ($("#booking_service_id").val() == servicesJSON[i].id) {
				duration = servicesJSON[i].duration;
			}
		}
		var extraCharH = '';
		var extraCharM = '';
		var hours = parseInt($("#bookingStartHour").val());
		var minutes = parseInt($("#bookingStartMinute").val()) + duration;
		if (minutes >= 60) {
			hours += Math.floor(minutes/60);
			minutes = minutes%60;
		}
		if (hours < 10) {
			extraCharH = '0';
		}
		if (minutes < 10) {
			extraCharM = '0';
		}
		$('#bookingEndHour option[value="'+extraCharH+hours+'"]').attr("selected",true);
		$('#bookingEndMinute option[value="'+extraCharM+minutes+'"]').attr("selected",true);
	}
	else {
		$('#bookingEndHour option[value="'+$("#bookingStartHour").val()+'"]').attr("selected",true);
		$('#bookingEndMinute option[value="'+$("#bookingStartMinute").val()+'"]').attr("selected",true);
	}
}

///////////////////////////////////
//			Slider	Animation	 //
///////////////////////////////////
function animateLeft (selector, n) {
	var sliderSelector = ' .slider-selector label';
	var selectorWidth = $(selector + sliderSelector + ':first-child').css('width');
	var once = true;

	//Math calc
	var sliderWidthValue = $(selector).width();
	var selectorWidthValue = $(selector + sliderSelector + ':first-child').width();
	var displayedElements = Math.floor(sliderWidthValue / selectorWidthValue) - 1;
	var rowElements = $(selector + sliderSelector).length;

	//Reset right property
	$.each($(selector + sliderSelector), function (key, label) {
		$(label).prop('style').removeProperty('right');
	});

	function resetState () {
		if (once) {
			once = false;
			$(selector + ' .slider-selector').append(
				$(selector + sliderSelector + ':first-child')
			);
			$(selector + sliderSelector).animate(
				{left: ''},
				0
			);
			animateLeft(selector, n + 1);
		};
	}

	if (rowElements > displayedElements && n < displayedElements) {
		//Animation
		$(selector + sliderSelector).animate(
			{left: '-' + selectorWidth},
			{
				duration: 150,
				complete: resetState
			}
		);
	};
}
function animateRight (selector, n) {
	var sliderSelector = ' .slider-selector label';
	var selectorWidth = $(selector + sliderSelector + ':first-child').css('width');
	var once = true;

	//Math calc
	var sliderWidthValue = $(selector).width();
	var selectorWidthValue = $(selector + sliderSelector + ':first-child').width();
	var displayedElements = Math.floor(sliderWidthValue / selectorWidthValue) - 1;
	var rowElements = $(selector + sliderSelector).length;

	//Reset left property
	$.each($(selector + sliderSelector), function (key, label) {
		$(label).prop('style').removeProperty('left');
	});

	function resetState () {
		if (once) {
			once = false;
			$(selector + ' .slider-selector').prepend(
				$(selector + sliderSelector + ':last-child')
			);
			$(selector + sliderSelector).animate(
				{right: ''},
				0
			);
			animateRight(selector, n + 1);
		};
	}

	if (rowElements > displayedElements && n < displayedElements) {
		//Animation
		$(selector + sliderSelector).animate(
			{right: '-' + selectorWidth},
			{
				duration: 150,
				complete: resetState
			}
		);
	};
}

function setAge() {

	if ($('#booking_client_birth_day').val() != '' && $('#booking_client_birth_month').val() != '' && $('#booking_client_birth_year').val() != '')
	{
		var day = $('#booking_client_birth_day').val();
		var month = $('#booking_client_birth_month').val() - 1;
		var year = $('#booking_client_birth_year').val();

		var date1 = new Date(year,month,day);
		//hoy
		var date2 = new Date();

		var milli = date2 - date1;
		var milliPerYear = 1000 * 60 * 60 * 24 * 365.26;

		var yearsApart = milli/milliPerYear;
		$('#booking_client_age').val(yearsApart | 0);

	}
	return false;
}

function loadClientHistory(booking_id) {
	if (parseInt($('#booking_client_id').val()) > 0) {
		$('#client-history-tbody').empty();
		$.getJSON('/clients_bookings_history', {id: parseInt($('#booking_client_id').val())}, function (bookings_history) {
			if (bookings_history.length > 0) {
				$.each(bookings_history, function (key, booking_history) {
					var date = new Date(booking_history.start);
					$('#client-history-tbody').append('<tr><td>'+dateToLocal(date)+'</td><td>'+booking_history.service+'</td><td>'+booking_history.provider+'</td><td>'+booking_history.status+'</td><td>'+booking_history.notes+'</td><td>'+booking_history.comment+'</td></tr>');
				});
			}
			else {
				$('#client-history-tbody').append('<tr><td colspan="6">El cliente no tiene reservas anteriores...</td></tr>');
			}
		});
	}
	if (parseInt(booking_id) > 0) {
		$('#booking-history-tbody').empty();
		$.getJSON('/booking_history', {booking_id: parseInt(booking_id)}, function (bookings_history) {
			if (bookings_history.length > 0) {
				$.each(bookings_history, function (key, booking_history) {
					var staffCode = '';
					if ($('#calendar-data').data('staff-code')) {
						staffCode = '<td>'+booking_history.staff_code+'</td>';
					}
					var created = new Date(booking_history.created);
					created.setHours(created.getHours() - <%= ENV["TIME_ZONE_OFFSET"].split('.')[0] %>);
					var date = new Date(booking_history.start);
					$('#booking-history-tbody').append('<tr><td>'+booking_history.action+'</td><td>'+dateToLocal(created)+'</td><td>'+dateToLocal(date)+'</td><td>'+booking_history.service+'</td><td>'+booking_history.provider+'</td><td>'+booking_history.status+'</td><td>'+booking_history.user+'</td>'+staffCode+'</tr>');
				});
			}
			else {
				$('#booking-history-tbody').append('<tr><td colspan="6">No hay modificaciones para esta reserva...</td></tr>');
			}
		});
	}
	return false;
}

var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
function dateToLocal(date) {
	var hours = date.getUTCHours() < 10 ? '0'+date.getUTCHours() : date.getUTCHours();
	var minutes =  date.getUTCMinutes() < 10 ? '0'+date.getUTCMinutes() : date.getUTCMinutes();
	return date.getUTCDate() + "/" + (date.getUTCMonth()+1) + "/" + date.getUTCFullYear() + ' - ' + hours + ':' + minutes;
}
function dateFullToLocal(date) {
	var hours = date.getUTCHours() < 10 ? '0'+date.getUTCHours() : date.getUTCHours();
	var minutes =  date.getUTCMinutes() < 10 ? '0'+date.getUTCMinutes() : date.getUTCMinutes();
	return diasSemana[date.getUTCDay()] + ", " + date.getUTCDate() + " de " + meses[date.getUTCMonth()] + " de " + date.getUTCFullYear() + ' - ' + hours + ':' + minutes;
}

// var alertId;
$(function() {
	// alertId = new Alert();

	$('#new_booking').keypress(function(e){
		if ( e.which == 13 ) return false;
	});
	$('#new_provider_break').keypress(function(e){
		if ( e.which == 13 ) return false;
	});
	$('.createBooking').click(function() {
		createBookingModal();
		return false;
	});
	$('.createBreak').click(function() {
		createBreakModal();
		return false;
	});
	if (parseInt($('#locals-selector').val()) > 0) {
		loadProviders();
	}
	$('#locals-selector').change(function() {
		if (parseInt($('#locals-selector').val()) > 0) {
			loadProviders();
		}
	});
	$('#datePicker').datepicker({
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
		dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
		dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ]
	});
	$("#bookingStartHour").on("change", function() {
		modalChange();
	});
	$("#bookingStartMinute").on("change", function() {
		modalChange();
	});
	$("#booking_service_id").on("change", function() {
		modalChange();
	});

	$("#dp").datepicker({
		dateFormat: 'dd-mm-yy',
		autoSize: true,
		firstDay: 1,
		changeMonth: true,
		changeYear: true,
		dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
		dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
		dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ],
		onSelect: function(dateText, inst) {
			var d = new Date(parseInt(dateText.split('-')[2]), parseInt(dateText.split('-')[1]) - 1, parseInt(dateText.split('-')[0]));
			$('#calendar').fullCalendar('gotoDate', d);
			var providerId = parseInt($('#providers-selector').val());
			loadProviderEvents(providerId);
		}
	});
	$("#set-date").datepicker({
		dateFormat: 'dd-mm-yy',
		buttonText: '<i class="fa fa-clock-o"></i> Ir a',
		changeMonth: true,
		changeYear: true,
		showOn: 'button',
		firstDay: 1,
		dayNames: [ "Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado" ],
		dayNamesMin: [ "Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá" ],
		dayNamesShort: [ "Dom", "Lun", "Mar", "Mié", "Jue", "Vie", "Sáb" ],
		onSelect: function(dateText, inst) {
			var d = new Date(parseInt(dateText.split('-')[2]), parseInt(dateText.split('-')[1]) - 1, parseInt(dateText.split('-')[0]));
			$('#calendar').fullCalendar('gotoDate', d);
			var providerId = parseInt($('#providers-selector').val());
			loadProviderEvents(providerId);
		}
	});

	$("#full_name").on('input',function(e){
		splitFullName();
	});

	$("#full_name").autocomplete({
		source: '/clients_name_suggestion',
		appendTo: '#full_name_suggestions',
		autoFocus: true,
		minLength: 3,
		select: function( event, ui ) {
			event.preventDefault();
			var client = eval("(" + ui.item.value + ")");
			$('#booking_client_first_name').val(client.first_name);
			$('#booking_client_last_name').val(client.last_name);
			$('#booking_client_phone').val(client.phone);
			$('#booking_client_email').val(client.email);
			$('#booking_client_id').val(client.id);
			$('#booking_client_identification_number').val(client.identification_number);
			$('#booking_client_address').val(client.address);
			$('#booking_client_district').val(client.district);
			$('#booking_client_city').val(client.city);
			$('#booking_client_birth_day option[value="'+client.birth_day+'"]').prop('selected', true);
			$('#booking_client_birth_month option[value="'+client.birth_month+'"]').prop('selected', true);
			$('#booking_client_birth_year option[value="'+client.birth_year+'"]').prop('selected', true);
			$('#booking_client_age').val(client.age);
			$('#booking_client_gender option[value="'+client.gender+'"]').attr("selected",true);
			$("#full_name").val(client.first_name+' '+client.last_name)
			if (validEmail($("#booking_client_email").val())) {
				$('#booking_send_mail').prop('disabled', false);
				$('#booking_send_mail').val(1);
				$('#booking_send_mail').prop('checked', true);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('#xButton').prop('disabled', false);
			$("#full_name").prop('disabled', true);
			loadClientHistory(0);
		}
	}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
		return $( '<li>' ).append( '<a>' + item.label + '<br><span class="auto-desc">' + item.desc + '</span></a>' ).appendTo( ul );
	};

	$("#booking_client_email").autocomplete({
		source: '/clients_suggestion',
		appendTo: '#email_suggestions',
		autoFocus: true,
		minLength: 3,
		select: function( event, ui ) {
			event.preventDefault();
			var client = eval("(" + ui.item.value + ")");
			$('#booking_client_first_name').val(client.first_name);
			$('#booking_client_last_name').val(client.last_name);
			$('#booking_client_phone').val(client.phone);
			$('#booking_client_email').val(client.email);
			$('#booking_client_id').val(client.id);
			$('#booking_client_identification_number').val(client.identification_number);
			$('#booking_client_address').val(client.address);
			$('#booking_client_district').val(client.district);
			$('#booking_client_city').val(client.city);
			$('#booking_client_birth_day option[value="'+client.birth_day+'"]').prop('selected', true);
			$('#booking_client_birth_month option[value="'+client.birth_month+'"]').prop('selected', true);
			$('#booking_client_birth_year option[value="'+client.birth_year+'"]').prop('selected', true);
			$('#booking_client_age').val(client.age);
			$('#booking_client_gender option[value="'+client.gender+'"]').attr("selected",true);
			$("#full_name").val(client.first_name+' '+client.last_name)
			if (validEmail($("#booking_client_email").val())) {
				$('#booking_send_mail').prop('disabled', false);
				$('#booking_send_mail').val(1);
				$('#booking_send_mail').prop('checked', true);
				$('label[for=booking_send_mail]').removeClass('disabled');
			}
			else {
				$('#booking_send_mail').val(0);
				$('#booking_send_mail').prop('checked', false);
				$('#booking_send_mail').prop('disabled', true);
				$('label[for=booking_send_mail]').addClass('disabled');
			}
			$('#xButton').prop('disabled', false);
			$("#full_name").prop('disabled', true);
			loadClientHistory(0);
		}
	}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
		return $( '<li>' ).append( '<a>' + item.label + '<br><span class="auto-desc">' + item.desc + '</span></a>' ).appendTo( ul );
	};

	$("#booking_client_email").on('input',function(e){
		if (validEmail($("#booking_client_email").val())) {
			$('#booking_send_mail').prop('disabled', false);
			$('#booking_send_mail').val(1);
			$('#booking_send_mail').prop('checked', true);
			$('label[for=booking_send_mail]').removeClass('disabled');
		}
		else {
			$('#booking_send_mail').val(0);
			$('#booking_send_mail').prop('checked', false);
			$('#booking_send_mail').prop('disabled', true);
			$('label[for=booking_send_mail]').addClass('disabled');
		}
	});

	$('#booking_service_provider_id').change(function (event) {
		$.getJSON('/provider_services', {id: event.target.value}, function (services) {
			$('#booking_service_id').empty();
			$.each(services, function (key, service) {
				$('#booking_service_id').append(
					'<option value="' + service.id + '">' + service.name + '</option>'
				);
			});
			$('#booking_service_id').removeAttr('disabled');
			modalChange();
		});
		if ($('#booking_provider_lock').prop('checked')) {
			$('#booking_service_provider_id').prop('disabled', true);
		}
		else {
			$('#booking_service_provider_id').prop('disabled', false);
		}
	});

	$(".ui-datepicker-trigger").addClass("btn btn-agendapro-claro pull-right")

	$('#bookingModal').on('hidden.bs.modal', function (e) {
		$('#booking_service_id').attr('disabled', true);
		$('#booking_status_id').parent().parent().next().remove();
		bookingModalOpen = false;
		validator.resetForm();
		$('.has-success').removeClass('has-success');
		$('.fa.fa-check').removeClass('fa fa-check');
		$('.has-error').removeClass('has-error');
		$('#bookingModal').find('.fa.fa-times').removeClass('fa fa-times');
	});

	$('#breakModal').on('hidden.bs.modal', function (e) {
		$('#booking_service_id').attr('disabled', true);
		bookingModalOpen = false;
	});

	$('#xButton').click(function() {
		$('#booking_client_first_name').val('');
		$('#booking_client_last_name').val('');
		$('#booking_client_phone').val('');
		$('#booking_client_email').val('');
		$('#booking_client_id').val('');
		$('#booking_client_identification_number').val('');
		$('#booking_client_address').val('');
		$('#booking_client_district').val('');
		$('#booking_client_city').val('');
		$('#booking_client_birth_day option[value=""]').prop('selected', true);
		$('#booking_client_birth_month option[value=""]').prop('selected', true);
		$('#booking_client_birth_year option[value=""]').prop('selected', true);
		$('#booking_client_age').val('');
		$('#booking_client_gender option[value="0"]').prop('selected', true);
		$("#full_name").val('');
		$("#full_name").prop('disabled', false);
		$('#booking_send_mail').val(0);
		$('#booking_send_mail').prop('checked', false);
		$('#booking_send_mail').prop('disabled', true);
		$('label[for=booking_send_mail]').addClass('disabled');
		$('#client-history-tbody').empty();
		$('#client-history-tbody').append('<tr><td colspan="6">No hay un cliente seleccionado...</td></tr>');
		$('#xButton').prop('disabled', true);
	});

	$('#booking_provider_lock').change(function() {
		if ($('#booking_provider_lock').prop('checked')) {
			if ($('#booking_service_provider_id').val() == null) {
				$('#booking_service_provider_id').prop('disabled', false);
			}
			else {
				$('#booking_service_provider_id').prop('disabled', true);
			}
		}
		else {
			$('#booking_service_provider_id').prop('disabled', false);
		}
	});
	$('#booking_client_birth_day').change(function() {
		setAge();
	});
	$('#booking_client_birth_month').change(function() {
		setAge();
	});
	$('#booking_client_birth_year').change(function() {
		setAge();
	});

	$('#bookingAlertsClose').click(function() {
		$('#bookingAlerts').hide();
	});

	$('#provider_break_service_provider_id').append(
		'<option value="0">Todos</option>'
	);
});
