$(function(){

	$('#addFileBtn').on('click', function(){
		clearValidations("#file");
		clearValidations("#file_name");
  		clearValidations("#file_description");
  		clearValidations("#new_folder_name");
  		clearValidations("#folderSelect");
  		$('#folderSelect').val("select");
  		$('#new_folder_name').show();
    	$('#fileUploadModal').modal('show');
  	});

  	$('#addFolderBtn').on('click', function(){
  		clearValidations("#company_folder_name");
  		$('#addFolderModal').modal('show');
  	});

  	$('.addFolderFileBtn').on('click', function(){
  		clearValidations("#file");
  		clearValidations("#file_name");
  		clearValidations("#file_description");
  		clearValidations("#new_folder_name");
  		clearValidations("#folderSelect");
  		$('#new_folder_name').hide();
  		$('#fileUploadModal #folderSelect').val($(this).attr("folder_name"));
  		$('#fileUploadModal').modal('show');
  	});

  	$('.renameFolderBtn').on('click', function(e){
  		clearValidations("#rename_folder_name");
  		$('#old_folder_name').val($(this).attr("folder_name"));
  		$('#renameFolderModal').modal('show');
  	});

  	$('.moveFileBtn').on('click', function(e){
  		$('#move_company_file_id').val($(this).attr("company_file_id"));
  		$('#moveFileModal').modal('show');
  	});

  	$('.editFileBtn').on('click', function(){
  		clearValidations("#edit_file_name");
  		clearValidations("#edit_file_description");
  		clearValidations("#edit_new_folder_name");
  		clearValidations("#editFolderSelect");
  		$('#edit_company_file_id').val($(this).attr("company_file_id"));
  		$('#edit_file_name').val($(this).attr("company_file_name"));
  		$('#edit_file_description').val($(this).attr("company_file_description"));
  		$('#editFolderSelect').val($(this).attr("company_file_folder"));

  		$('#edit_new_folder_name').hide();

  		$('#editFileModal').modal('show');
  	});

  	$('.deleteFolderBtn').on('click', function(e){

  		$('#delete_folder_name').val("");
  		var folder_name = $(this).attr("folder_name");

		swal({
			title: "¿Estás seguro que deseas eliminar la carpeta? Se eliminarán todos los archivos que contiene.",
			type: "warning",
			showCancelButton: true,
			confirmButtonText: 'Eliminar',
			cancelButtonText: 'Cancelar'
		},
		function (isConfirm) {
			if(isConfirm)
			{
				$('#delete_folder_name').val(folder_name);
				$('#company_delete_folder_form').submit();
			}
			else
			{
				
			}
		});

  	});

  	$('.viewFileBtn').on('click', function(){

	    var company_file_id = $(this).attr('company_file_id');

	    $.ajax({
			url: '/company_files/' + company_file_id,
			method: 'get',
			dataType: 'json',
			error: function(response){
				swal({
				  title: "Error",
				  text: "Se produjo un error",
				  type: "error"
				});
			},
			success: function(response){
				company_file = response[0];
				public_url = response[1];
				is_image = response[2];
				$('#view_file_name').html(company_file.name);
				$('#view_file_description').html(company_file.description);
				$('#view_file_link').empty();
				$('#view_file_link').append('<a style="margin-top: 4px;" href="' + public_url + '">Descargar</a>');
				if(is_image)
				{
				  $('#view_file_preview').html('<image src="' + public_url + '" width="200px;" height="200px;" />');
				  $('#view_file_preview_div').show();
				}
				else
				{
				  $('#view_file_preview').empty();
				  $('#view_file_preview_div').hide();
				}
				$('#viewFileModal').modal('show');
			}
	    })

  	});

  	$(".file-delete").on("ajax:success", function(e, data, status, xhr){
	    var file_id = data.id;
	    $('.file-row[file_id="' + file_id + '"]').remove();
	    swal({
	        title: "Éxito",
	        text: "Archivo eliminado correctamente..",
	        type: "success"
	    });
  	}).on("ajax:error", function(e, xhr, status, error){
	    console.log(xhr.responseText)
	    swal({
	      title: "Error",
	      text: "Se produjo un error",
	      type: "error"
	    });
  	});

  	$(".attribute_datepicker").datepicker({
	    dateFormat: 'dd/mm/yy',
	    autoSize: true,
	    firstDay: 1,
	    changeMonth: true,
	    changeYear: true,
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
	        prevText: 'Atrás',
	        nextText: 'Adelante',
	        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
	        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
	        today: 'Hoy',
	        clear: ''
  	});

  	$('.panel-collapse').on('hide.bs.collapse', function (e) {
	    console.log('Event fired on #' + e.currentTarget.id);
	    var folder_id = e.currentTarget.id.split("_")[2];
	    $('#folder_heading_' + folder_id).find('.folder-icons-closed').show();
	    $('#folder_heading_' + folder_id).find('.folder-icons-open').hide();
	});

	$('.panel-collapse').on('show.bs.collapse', function (e) {
	    console.log('Event fired on #' + e.currentTarget.id);
	    var folder_id = e.currentTarget.id.split("_")[2];
	    $('#folder_heading_' + folder_id).find('.folder-icons-closed').hide();
	    $('#folder_heading_' + folder_id).find('.folder-icons-open').show();
	});

	$('#folderSelect').on('change', function(){
		if($(this).val() == "select")
		{
			$('#new_folder_name').show();
		}
		else
		{
			$('#new_folder_name').hide();
		}
	});

	$('#editFolderSelect').on('change', function(){
		if($(this).val() == "select")
		{
			$('#edit_new_folder_name').show();
		}
		else
		{
			$('#edit_new_folder_name').hide();
		}
	});

	$('#file').on('change', function(){
		if(this.files[0].size/1000/1000 > 25)
		{
			swal({
			  title: "Tamaño inadecuado",
			  text: "El tamaño máximo de archivos es de 25 MB.",
			  type: "error"
			});
			$(this).val("");
		}
	});

});