function initializeFilters()
{

  $(".attribute-datepicker").datepicker({
    dateFormat: 'dd/mm/yy',
    autoSize: true,
    firstDay: 1,
    changeMonth: true,
    changeYear: true,
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: ''
  });


	$('.categoric-multiselect').multiselect({
      includeSelectAllOption: true,
      selectAllText: 'Todos',
      buttonContainer: '<div style="margin-top: 8px;"></div>',
      buttonText: function(options, select) {

          if (options.length === 0) {
            return 'Ninguno';
          }
          else if(options.length == select[0].length)
          {
            return "Todos";
          }
          else if(options.length > 3)
          {
            return options.length + " seleccionados";
          }
          else {
            var labels = [];
            options.each(function() {
                if ($(this).attr('label') !== undefined) {
                    labels.push($(this).attr('label'));
                }
                else {
                    labels.push($(this).html());
                }
            });
            return labels.join(', ') + '';
          }
      },
      onChange: function(option, checked, select){

      },
      onInitialized: function(select, container){
        $('.attribute-multiselect').show();
      }
  });

}

$(function(){
  $('body').on('change', '.filter-check', function(){
    var attribute_id = $(this).attr("attribute_id");
    if($(this).is(':checked'))
    {
      $(this).val("1");
      $('.filter-field[attribute_id="' + attribute_id + '"]').prop('disabled', false);
      $('.filter-field[attribute_id="' + attribute_id + '"]').parent().find('.multiselect').prop('disabled', false);
      $('.filter-field[attribute_id="' + attribute_id + '"]').parent().find('.multiselect').removeClass('disabled');
    }
    else
    {
      $(this).val("0");
      $('.filter-field[attribute_id="' + attribute_id + '"]').prop('disabled', true);
      $('.filter-field[attribute_id="' + attribute_id + '"]').parent().find('.multiselect').prop('disabled', true);
      $('.filter-field[attribute_id="' + attribute_id + '"]').parent().find('.multiselect').addClass('disabled');
    }
  });

  $('body').on('change', '.filter-option', function(){

    if($(this).val() == "between" || $(this).val() == "out")
    {
      $(this).parent().parent().find('.filter-exclusive').prop('disabled', false);
    }
    else
    {
      $(this).parent().parent().find('.filter-exclusive').prop('disabled', true);
    }

  });

  $('body').on('change', '.filter-exclusive', function(){

    if($(this).is(':checked'))
    {
      $(this).val("1");
    }
    else
    {
      $(this).val("0");
    }

  });

  $('body').on('click', '.edit_filter_btn', function(){
    $('#editFilterModal .modal-dialog').empty()
    var filter_id = $(this).attr("filter_id");
    $.ajax({
      url: '/edit_filter_form',
      method: 'get',
      data: {id: filter_id},
      error: function(response){

      },
      success: function(response){
        $('#editFilterModal .modal-dialog').append(response);
        $('#editFilterModal').modal('show');
        initializeFilters();
      }
    })
  });

});


