function loadProviders () {
	if (parseInt($('#locals-selector').val()) > 0) {
		var localId = parseInt($('#locals-selector').val());
		$('#providers-div').empty();
		$.getJSON('/local_providers', {location: localId}, function (providersArray) {
			if (providersArray.length > 0) {
				$('#providers-div').append('<select class="form-control" id="providers-selector">');
				$.each(providersArray, function (key, provider) {
					$('#providers-selector').append('<option name="providerRadio" value="'+provider.id+'">'+provider.public_name+'</option>');
				});
				$('#providers-selector').change(function() {
					providerId = parseInt($('#providers-selector').val())
					if (providerId > 0) {
						loadTable();
					}
				});
				loadTable();
				return true;
			}
		});
	}
	return false;
}

function loadTable() {
	$('#provider-table-body').empty();
	$('#provider-table-body').append('<tr><td colspan="4"><%= image_tag "small-loader.gif", :alt => "Loader", :id => "small_loader_header", :class => "small-loader-header" %></td></tr>');
	var months = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
	var days = new Array ("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
	var f = $("#dp").datepicker("getDate");
	$('#date-label').empty();
	$('#date-label').append(days[f.getDay()] + " " + f.getDate() + " de " + months[f.getMonth()] + ", " + f.getFullYear());
	$.getJSON('/provider_hours', {service_provider_id: parseInt($('#providers-selector').val()), provider_date: $("#dp").datepicker("getDate")}, function (rows) {
		$('#provider-table-body').empty();
		if (rows.length > 0) {
			$.each(rows, function (key, row) {
				$('#provider-table-body').append('<tr><td>' + row[0] + '</td><td>' + row[1] + '</td><td>' + row[2] + '</td><td>' + row[3] + '</td></tr>');
			});
		}
		else {
			$('#provider-table-body').append('<tr><td colspan="4">El prestador seleccionado no trabaja este día...</td></tr>');
		}
	});
}

$(function() {
	$("#dp").datepicker({
		dateFormat: 'dd-mm-yy',
		autoSize: true,
		firstDay: 1,
		changeMonth: true,
		changeYear: true,
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: '',
		onSelect: function(dateText, inst) {
			loadTable();
		}
	});

	$('#next-day').on("click", function () {
	    var date = $('#dp').datepicker('getDate');
	    date.setTime(date.getTime() + (1000*60*60*24))
	    $('#dp').datepicker("setDate", date);
	    loadTable();
	});

	$('#prev-day').on("click", function () {
	    var date = $('#dp').datepicker('getDate');
	    date.setTime(date.getTime() - (1000*60*60*24))
	    $('#dp').datepicker("setDate", date);
	    loadTable();
	});

	$('#locals-selector').change(function() {
		loadProviders();
	});
	loadProviders();
});