var days = ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'];

function buildDay (value) {
	$('#localTable').append(
		'<tr>' +
			'<th>' +
				'<div class="checkbox">' +
					'<label>' +
						'<input type="checkbox" name="dayStatus'+ value +'" id="dayStatusId'+ value +'" value="0" onchange="changeDayStatus('+ value +')"> ' + days[value - 1] + ':' +
					'</label>' +
				'</div>' +
			'</th>' +
			'<th>' +
				'<form class="form-inline" role="form">' +
					'<div class="form-group">' +
						'<select class="form-control time-select" id="openHourId'+ value +'" name="openHour'+ value +'" disabled="disabled">' +
							'<option value="00">00</option>' +
							'<option value="01">01</option>' +
							'<option value="02">02</option>' +
							'<option value="03">03</option>' +
							'<option value="04">04</option>' +
							'<option value="05">05</option>' +
							'<option value="06">06</option>' +
							'<option value="07">07</option>' +
							'<option value="08">08</option>' +
							'<option value="09">09</option>' +
							'<option value="10">10</option>' +
							'<option value="11">11</option>' +
							'<option value="12">12</option>' +
							'<option value="13">13</option>' +
							'<option value="14">14</option>' +
							'<option value="15">15</option>' +
							'<option value="16">16</option>' +
							'<option value="17">17</option>' +
							'<option value="18">18</option>' +
							'<option value="19">19</option>' +
							'<option value="20">20</option>' +
							'<option value="21">21</option>' +
							'<option value="22">22</option>' +
							'<option value="23">23</option>' +
						'</select>' +
					'</div> : ' +
					'<div class="form-group">' +
						'<select class="form-control time-select" id="openMinuteId'+ value +'" name="openMinute'+ value +'" disabled="disabled">' +
							'<option value="00">00</option>' +
							'<option value="15">15</option>' +
							'<option value="30">30</option>' +
							'<option value="45">45</option>' +
						'</select>' +
					'</div>' +
				'</form>' +
			'</th>' +
			'<th>' +
				'<form class="form-inline" role="form">' +
					'<div class="form-group">' +
						'<select class="form-control time-select" id="closeHourId'+ value +'" name="closeHour'+ value +'" disabled="disabled">' +
							'<option value="00">00</option>' +
							'<option value="01">01</option>' +
							'<option value="02">02</option>' +
							'<option value="03">03</option>' +
							'<option value="04">04</option>' +
							'<option value="05">05</option>' +
							'<option value="06">06</option>' +
							'<option value="07">07</option>' +
							'<option value="08">08</option>' +
							'<option value="09">09</option>' +
							'<option value="10">10</option>' +
							'<option value="11">11</option>' +
							'<option value="12">12</option>' +
							'<option value="13">13</option>' +
							'<option value="14">14</option>' +
							'<option value="15">15</option>' +
							'<option value="16">16</option>' +
							'<option value="17">17</option>' +
							'<option value="18">18</option>' +
							'<option value="19">19</option>' +
							'<option value="20">20</option>' +
							'<option value="21">21</option>' +
							'<option value="22">22</option>' +
							'<option value="23">23</option>' +
						'</select>' +
					'</div> : ' +
					'<div class="form-group">' +
						'<select class="form-control time-select" id="closeMinuteId'+ value +'" name="closeMinute'+ value +'" disabled="disabled">' +
							'<option value="00">00</option>' +
							'<option value="15">15</option>' +
							'<option value="30">30</option>' +
							'<option value="45">45</option>' +
						'</select>' +
					'</div>' +
				'</form>' +
			'</th>' +
		'</tr>'
	);
}

function initialize() {
	for(var i = 1; i < 8; ++i) {
		buildDay(i);
	}

	if ( $('#title').length > 0 ) {
		var locationTimesData = $('#location_times_data').data('location-times');
		$.each(locationTimesData, function(index,locationTime) {
			var value = locationTime.day_id;
			$('#dayStatusId'+ value).prop('checked', true);
			$('#dayStatusId'+ value).val(1);

			$('#openHourId'+ value).prop('disabled', false);
			$('#openMinuteId'+ value).prop('disabled', false);
			$('#closeHourId'+ value).prop('disabled', false);
			$('#closeMinuteId'+ value).prop('disabled', false);

			var openTime = new Date(Date.parse(locationTime.open)).toUTCString().split(" ")[4].split(":");
			var closeTime = new Date(Date.parse(locationTime.close)).toUTCString().split(" ")[4].split(":");

			$('#openHourId'+ value +' option[value="'+openTime[0]+'"]').attr("selected",true);
			$('#openMinuteId'+ value +' option[value="'+openTime[1]+'"]').attr("selected",true);
			$('#closeHourId'+ value +' option[value="'+closeTime[0]+'"]').attr("selected",true);
			$('#closeMinuteId'+ value +' option[value="'+closeTime[1]+'"]').attr("selected",true);
		});
		$('#country option[value="'+$('#geo_data').data('country-id')+'"]').attr("selected",true);
		$.getJSON('/country_regions', {country_id: $('#geo_data').data('country-id')}, function (regions) {
			if (regions.length) {
				$('#region').empty();
				$.each(regions, function (key, region) {
					$('#region').append(
						'<option value="' + region.id + '">' + region.name + '</option>'
					);
				});
				$('#region').prepend(
					'<option></option>'
				);
				$('#region').attr('disabled', false);
				$('#region option[value="'+$('#geo_data').data('region-id')+'"]').attr("selected",true);
				$('#region').change(function (event) {
					$('#city').attr('disabled', true);
					$('#city').val('');
					$('#location_district_id').attr('disabled', true);
					$('#location_district_id').val('');
					var region_id = $(event.target).val();
					changeRegion(region_id);
				});
				$.getJSON('/region_cities', {region_id: $('#geo_data').data('region-id')}, function (cities) {
					if (cities.length) {
						$('#city').empty();
						$.each(cities, function (key, city) {
							$('#city').append(
								'<option value="' + city.id + '">' + city.name + '</option>'
							);
						});
						$('#city').prepend(
							'<option></option>'
						);
						$('#city').attr('disabled', false);
						$('#city option[value="'+$('#geo_data').data('city-id')+'"]').attr("selected",true);
						$('#city').change(function (event) {
							$('#location_district_id').attr('disabled', true);
							$('#location_district_id').val('');
							var city_id = $(event.target).val();
							changeCity(city_id);
						});
						$.getJSON('/city_districs', {city_id: $('#geo_data').data('city-id')}, function (districts) {
							if (districts.length) {
								$('#location_district_id').empty();
								$('#districtsCheckboxes').html('<div class="panel panel-info"><div class="panel-heading"><h3 class="panel-title">Comunas que atiendes</h3></div><div id="districtsPanel" class="panel-body"></div></div>');
								$.each(districts, function (key, district) {
									$('#location_district_id').append(
										'<option value="' + district.id + '">' + district.name + '</option>'
									);
									$('#districtsPanel').append(
										'<input type="checkbox" value="' + district.id + '" class="districtActive"/> ' + district.name + '<br />'
									);
								});
								$('#location_district_id').attr('disabled', false);
								$('#location_district_id option[value="'+$('#geo_data').data('district-id')+'"]').attr("selected",true);
								if ($('#location_outcall').prop('checked')) {
									$('#location_address').attr('disabled', true);
									$('#districtsCheckboxes').removeClass('hidden');
									var locationDistrictsData = $('#location_districts_data').data('location-districts');
									$.each(locationDistrictsData, function(index,locationDistrict) {
										$('.districtActive[value="'+locationDistrict.id+'"]').prop('checked',true);
									});
								}
							};
						});
					};
				});
			};
		});
	}
}


function changeDayStatus (value) {
	if ($('#dayStatusId'+ value).val() == 0) {
		$('#openHourId'+ value).prop('disabled', false);
		$('#openMinuteId'+ value).prop('disabled', false);
		$('#closeHourId'+ value).prop('disabled', false);
		$('#closeMinuteId'+ value).prop('disabled', false);
		$('#dayStatusId'+ value).val(1);
	}
	else if ($('#dayStatusId'+ value).val() == 1) {
		$('#openHourId'+ value).prop('disabled', true);
		$('#openMinuteId'+ value).prop('disabled', true);
		$('#closeHourId'+ value).prop('disabled', true);
		$('#closeMinuteId'+ value).prop('disabled', true);
		$('#dayStatusId'+ value).val(0);
	}
}

function startLocation() {
	if ((!$('#location_outcall').prop('checked')) && ($('#location_address').val() != '') && ($('#location_district_id').val() != '')) {
		$.getJSON('/get_direction', {id: $('#location_district_id').val()}, function (direction) {
			var geolocation = $('#location_address').val() + ', ' + direction;
			var geoString = JSON.stringify(geolocation);
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode( { "address" : geoString }, function (results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					$('#location_latitude').val(results[0].geometry.location.lat());
					$('#location_longitude').val(results[0].geometry.location.lng());
				}
				saveLocation();
			});
		});
	}
	else if ($('#location_outcall').prop('checked') && $('#location_district_id').val() != '') {
		$.getJSON('/get_direction', {id: $('#location_district_id').val()}, function (direction) {
			var geolocation = direction;
			var geoString = JSON.stringify(geolocation);
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode( { "address" : geoString }, function (results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					$('#location_latitude').val(results[0].geometry.location.lat());
					$('#location_longitude').val(results[0].geometry.location.lng());
				}
				saveLocation();
			});
		});
	}
	else {
		alertId.showAlert('Dirección y/o Comuna no pueden estar vacías.');
	}
}

function locJSON() {
	var enabledDays = [];
	for(var i = 1; i < 8; ++i) {
		if ($('#dayStatusId'+ i).val() == 1) {
			enabledDays.push($('#dayStatusId'+ i).attr('id').slice(-1));
		}
	}
	var location_times = [];
	for (i in enabledDays) {
		var location_time = {"open":"2000-01-01T"+ $('#openHourId'+enabledDays[i]).val() +":"+ $('#openMinuteId'+enabledDays[i]).val() +":00Z","close":"2000-01-01T"+ $('#closeHourId'+enabledDays[i]).val() +":"+ $('#closeMinuteId'+enabledDays[i]).val() +":00Z","day_id":parseInt(enabledDays[i])};
		location_times.push(location_time);
	}
	var districtIds = [];
	if ($('#location_outcall').prop('checked')) {
		$(".districtActive:checked").each(
		    function() {
		    	districtIds.push($(this).val());
		    }
		);
	}
	var locationJSON  = {
		"name": $('#location_name').val(),
		"address": $('#location_address').val(),
		"phone": $('#location_phone').val(),
		"district_id": $('#location_district_id').val(),
		"outcall": $('#location_outcall').prop('checked'),
		"district_ids": districtIds,
		"latitude": parseFloat($('#location_latitude').val()),
		"longitude": parseFloat($('#location_longitude').val()),
		"location_times_attributes": location_times
	};
	return locationJSON;
}

function saveLocation() {
	var locationJSON = locJSON();
	var locationId = $('#id_data').data('id');
	if ( $('#title').length > 0 ) {
		$.ajax({
			type: "PATCH",
			url: ' /locations/'+ JSON.stringify(locationId) +'.json',
			data: { location: locationJSON },
			dataType: 'json',
			success: function(){
				document.location.href = '/locations/';
			},
			error: function(xhr){
				var errors = $.parseJSON(xhr.responseText).errors;
				var errores = '';
				for (i in errors) {
					errores += errors[i];
				}
				alertId.showAlert(errores);
			}
		});
	}
	else {
		var locationJSON = locJSON();
		$.ajax({
			type: "POST",
			url: '/locations.json',
			data: { "location": locationJSON },
			dataType: 'json',
			success: function(){
				document.location.href = '/locations/';
			},
			error: function(xhr){
				var errors = $.parseJSON(xhr.responseText).errors;
				var errores = '';
				for (i in errors) {
					errores += errors[i];
				}
				alertId.showAlert(errores);
			}
		});
	}
}

function changeCountry (country_id) {
	$.getJSON('/country_regions', {country_id: country_id}, function (regions) {
		if (regions.length) {
			$('#region').empty();
			$.each(regions, function (key, region) {
				$('#region').append(
					'<option value="' + region.id + '">' + region.name + '</option>'
				);
			});
			$('#region').prepend(
				'<option></option>'
			);

			$('#region').change(function (event) {
				$('#city').attr('disabled', true);
				$('#city').val('');
				$('#location_district_id').attr('disabled', true);
				$('#location_district_id').val('');
				var region_id = $(event.target).val();
				changeRegion(region_id);
			});
			$('#region').attr('disabled', false);
		};
	});
}

function changeRegion (region_id) {
	$.getJSON('/region_cities', {region_id: region_id}, function (cities) {
		if (cities.length) {
			$('#city').empty();
			$.each(cities, function (key, city) {
				$('#city').append(
					'<option value="' + city.id + '">' + city.name + '</option>'
				);
			});
			$('#city').prepend(
				'<option></option>'
			);

			$('#city').change(function (event) {
				$('#location_district_id').attr('disabled', true);
				$('#location_district_id').val('');
				var city_id = $(event.target).val();
				changeCity(city_id);
			});
			$('#city').attr('disabled', false);
		};
	});
}

function changeCity (city_id) {
	$.getJSON('/city_districs', {city_id: city_id}, function (districts) {
		if (districts.length) {
			$('#districtsCheckboxes').empty();
			$('#districtsCheckboxes').html('<div class="panel panel-info"><div class="panel-heading"><h3 class="panel-title">Comunas que atiendes</h3></div><div id="districtsPanel" class="panel-body"></div></div>');
			$('#location_district_id').empty();
			$.each(districts, function (key, district) {
				$('#location_district_id').append(
					'<option value="' + district.id + '">' + district.name + '</option>'
				);
				$('#districtsPanel').append(
					'<input type="checkbox" value="' + district.id + '" class="districtActive"/> ' + district.name + '<br />'
				);
			});
			$('#location_district_id').attr('disabled', false);
			$('#location_district_id').val('');
		};
	});
}

var alertId;
$(function() {
	alertId = new Alert();
	initialize();
	$('#saveLocation').click(function() {
		startLocation();
		return false;
	});
	
	$('#country').change(function (event) {
		$('#region').attr('disabled', true);
		$('#region').val('');
		$('#city').attr('disabled', true);
		$('#city').val('');
		$('#location_district_id').attr('disabled', true);
		$('#location_district_id').val('');
		var country_id = $(event.target).val();
		changeCountry(country_id);
	});
	$('#location_outcall').change(function() {
		if (!$('#location_outcall').prop('checked')) {
			$('#location_address').attr('disabled', false);
			$('#location_district_ids').val('');
			$('#districtsCheckboxes').addClass('hidden');
		}
		else {
			$('#location_address').attr('disabled', true);
			$('#location_address').val('');
			$('#districtsCheckboxes').removeClass('hidden');
		}
	});
});