function buildDay (divId, value) {
	$('#'+divId).empty();
	$('#'+divId).append('<input type="checkbox" name="dayStatus'+ value +'" id="dayStatusId'+ value +'" value="0" onchange="changeDayStatus('+ value +')" class="checkbox">  Apertura: '+
	'<select id="openHourId'+ value +'" name="openHour'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="01">01</option>'+
		'<option value="02">02</option>'+
		'<option value="03">03</option>'+
		'<option value="04">04</option>'+
		'<option value="05">05</option>'+
		'<option value="06">06</option>'+
		'<option value="07">07</option>'+
		'<option value="08">08</option>'+
		'<option value="09">09</option>'+
		'<option value="10">10</option>'+
		'<option value="11">11</option>'+
		'<option value="12">12</option>'+
		'<option value="13">13</option>'+
		'<option value="14">14</option>'+
		'<option value="15">15</option>'+
		'<option value="16">16</option>'+
		'<option value="17">17</option>'+
		'<option value="18">18</option>'+
		'<option value="19">19</option>'+
		'<option value="20">20</option>'+
		'<option value="21">21</option>'+
		'<option value="22">22</option>'+
		'<option value="23">23</option>'+
	'</select>'+
	 ': <select id="openMinuteId'+ value +'" name="openMinute'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="15">15</option>'+
		'<option value="30">30</option>'+
		'<option value="45">45</option>'+
	'</select>'+
	' - Cierre: <select id="closeHourId'+ value +'" name="closeHour'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="01">01</option>'+
		'<option value="02">02</option>'+
		'<option value="03">03</option>'+
		'<option value="04">04</option>'+
		'<option value="05">05</option>'+
		'<option value="06">06</option>'+
		'<option value="07">07</option>'+
		'<option value="08">08</option>'+
		'<option value="09">09</option>'+
		'<option value="10">10</option>'+
		'<option value="11">11</option>'+
		'<option value="12">12</option>'+
		'<option value="13">13</option>'+
		'<option value="14">14</option>'+
		'<option value="15">15</option>'+
		'<option value="16">16</option>'+
		'<option value="17">17</option>'+
		'<option value="18">18</option>'+
		'<option value="19">19</option>'+
		'<option value="20">20</option>'+
		'<option value="21">21</option>'+
		'<option value="22">22</option>'+
		'<option value="23">23</option>'+
	'</select>'+
	' : <select id="closeMinuteId'+ value +'" name="closeMinute'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="15">15</option>'+
		'<option value="30">30</option>'+
		'<option value="45">45</option>'+
	'</select>'+
  '</div>');
}

function initialize() {
	buildDay('div1',1);
	buildDay('div2',2);
	buildDay('div3',3);
	buildDay('div4',4);
	buildDay('div5',5);
	buildDay('div6',6);
	buildDay('div7',7);

	if ( $('#title').length > 0 ) {
		var locationTimesData = $('#location_times_data').data('location-times');
		$.each(locationTimesData, function(index,locationTime) {
			var value = locationTime.day_id;
			$('#dayStatusId'+ value).prop('checked', true);
			$('#dayStatusId'+ value).val(1);

			$('#openHourId'+ value).prop('disabled', false);
			$('#openMinuteId'+ value).prop('disabled', false);
			$('#closeHourId'+ value).prop('disabled', false);
			$('#closeMinuteId'+ value).prop('disabled', false);

			var openTime = new Date(Date.parse(locationTime.open)).toUTCString().split(" ")[4].split(":");
			var closeTime = new Date(Date.parse(locationTime.close)).toUTCString().split(" ")[4].split(":");

			$('#openHourId'+ value +' option[value="'+openTime[0]+'"]').attr("selected",true);
			$('#openMinuteId'+ value +' option[value="'+openTime[1]+'"]').attr("selected",true);
			$('#closeHourId'+ value +' option[value="'+closeTime[0]+'"]').attr("selected",true);
			$('#closeMinuteId'+ value +' option[value="'+closeTime[1]+'"]').attr("selected",true);
		});
	}
}

function changeDayStatus(value) {
	if ($('#dayStatusId'+ value).val() == 0) {
		$('#openHourId'+ value).prop('disabled', false);
		$('#openMinuteId'+ value).prop('disabled', false);
		$('#closeHourId'+ value).prop('disabled', false);
		$('#closeMinuteId'+ value).prop('disabled', false);
		$('#dayStatusId'+ value).val(1);
	}
	else if ($('#dayStatusId'+ value).val() == 1) {
		$('#openHourId'+ value).prop('disabled', true);
		$('#openMinuteId'+ value).prop('disabled', true);
		$('#closeHourId'+ value).prop('disabled', true);
		$('#closeMinuteId'+ value).prop('disabled', true);
		$('#dayStatusId'+ value).val(0);
	}
}

function startLocation() {
	var district = $('#location_district_id').val();
	var address = $('#location_address').val();
	if ((address != '')&&(district != '')) {
		$.getJSON('/get_direction', {id: district}, function (direction) {
			var geolocation = address + ', ' + direction;
			var geoString = JSON.stringify(geolocation);
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode( { "address" : geoString }, function (results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					$('#location_latitude').val(results[0].geometry.location.lat());
					$('#location_longitude').val(results[0].geometry.location.lng());
				}
				saveLocation();
			});
		});
	}
	else {
		alertId.showAlert('Dirección y/o Comuna no pueden estar vacías.');
	}
}

function locJSON() {
	var enabledDays = [];
	$(".checkbox").each( function() {
		if ($( this ).val() == 1) {
			enabledDays.push($(this).attr('id').slice(-1));
		}
	});
	var location_times = [];
	for (i in enabledDays) {
		var location_time = {"open":"2000-01-01T"+ $('#openHourId'+enabledDays[i]).val() +":"+ $('#openMinuteId'+enabledDays[i]).val() +":00Z","close":"2000-01-01T"+ $('#closeHourId'+enabledDays[i]).val() +":"+ $('#closeMinuteId'+enabledDays[i]).val() +":00Z","day_id":parseInt(enabledDays[i])};
		location_times.push(location_time);
	}
	var locationJSON  = { "name": $('#location_name').val(), "address": $('#location_address').val(), "phone": $('#location_phone').val(), "district_id": $('#location_district_id').val(), "latitude": parseFloat($('#location_latitude').val()), "longitude": parseFloat($('#location_longitude').val()), "location_times_attributes": location_times };
	return locationJSON;
}

function saveLocation() {
	var locationJSON = locJSON();
	var locationId = $('#id_data').data('id');
	if ( $('#title').length > 0 ) {
		$.ajax({
		    type: "PATCH",
		    url: ' /locations/'+ JSON.stringify(locationId) +'.json',
		    data: { location: locationJSON },
		    dataType: 'json',
		    success: function(){
		    	document.location.href = '/locations/';
			},
			error: function(xhr){
			    var errors = $.parseJSON(xhr.responseText).errors;
			    var errores = '';
			    for (i in errors) {
			    	errores += errors[i];
			    }
			    alertId.showAlert(errores);
			}
		});
	}
	else {
		var locationJSON = locJSON();
		$.ajax({
		    type: "POST",
		    url: '/locations.json',
		    data: { "location": locationJSON },
		    dataType: 'json',
		    success: function(){
		    	document.location.href = '/locations/';
			},
			error: function(xhr){
			    var errors = $.parseJSON(xhr.responseText).errors;
			    var errores = '';
			    for (i in errors) {
			    	errores += errors[i];
			    }
			    alertId.showAlert(errores);
			}
		});
	}
}
var alertId;
$(function() {
	alertId = new Alert();
  initialize();
});