var paymentModalState = '';
var paymentAmount = 0;
var paymentItems = [];
var paymentPastBookings = []
var paymentNewBookings = []
var paymentProducts = []
var paymentReceipts = []

function loadPaymentSettings() {
	// cuotas
	if ($('#payment_payment_method_id option:selected').data("installments")) {
		$('#installments_group').show();
		$('#payment_method_type_group').show();
		
	}
	else {
		$('#installments_group').hide();
		$('#payment_method_type_group').hide();
		$('#payment_installments').val('');
    	$('#payment_payment_method_type_id').val('');
	}

	//codigo autorizacion
	if ($('#payment_payment_method_id option:selected').data("number")) {
		$('#payment_method_number_group').show();
	}
	else {
		$('#payment_method_number_group').hide();
		$('#payment_payment_method_number').val('');
	}

	//banco
	if ($('#payment_payment_method_id option:selected').data("bank")) {
		$('#bank_id_group').show();
	}
	else {
		$('#bank_id_group').hide();
		$('#payment_bank_id').val('');
	}

	//otros medios de pago
	if ($('#payment_payment_method_id option:selected').data("custom-method")) {
		$('#company_payment_method_group').show();
	}
	else {
		$('#company_payment_method_group').hide();
		$('#payment_company_payment_method_id').val('');
	}

	//validar codigo de autorizacion required
	if ($('#payment_payment_method_id option:selected').data("number-required") || $('#payment_company_method_id option:selected').data("number-required")) {
		$( "#payment_payment_method_number" ).rules( "remove");
		$( "#payment_payment_method_number" ).rules( "add", { required: true });
	}
	else {
		$( "#payment_payment_method_number" ).rules( "remove");
	}



	return false;
}

function calculateTotals(return_values) {
	var bookings = { "total": 0, "discount": 0, "price": 0 };
	$('input.payment-booking-checkbox').each(function() {
		var index = $(this).val();
		if ($('#booking_id_'+index).prop('checked')) {
	    	bookings.total += parseFloat($('#payment_booking_normal_' + index).data("price"));
	    	bookings.price += parseFloat($('#payment_booking_price_' + index).val());
		}
	});

	if (bookings.total == 0) {
		bookings.discount = 0;
	}
	else {
		bookings.discount = 100 - 100 * bookings.price / bookings.total;
	}

	var sessions = { "total": 0, "discount": 0, "price": 0 };
	$('input.payment-session-checkbox').each(function() {
		var index = $(this).val();
		if ($('#session_id_'+index).prop('checked')) {
	    	sessions.total += parseFloat($('#payment_session_normal_' + index).data("price"));
	    	sessions.price += parseFloat($('#payment_session_price_' + index).val());
		}
	});

	if (sessions.total == 0) {
		sessions.discount = 0;
	}
	else {
		sessions.discount = 100 - 100 * sessions.price / sessions.total;
	}

	var products = { "total": 0, "quantity": 0, "discount": 0, "price": 0 };
	$('input.payment-product-input').each(function() {
		var index = $(this).val();
    	products.total += parseFloat($('#payment_product_product_id_' + index + ' option:selected').data("price")) * parseInt($('#payment_product_quantity_' + index).val());
    	products.quantity += parseInt($('#payment_product_quantity_' + index).val());
    	products.price += parseFloat($('#payment_product_price_' + index).val());
	});

	if (products.total == 0) {
		products.discount = 0;
	}
	else {
		products.discount = 100 - 100 * products.price / products.total;
	}

	if (return_values) {
		return { "bookings": bookings, "sessions": sessions, "products": products };
	}
	else {
		$('#booking_total_normal_price').html('$ ' + bookings.total.toFixed(0));
		$('#booking_total_discount').html(bookings.discount.toFixed(2) + ' %');
		$('#booking_total_price').html('$ ' + bookings.price.toFixed(0));

		$('#session_total_normal_price').html('$ ' + sessions.total.toFixed(0));
		$('#session_total_discount').html(sessions.discount.toFixed(2) + ' %');
		$('#session_total_price').html('$ ' + sessions.price.toFixed(0));

		$('#product_total_normal_price').html('$ ' + products.total.toFixed(0));
		$('#product_total_quantity').html(products.quantity.toFixed(0));
		$('#product_total_discount').html(products.discount.toFixed(2) + ' %');
		$('#product_total_price').html('$ ' + products.price.toFixed(0));

		return false;
	}
}

$(".payment-btn-next").click(function(){
	if(paymentModalState == 'Intro')
	{
		if($("#fakePaymentIntroForm").valid())
		{
			loadPaymentModal1();
		}
	}
	else if(paymentModalState == 'Step1')
	{
		if(paymentItems.length == 0)
		{
			alert("Agrega un servicio o poducto antes de continuar.");
			return;
		}
		else
		{
			var all_null = true;
			for(pi=0; pi < paymentItems.length; pi++)
			{
				if(paymentItems[pi] != null)
				{
					all_null = false;
					break;
				}
			}

			if(all_null)
			{
				alert("Agrega un servicio o poducto antes de continuar.");
				return;
			}
		}
		loadPaymentModal2();
	}
	else if(paymentModalState == 'Step2')
	{
		if($("#fakePaymentStep2Form").valid() && $("#fakeMethodDetailsForm").valid())
		{
			loadPaymentModal3();
		}
	}
});

$(".payment-btn-back").click(function(){
	if(paymentModalState == 'Step3')
	{
		loadPaymentModal2(0);
	}
	else if(paymentModalState == 'Step2')
	{
		loadPaymentModal1(0);
	}
	else if(paymentModalState == 'Step1')
	{
		loadPaymentIntro(0);
	}
});

function calculateReturn()
{
	var paid_amount = parseInt($("#payment_paid_amount").val());
	var price_amount = parseInt($("#payment_cost").val());
	var return_amount = paid_amount - price_amount;
	$("#payment_change_amount").val(return_amount);
}

function loadPaymentIntro(booking_id) {
	$("#paymentModal1").modal('hide');
	$("#paymentModalIntro").modal('show');
	paymentModalState = 'Intro';
}

function loadPaymentModal1(booking_id) {
	$("#paymentModalIntro").modal('hide');
	$("#paymentModal1").modal('show');
	$("#paymentModal2").modal('hide');
	paymentModalState = 'Step1';
}

function loadPaymentModal2(booking_id) {
	$("#payment-total-amount").text($("#paymentCalculatedTotal").text());
	$("#payment_cost").val(parseInt($("#paymentCalculatedTotal").text().substring(1, $("#paymentCalculatedTotal").text().length)));
	$("#paymentModal1").modal('hide');
	$("#paymentModal2").modal('show');
	$("#paymentModal3").modal('hide');
	paymentModalState = 'Step2';
}

function loadPaymentModal3(booking_id) {
	parsePaymentItems();
	$("#paymentModal2").modal('hide');
	$("#paymentModal3").modal('show');
	paymentModalState = 'Step3';
}

function loadBookingPayment(booking_id) {
	var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;

    var yyyy = today.getFullYear();
    if(dd<10){
        dd='0'+dd;
    } 
    if(mm<10){
        mm='0'+mm;
    } 
    var today = dd+'-'+mm+'-'+yyyy;

	$('.payment-booking-tr').remove();
	$('.payment-session-tr').remove();
	$('.payment-product-tr').remove();
	$('#payment_id').val('');
	$('#payment_amount').val('');
	$('#payment_receipt_number').val('');
	$('#payment_payment_method_number').val('');
	$('#payment_installments').val('');
	$('#payment_client_id').val('');
	$('#payment_location_id').val('');
	$('#payment_notes').val('');
	$('#payment_receipt_type_id option[value="<%= ReceiptType.find_by_name("Boleta").id if ReceiptType.find_by_name("Boleta") %>"]').prop('selected', true);
	$('#payment_payment_method_id option[value="<%= PaymentMethod.find_by_name("Efectivo").id if PaymentMethod.find_by_name("Efectivo") %>"]').prop('selected', true);
	$('#payment_company_payment_method_id option[value=""]').prop('selected', true);
	$('#payment_payment_date').val(today);
	$('#payment_past_bookings_button').attr("disabled", false);
	$('#payment_past_sessions_button').attr("disabled", false);
	$('#payment_bookings_row').show();
	$('#payment_sessions_row').show();
	loadPaymentSettings();


	if (parseInt(booking_id) > 0) {
		$.getJSON('/booking_payment/', { booking_id: booking_id }, function (bookings_payment) {
			// window.console.log(bookings_payment);

			var bookings = bookings_payment.bookings;
			if (bookings.length > 0) {
				$.each(bookings, function (key, full_booking) {
					add_booking_to_payment(full_booking);
				});
			}

			var sessions = bookings_payment.sessions;
			if (sessions.length > 0) {
				$.each(sessions, function (key, full_session) {
					// window.console.log(full_session);
					add_session_to_payment(full_session);
				});
			}

			var products = bookings_payment.products;
			if (products.length > 0) {
				$.each(products, function (key, payment_product) {
					add_new_product_to_payment(payment_product.product_id, payment_product.quantity, payment_product.discount, payment_product.price);
				});
			}

			var payment = bookings_payment.payment
			if (payment.id == null) {
				$('#delete_payment_button').hide();
		        $('#delete_payment_button').click(function() {
		          $('#delete_payment_button').unbind( "click" );
		          return false;
		        });
			}
			else {
				$('#payment_id').val(payment.id);
		        $('#delete_payment_button').show();
		        $('#delete_payment_button').click(function() {
		          destroyPayment(payment.id);
		        });
				$('#payment_receipt_number').val(payment.receipt_number);
				$('#payment_payment_date').val(payment.payment_date);
				$('#payment_payment_method_number').val(payment.payment_method_number);
				$('#payment_installments').val(payment.installments);
				$('#payment_client_id').val(payment.client_id);
				$('#payment_location_id').val(payment.location_id);
				$('#payment_notes').val(payment.notes);
				$('#payment_receipt_type_id option[value="' + payment.receipt_type_id + '"]').prop('selected', true);
				$('#payment_payment_method_id option[value="' + payment.payment_method_id + '"]').prop('selected', true);
				$('#payment_bank_id option[value="' + payment.bank_id + '"]').prop('selected', true);
				$('#payment_payment_method_type_id option[value="' + payment.payment_method_type_id + '"]').prop('selected', true);
				$('#payment_company_payment_method_id option[value="' + payment.company_payment_method_id + '"]').prop('selected', true);
			}

			calculateTotals(false);
			$('#payment_past_bookings_button').unbind( "click" );
			if (bookings_payment.past_bookings.length > 0) {
				$('#payment_past_bookings_button').click(function() {
					past_bookings_modal(bookings_payment.past_bookings);
				});
			}
			else {
				$('#payment_past_bookings_button').attr("disabled", true);
				if (bookings.length == 0) {
					$('#payment_bookings_row').hide();
				}
			}

			$('#payment_past_sessions_button').unbind( "click" );
			if (bookings_payment.past_sessions.length > 0) {
				$('#payment_past_sessions_button').click(function() {
					past_sessions_modal(bookings_payment.past_sessions);
				});
			}
			else {
				$('#payment_past_sessions_button').attr("disabled", true);
				if (sessions.length == 0) {
					$('#payment_sessions_row').hide();
				}
			}

			var client_id = bookings_payment.client.id;
			$('#payment_client_id').val(client_id);
			loadPaymentSettings();
		});
	}
	else {
		$('#delete_payment_button').hide();
		$('#payment_client_id').val('');
		$("#payment_full_name").val('');
		$("#payment_full_name").prop('disabled', false);
		$('#payment_xButton').prop('disabled', true);
		$('#client_location_row').show();
		loadPaymentSettings();
		calculateTotals(false);
		$('#payment_past_bookings_button').unbind( "click" );
		$('#payment_past_bookings_button').click(function() {
		  client_bookings_modal();
		});
		$('#payment_past_sessions_button').unbind( "click" );
		$('#payment_past_sessions_button').click(function() {
		  client_sessions_modal();
		});
	}
}

function past_bookings_modal(past_bookings_array) {
	$('#payment-past-bookings-table').empty();
	if (past_bookings_array.length > 0) {
		$.getJSON('/past_bookings/', { booking_ids: past_bookings_array }, function (past_bookings) {
			// window.console.log(past_bookings);
			if (past_bookings.past_bookings.length > 0) {
				$.each(past_bookings.past_bookings, function (key, past_booking) {
					$('#payment-past-bookings-table').append('<tr class="payment-past-booking-tr"><td><a class="btn btn-default btn-xs" id="past_booking_id_' + past_booking.booking.id + '">Agregar...</a></td><td><div class="table-fixed">' + past_booking.booking_service + '</div></td><td><div class="table-fixed">' + past_booking.booking_provider + '</div></td><td><div class="table-fixed">' + past_booking.booking_date + '</div></td><td><div class="table-fixed">' + past_booking.booking_time + '</div></td><td><div class="table-fixed">$ ' + past_booking.booking_price + '</div></td><td><div class="table-fixed">' + past_booking.booking.discount + ' %</div></td><td><div class="table-fixed">$ ' + past_booking.booking.price + '</div></td></tr>');
					$('#past_booking_id_' + past_booking.booking.id).click(function() {
						add_booking_to_payment(past_booking);
						var index = past_bookings_array.indexOf(past_booking.booking.id);
						if (index > -1) {
						    past_bookings_array.splice(index, 1);
						}
						$('#payment_past_bookings_button').unbind( "click" );
						if (past_bookings_array.length > 0) {
							$('#payment_past_bookings_button').click(function() {
								past_bookings_modal(past_bookings_array);
							});
						}
						else {
							$('#payment_past_bookings_button').attr("disabled", true);
						}
						calculateTotals(false);
						$('#paymentBookingModal').modal('hide');
					});
				});
				$('#paymentBookingModal').modal('show');
			}
		});
	}
}

function past_sessions_modal(past_sessions_array) {
	$('#payment-past-bookings-table').empty();
	if (past_sessions_array.length > 0) {
		$.getJSON('/past_sessions/', { booking_ids: past_sessions_array }, function (past_sessions) {
			// window.console.log(past_sessions);
			if (past_sessions.past_sessions.length > 0) {
				$.each(past_sessions.past_sessions, function (key, past_session) {
					$('#payment-past-bookings-table').append('<tr class="payment-past-booking-tr"><td><a class="btn btn-default btn-xs" id="past_session_id_' + past_session.session_booking.id + '" data-bookings="' + past_session.session_booking_ids + '">Agregar...</a></td><td><div class="table-fixed">' + past_session.session_service + '</div></td><td><div class="table-fixed"></div></td><td><div class="table-fixed"></div></td><td><div class="table-fixed"></div></td><td><div class="table-fixed">$ ' + past_session.session_normal + '</div></td><td><div class="table-fixed">' + past_session.session_discount + ' %</div></td><td><div class="table-fixed">$ ' + past_session.session_price + '</div></td></tr>');
					$('#past_session_id_' + past_session.session_booking.id).click(function() {
						add_session_to_payment(past_session);
						var new_past_sessions_array = $.grep(past_sessions_array, function(value) {
						    return $.inArray(value, $('#past_session_id_' + past_session.session_booking.id).data("bookings")) < 0;
						});
						$('#payment_past_sessions_button').unbind( "click" );
						if (new_past_sessions_array.length > 0) {
							$('#payment_past_sessions_button').click(function() {
								past_sessions_modal(new_past_sessions_array);
							});
						}
						else {
							$('#payment_past_sessions_button').attr("disabled", true);
						}
						calculateTotals(false);
						$('#paymentBookingModal').modal('hide');
					});
				});
				$('#paymentBookingModal').modal('show');
			}
		});
	}
}

function client_bookings_modal() {
  $('#payment-past-bookings-table').empty();
  if (parseInt($('#payment_client_id').val()) > 0 && parseInt($('#locals-selector').val()) > 0) {
    $.getJSON('/payment_client_bookings/', { client_id: parseInt($('#payment_client_id').val()), location_id: parseInt($('#locals-selector').val()) }, function (past_bookings) {
      // window.console.log(past_bookings);
      if (past_bookings.past_bookings.length > 0) {
        $.each(past_bookings.past_bookings, function (key, past_booking) {
          $('#payment-past-bookings-table').append('<tr class="payment-past-booking-tr"><td><a class="btn btn-default btn-xs" id="past_booking_id_' + past_booking.booking.id + '">Agregar...</a></td><td><div class="table-fixed">' + past_booking.booking_service + '</div></td><td><div class="table-fixed">' + past_booking.booking_provider + '</div></td><td><div class="table-fixed">' + past_booking.booking_date + '</div></td><td><div class="table-fixed">' + past_booking.booking_time + '</div></td><td><div class="table-fixed">$ ' + past_booking.booking_price + '</div></td><td><div class="table-fixed">' + past_booking.booking.discount + ' %</div></td><td><div class="table-fixed">$ ' + past_booking.booking.price + '</div></td></tr>');
          $('#past_booking_id_' + past_booking.booking.id).click(function() {
            add_booking_to_payment(past_booking);
            $('#paymentBookingModal').modal('hide');
          });
        });
        $('#paymentBookingModal').modal('show');
      }
      else {
        alert('No hay reservas para este cliente.');
      }
    });
  }
  else {
    alert('Primero debes elegir un cliente.');
  }
}

function client_sessions_modal() {
  $('#payment-past-bookings-table').empty();
  if (parseInt($('#payment_client_id').val()) > 0 && parseInt($('#locals-selector').val()) > 0) {
    $.getJSON('/payment_client_sessions/', { client_id: parseInt($('#payment_client_id').val()), location_id: parseInt($('#locals-selector').val()) }, function (past_sessions) {
      // window.console.log(past_bookings);
      if (past_sessions.past_sessions.length > 0) {
        $.each(past_sessions.past_sessions, function (key, past_session) {
          $('#payment-past-bookings-table').append('<tr class="payment-past-booking-tr"><td><a class="btn btn-default btn-xs" id="past_session_id_' + past_session.session_booking.id + '" data-bookings="' + past_session.session_booking_ids + '">Agregar...</a></td><td><div class="table-fixed">' + past_session.session_service + '</div></td><td><div class="table-fixed"></div></td><td><div class="table-fixed"></div></td><td><div class="table-fixed"></div></td><td><div class="table-fixed">$ ' + past_session.session_normal + '</div></td><td><div class="table-fixed">' + past_session.session_discount + ' %</div></td><td><div class="table-fixed">$ ' + past_session.session_price + '</div></td></tr>');
          $('#past_session_id_' + past_session.session_booking.id).click(function() {
            add_session_to_payment(past_session);
            $('#paymentBookingModal').modal('hide');
          });
        });
        $('#paymentBookingModal').modal('show');
      }
      else {
        alert('No hay tratamientos para este cliente.');
      }
    });
  }
  else {
    alert('Primero debes elegir un cliente.');
  }
}

function add_booking_to_payment(full_booking) {
	var checked = full_booking.booking_checked ? 'checked' : '';
	$('#payment-bookings-table').prepend('<tr class="payment-booking-tr" id="payment_booking_tr_' + full_booking.booking.id + '"><td><input type="checkbox" class="payment-booking-checkbox" value="' + full_booking.booking.id + '" id="booking_id_' + full_booking.booking.id + '" ' + checked + ' /></td><td><div class="table-fixed">' + full_booking.booking_service + '</div></td><td><div class="table-fixed">' + full_booking.booking_provider + '</div></td><td><div class="table-fixed">' + full_booking.booking_date + '</div></td><td><div class="table-fixed">' + full_booking.booking_time + '</div></td><td><div class="table-fixed" id="payment_booking_normal_' + full_booking.booking.id + '" data-price="' + full_booking.booking_price + '">$ ' + full_booking.booking_price + '</div></td><td><div class="input-group"><input type="number" class="form-control payment-booking-input" id="payment_booking_discount_' + full_booking.booking.id + '"><span class="input-group-addon">%</span></div></td><td><div class="input-group"><span class="input-group-addon">$</span><input type="number" class="form-control payment-booking-input"  id="payment_booking_price_' + full_booking.booking.id + '"></div></td></tr>');
	$('#payment_booking_discount_' + full_booking.booking.id).val(full_booking.booking.discount);
	$('#payment_booking_price_' + full_booking.booking.id).val(full_booking.booking.price);

	$('#payment_booking_discount_' + full_booking.booking.id).change(function() {
		$('#payment_booking_price_' + full_booking.booking.id).val((full_booking.booking_price - full_booking.booking_price * parseFloat($('#payment_booking_discount_' + full_booking.booking.id).val()) / 100).toFixed(0));
		calculateTotals(false);
	});
	$('#payment_booking_price_' + full_booking.booking.id).change(function() {
		$('#payment_booking_discount_' + full_booking.booking.id).val((100 - 100 * parseInt($('#payment_booking_price_' + full_booking.booking.id).val()) / full_booking.booking_price).toFixed(2));
		calculateTotals(false);
	});
	$('input#booking_id_' + full_booking.booking.id).change(function() {
		if ($('#booking_id_'+$(this).val()).prop('checked')) {
			$('#payment_booking_tr_'+$(this).val()).removeClass("tr-disabled");
			$('#payment_booking_tr_'+$(this).val() + ' input.payment-booking-input').attr('disabled', false);
			calculateTotals(false);
		}
		else {
			$('#payment_booking_tr_'+$(this).val()).addClass("tr-disabled");
			$('#payment_booking_tr_'+$(this).val() + ' input.payment-booking-input').attr('disabled', true);
			calculateTotals(false);
		}
	});
}

function add_session_to_payment(full_session) {
	var checked = full_session.session_checked ? 'checked' : '';
	$('#payment-sessions-table').prepend('<tr class="payment-session-tr" id="payment_session_tr_' + full_session.session_booking.id + '"><td><input type="checkbox" class="payment-session-checkbox" value="' + full_session.session_booking.id + '" id="session_id_' + full_session.session_booking.id + '" ' + checked + ' /></td><td><div class="table-fixed">' + full_session.session_service + '</div></td><td><div class="table-fixed" id="payment_session_bookings_' + full_session.session_booking.id + '" data-bookings="' + full_session.session_booking_ids + '">' + full_session.session_count + ' sesión(es)</div></td><td><div class="table-fixed" id="payment_session_normal_' + full_session.session_booking.id + '" data-price="' + full_session.session_normal + '">$ ' + full_session.session_normal + '</div></td><td><div class="input-group"><input type="number" class="form-control payment-session-input" id="payment_session_discount_' + full_session.session_booking.id + '"><span class="input-group-addon">%</span></div></td><td><div class="input-group"><span class="input-group-addon">$</span><input type="number" class="form-control payment-session-input"  id="payment_session_price_' + full_session.session_booking.id + '"></div></td></tr>');
	$('#payment_session_discount_' + full_session.session_booking.id).val(full_session.session_discount);
	$('#payment_session_price_' + full_session.session_booking.id).val(full_session.session_price);

	$('#payment_session_discount_' + full_session.session_booking.id).change(function() {
		$('#payment_booking_price_' + full_session.session_booking.id).val((full_session.session_normal - full_session.session_normal * parseFloat($('#payment_session_discount_' + full_session.session_booking.id).val()) / 100).toFixed(0));
		calculateTotals(false);
	});
	$('#payment_session_price_' + full_session.session_booking.id).change(function() {
		$('#payment_booking_discount_' + full_session.session_booking.id).val((100 - 100 * parseInt($('#payment_session_price_' + full_session.session_booking.id).val()) / full_session.session_normal).toFixed(2));
		calculateTotals(false);
	});
	$('input#session_id_' + full_session.session_booking.id).change(function() {
		if ($('#session_id_'+$(this).val()).prop('checked')) {
			$('#payment_session_tr_'+$(this).val()).removeClass("tr-disabled");
			$('#payment_session_tr_'+$(this).val() + ' input.payment-session-input').attr('disabled', false);
			calculateTotals(false);
		}
		else {
			$('#payment_session_tr_'+$(this).val()).addClass("tr-disabled");
			$('#payment_session_tr_'+$(this).val() + ' input.payment-session-input').attr('disabled', true);
			calculateTotals(false);
		}
	});
}

function add_new_product_to_payment(selected_option, quantity, discount, price) {
	var new_product_index = get_product_index();
	$('#payment-products-table').prepend('<tr class="payment-product-tr" id="payment_product_tr_' + new_product_index + '"><td><input type="hidden" class="payment-product-input" value="' + new_product_index + '"><a class="btn btn-red btn-xs" id="payment_product_delete_button_' + new_product_index + '" onclick="remove_product_tr(' + new_product_index + ');"><i class="fa fa-trash-o"></i></a></td><td>' + build_new_product_select('payment_product_product_id_' + new_product_index, selected_option) + '</td><td></td><td><div class="table-fixed" id="payment_product_normal_' + new_product_index + '"></div></td><td><input type="number" class="form-control" id="payment_product_quantity_' + new_product_index + '"></td><td><div class="input-group"><input type="number" class="form-control" id="payment_product_discount_' + new_product_index + '"><span class="input-group-addon">%</span></div></td><td><div class="input-group"><span class="input-group-addon">$</span><input type="number" class="form-control" id="payment_product_price_' + new_product_index + '"></div></td></tr>');
	$('#payment_product_discount_' + new_product_index).val(discount);
	$('#payment_product_price_' + new_product_index).val(price);
	$('#payment_product_quantity_' + new_product_index).val(quantity);

	$('#payment_product_normal_' + new_product_index).html('$ ' + $('#payment_product_product_id_' + new_product_index + ' option:selected').data("price").toFixed(0));

	$('#payment_product_product_id_' + new_product_index).change(function() {
		$('#payment_product_price_' + new_product_index).val($('#payment_product_product_id_' + new_product_index + ' option:selected').data("price"));
		$('#payment_product_normal_' + new_product_index).html('$ ' + $('#payment_product_product_id_' + new_product_index + ' option:selected').data("price").toFixed(0));
		$('#payment_product_quantity_' + new_product_index).val(1);
		$('#payment_product_discount_' + new_product_index).val(0);
		calculateTotals(false);
	});

	$('#payment_product_discount_' + new_product_index).change(function() {
		$('#payment_product_price_' + new_product_index).val(($('#payment_product_product_id_' + new_product_index + ' option:selected').data("price") * parseInt($('#payment_product_quantity_' + new_product_index).val()) - $('#payment_product_product_id_' + new_product_index + ' option:selected').data("price") * parseInt($('#payment_product_quantity_' + new_product_index).val()) * parseFloat($('#payment_product_discount_' + new_product_index).val()) / 100).toFixed(0));
		calculateTotals(false);
	});
	$('#payment_product_price_' + new_product_index).change(function() {
		$('#payment_product_discount_' + new_product_index).val((100 - 100 * parseInt($('#payment_product_price_' + new_product_index).val()) / $('#payment_product_product_id_' + new_product_index + ' option:selected').data("price") * parseInt($('#payment_product_quantity_' + new_product_index).val())).toFixed(2));
		calculateTotals(false);
	});
	$('#payment_product_quantity_' + new_product_index).change(function() {
		$('#payment_product_price_' + new_product_index).val(($('#payment_product_product_id_' + new_product_index + ' option:selected').data("price") * parseInt($('#payment_product_quantity_' + new_product_index).val()) - $('#payment_product_product_id_' + new_product_index + ' option:selected').data("price") * parseInt($('#payment_product_quantity_' + new_product_index).val()) * parseFloat($('#payment_product_discount_' + new_product_index).val()) / 100).toFixed(0));
		$('#payment_product_normal_' + new_product_index).html('$ ' + ($('#payment_product_product_id_' + new_product_index + ' option:selected').data("price") * parseInt($('#payment_product_quantity_' + new_product_index).val())).toFixed(0));
		calculateTotals(false);
	});
}

function build_new_product_select(id, selected_option) {
	var products = $('#products_data').data('products');
	var products_select = '<select class="form-control payment-new-product" id="' + id + '"><option value="" data-price="0"></option>';
	if (products.length > 0) {
		$.each(products, function (key, product) {
			selected = selected_option == product.id ? 'selected="selected"' : '';
			products_select += '<option value="' + product.id + '" data-price="' + product.price + '" ' + selected + '>' + product.name + '</option>';
		});
	}
	products_select += '</select>';
	return products_select;
}

function remove_product_tr(id) {
	$('#payment_product_tr_' + id).remove();
	calculateTotals(false);
}

function savePayment() {
	var booking_ids = new Array();
	var booking_attributes = new Array();

	$(".payment-booking-checkbox").each(function(){
		if($(this).prop("checked")) {
			booking_ids.push($(this).val());
			booking_attributes.push( { "id": $(this).val(), "discount": $('#payment_booking_discount_' + $(this).val()).val(), "price": $('#payment_booking_price_' + $(this).val()).val() } );
		}
	});

	$(".payment-session-checkbox").each(function(){
		if($(this).prop("checked")) {
			var index = $(this).val();
			var session_price = $('#payment_session_price_' + index).val();
			var session_discount = $('#payment_session_discount_' + index).val();
			$.each($('#payment_session_bookings_' + index).data("bookings"), function (key, booking_id) {
				booking_ids.push(booking_id);
				booking_attributes.push( { "id": booking_id, "discount": session_discount, "price": session_price } );
			});
		}
	});

	if (booking_ids.length == 0) {
		booking_ids = [''];
	}

	var product_ids = new Array();
	var product_attributes = new Array();
	$('input.payment-product-input').each(function() {
		var index = $(this).val();
		product_attributes.push( { "product_id": $('#payment_product_product_id_' + index).val(), "quantity": $('#payment_product_quantity_' + index).val(), "discount": $('#payment_product_discount_' + index).val(), "price": $('#payment_product_price_' + index).val() } );
	});

	var totals = calculateTotals(true);

	var paymentJSON = {
		"booking_ids": booking_ids,
		"bookings_attributes": booking_attributes,
		"payment_products_attributes": product_attributes,
		"receipt_type_id": $('#payment_receipt_type_id').val(),
		"receipt_number": $('#payment_receipt_number').val(),
		"payment_date": $('#payment_payment_date').val(),
		"payment_method_id": $('#payment_payment_method_id').val(),
		"company_payment_method_id": $('#payment_company_payment_method_id').val(),
		"payment_method_type_id": $('#payment_payment_method_type_id').val(),
		"payment_method_number": $('#payment_payment_method_number').val(),
		"installments": $('#payment_installments').val(),
		"bank_id": $('#payment_bank_id').val(),
		"notes": $('#payment_notes').val(),
		"location_id": $('#locals-selector').val(),
		"client_id": $('#payment_client_id').val()
		};
	
	var typeURL = parseInt($('#payment_id').val()) > 0 ? 'PATCH' : 'POST';
	var extraURL = parseInt($('#payment_id').val()) > 0 ? '/'+$('#payment_id').val() : '';
	$.ajax({
		type: typeURL,
		url: '/payments'+extraURL+'.json',
		data: { "payment": paymentJSON },
		dataType: 'json',
		success: function(payment){
			// window.console.log(payment);
			alert('Pago guardado exitosamente.');
			$('#payment_id').val(payment.id);
			$("#save_payment_button").html('Guardar Pago');
			$('#save_payment_button').attr('disabled', false);
			$('#payment_past_bookings_button').show();
			if ($('#payments-tab').is(":hidden")) {
				$('#bookingModal').modal('hide');
			}
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = 'Error\n';
			for (i in errors) {
				errores += '*' + errors[i] + '\n';
			}
			alert(errores);
			$("#save_payment_button").html('Guardar Pago');
			$('#save_payment_button').attr('disabled', false);
		}
	});

	return false;
}

function destroyPayment() {
	$.ajax({
		type: 'DELETE',
		url: '/payments/'+$('#payment_id').val() + '.json',
		dataType: 'json',
		success: function(payment){
			// window.console.log(payment);
			alert('Pago eliminado exitosamente.');
			$("#delete_payment_button").html('Eliminar Pago');
			$('#delete_payment_button').attr('disabled', false);
			$('#bookingModal').modal('hide');
		},
		error: function(xhr){
			var errors = $.parseJSON(xhr.responseText).errors;
			var errores = 'Error\n';
			for (i in errors) {
				errores += '*' + errors[i] + '\n';
			}
			alert(errores);
			$("#delete_payment_button").html('Eliminar Pago');
			$('#delete_payment_button').attr('disabled', false);
		}
	});

	return false;
}

var product_index = 0;
function get_product_index() {
	product_index += 1;
	return product_index;
}

/*
*
* Functions for bookings not booked
*
*/

//function setServiceAttributes(service_id){
	//var location_id = parseInt($('#locals-selector').val())
//}

function loadLocationProducts()
{
	$("#payment_product").empty();
	$("#payment_product").append('<option value="-1">Ninguno</option>');
	$.getJSON('/location_products/', {id: parseInt($('#locals-selector').val()) }, function (products) {
		$.each(products, function (key, product) {
			$("#payment_product").append('<option value="' + product.id + '">' + product.name + '</option>');
		});
	});
}

function loadProductPrice()
{
	if($("#payment_product").val() == "")
	{
		return false;
	}
	$.getJSON('/products/' + $("#payment_product").val(), function (product) {
		$("#payment_product_price").val(product.price);
	});
}

function loadPaymentServices(){
	$("#payment_not_booked_service").empty();
	$("#payment_not_booked_service").append('<option value="-1">Ninguno</option>');
	$("#payment_not_booked_provider").empty();
	$("#payment_not_booked_provider").append('<option value="-1">Ninguno</option>');
	$.getJSON('/location_services/', {location: parseInt($('#locals-selector').val()) }, function (services) {
		$.each(services, function (key, service) {
			$("#payment_not_booked_service").append('<option value="' + service.id + '">' + service.name + '</option>');
		});
	});
}

function loadServiceProviders(){
	if($("not_booked_service").val() == "")
	{
		return false;
	}
	$("#payment_not_booked_provider").empty();
	$("#payment_not_booked_provider").append('<option value="-1">Ninguno</option>');
	$.getJSON('/providers_services/', {id: parseInt($("#payment_not_booked_service").val()),local: parseInt($('#locals-selector').val()) }, function (providers) {
		$.each(providers, function (key, provider) {
			$("#payment_not_booked_provider").append('<option value="' + provider.id + '">' + provider.public_name + '</option>');
		});
	});
}

function getServicePrice(){
	if($("#payment_not_booked_service").val() == "")
	{
		return false;
	}
	$.getJSON('/services/' + $("#payment_not_booked_service").val(), function (service) {
		$("#payment_not_booked_price").val(service.price);
	});
}

function loadClientPastBookings(){

	$('#cpb-bookings').empty();
	if (parseInt($('#payment_client_id').val()) > 0 && parseInt($('#locals-selector').val()) > 0) {
	    $.getJSON('/payment_client_bookings/', { client_id: parseInt($('#payment_client_id').val()), location_id: parseInt($('#locals-selector').val()) }, function (past_bookings) {
	      // window.console.log(past_bookings);
	      	if (past_bookings.past_bookings.length > 0) {
	        	$.each(past_bookings.past_bookings, function (key, past_booking) {

	        		//Check if it's been added to the payment already.
	        		var past_booking_exists = false;
	        		for(pb_i = 0; pb_i < paymentPastBookings.length; pb_i++)
	        		{
	        			if(paymentPastBookings[pb_i] != null)
	        			{
	        				if(paymentPastBookings[pb_i].id == past_booking.booking.id)
	        				{
	        					past_booking_exists = true;
	        					break;
	        				}
	        			}
	        		}

	        		if(!past_booking_exists)
	        		{
		        		$("#cpb-bookings").append('<div class="pastBookingRow" booking_id="' + past_booking.booking.id + '">' +
		        			'<div class="col-xs-1 pastBookingCol"><button class="addPastBooking" booking_id="' + past_booking.booking.id + '"><i class="fa fa-plus"></i></button></div>' +
		        			'<div class="col-xs-3 pastBookingCol">' + past_booking.booking_service + '</div>' +
		        			'<div class="col-xs-4 pastBookingCol">' + past_booking.booking_provider + '</div>' +
		        			'<div class="col-xs-4 pastBookingCol">' + past_booking.booking_datetime + '</div>' +
		        			'<div style="clear-both">&nbsp;</div>' + 
		        			'</div>'
		        		);
	        		}
	        	});
	        	$('#cpb-bookings').append('<div style="clear-both"></div>');
	      	}
	      	else {
	        	$("#cpb-bookings").append("El cliente ingresado no tiene reservas hechas.");
	      	}
	    });
	}
	else {
		$("#cpb-bookings").append("El cliente ingresado aún no existe.");
	}
}

function addNotBooked(){

	var new_booking = new Object();
	new_booking['service_id'] = $("#payment_not_booked_service").val();
	new_booking['service_name'] = $('#payment_not_booked_service option:selected').text();
	new_booking['provider_id'] = $("#payment_not_booked_provider").val();
	new_booking['provider_name'] = $("#payment_not_booked_provider option:selected").text();
	new_booking['price'] = $("#payment_not_booked_price").val();
	new_booking['discount'] = $("#payment_not_booked_discount").val();

	new_booking['item_id'] = paymentItems.length;
	new_booking['item_type'] = 'new_booking';

	paymentItems.push(new_booking);
	paymentNewBookings.push(new_booking);
	var item_id = paymentItems.length-1;
	var new_booking_index = paymentNewBookings.length-1;

	$("#paymentItemsTable").append(
		'<tr class="paymentItemsRow" item_id="' + item_id + '" past_booking_index="-1" new_booking_index="' + new_booking_index + '" product_index="-1">' + 
		'<td style="width: 5%; text-align: center; cursor: pointer;"><span class="removePaymentItem" item_id="' + item_id + '" past_booking_index="-1" new_booking_index="' + new_booking_index + '"><button><i class="fa fa-trash-o fa-lg"></i></button></span></td>' +
		'<td style="width: 5%;">' + item_id + '</td>' +
		/*'<td style="width: 5%; text-align: center; cursor: pointer; margin-bottom: -2px;"><span class="editPaymentItem" item_id="' + item_id + '" past_booking_index="-1" new_booking_index="' + new_booking_index + '" product_index="-1"><button><i class="fa fa-pencil-square-o fa-lg"></i></button></span></td>' +*/
		'<td style="width: 24%;"><span>Servicio</span></td>' + 
		'<td style="width: 24%;"><span class="itemName">' + new_booking['service_name'] + '</span></td>' + 
		'<td style="width: 7%;"><input type="number" class="form-control itemQuantity" value="1" disabled /></td>' + 
		'<td style="width: 18%;"><span class="itemPrice">$' + new_booking['price'] + '</span></td>' +
		'<td style="width: 18%;"><div class="input-group"><input type="number" class="form-control itemDiscount" value="' + new_booking['discount'] + '" /><span class="input-group-addon">%</span></div></td>' +
		'</tr>'
	);

	$("#receiptsItemsTable").append(
		'<tr class="receiptsItemsRow" item_id="' + item_id + '">' + 
		'<td><input type="checkbox" class="receipt_item_checkbox" item_id="' + item_id + '" /></td>' +
		'<td>' + item_id + '</td>' +
		'<td>Servicio</td>' + 
		'<td>' + new_booking['service_name'] + '</td>' + 
		'</tr>'
	);

	calculatePaymentTotal();
	$("#paymentItemsList").show();
	$("#paymentSumDiv").show();

	loadPaymentServices();
	$("#payment_not_booked_price").val("0");
	$("#payment_not_booked_discount").val("0");

}

function addPastBooked(booking_id){

	$.getJSON('/get_booking_for_payment', {id: booking_id}, function (booking) {

		booking['item_id'] = paymentItems.length;
		booking['item_type'] = 'past_booking';

		paymentItems.push(booking);
		paymentPastBookings.push(booking);
		var item_id = paymentItems.length-1;
		var past_booking_index = paymentPastBookings.length-1;

		$("#paymentItemsTable").append(
			'<tr class="paymentItemsRow" item_id="' + item_id + '" past_booking_index="' + past_booking_index + '" new_booking_index="-1" product_index="-1">' + 
			'<td style="width: 5%; text-align: center; cursor: pointer;"><span class="removePaymentItem" item_id="' + item_id + '" past_booking_index="' + past_booking_index + '" new_booking_index="-1" product_index="-1"><button><i class="fa fa-trash-o fa-lg"></i></button></span></td>' +
			'<td style="width: 5%;">' + item_id + '</td>' +
		/*'<td style="width: 5%; text-align: center; cursor: pointer; margin-bottom: -2px;"><span class="editPaymentItem" item_id="' + item_id + '" past_booking_index="' + past_booking_index + '" new_booking_index="-1" product_index="-1"><button><i class="fa fa-pencil-square-o fa-lg"></i></button></span></td>' +*/
			'<td style="width: 24%;"><span>Reserva existente</span></td>' + 
			'<td style="width: 24%;"><span class="itemName">' + booking.service_name + '</span></td>' + 
			'<td style="width: 7%;"><span><input type="number" class="form-control itemQuantity" value="1" disabled /></span></td>' + 
			'<td style="width: 18%;"><span class="itemPrice">$' + booking.service_price + '</span></td>' +
			'<td style="width: 18%;"><div class="input-group"><input type="number" class="form-control itemDiscount" value="' + booking.discount + '" /><span class="input-group-addon">%</span></div></td>' +
			'</tr>'
		);

		$("#receiptsItemsTable").append(
			'<tr class="receiptsItemsRow" item_id="' + item_id + '">' + 
			'<td><input type="checkbox" class="receipt_item_checkbox" item_id="' + item_id + '" /></td>' +
			'<td>' + item_id + '</td>' +
			'<td>Reserva existente</td>' + 
			'<td>' + booking.service_name + '</td>' + 
			'</tr>'
		);

		calculatePaymentTotal();

	});

	$("#paymentItemsList").show();
	$("#paymentSumDiv").show();
	
	loadClientPastBookings();

	//$('.pastBookingRow[booking_id="' + booking_id + '"]').remove();
}

function addProduct()
{
	var product = new Object();

	product['item_id'] = paymentItems.length;
	product['id'] = $("#payment_product").val();
	product['name'] = $("#payment_product option:selected").text();
	product['quantity'] = $("#payment_product_quantity").val();
	product['price'] = $("#payment_product_price").val();
	product['discount'] = $("#payment_product_discount").val();
	product['item_type'] = 'product';

	console.log(product);

	paymentItems.push(product);
	paymentProducts.push(product);
	var item_id = paymentItems.length-1;
	var product_index = paymentProducts.length-1;

	$("#paymentItemsTable").append(
		'<tr class="paymentItemsRow" item_id="' + item_id + '" past_booking_index="-1" new_booking_index="-1" product_index="' + product_index + '">' + 
		'<td style="width: 5%; text-align: center; cursor: pointer;"><span class="removePaymentItem" item_id="' + item_id + '" past_booking_index="-1" new_booking_index="-1" product_index="' + product_index + '"><button><i class="fa fa-trash-o fa-lg"></i></button></span></td>' +
		'<td style="width: 5%;">' + item_id + '</td>' +
		/*'<td style="width: 5%; text-align: center; cursor: pointer; margin-bottom: -2px;"><span class="editPaymentItem" item_id="' + item_id + '" past_booking_index="-1" new_booking_index="-1" product_index="' + product_index + '"><button><i class="fa fa-pencil-square-o fa-lg"></i></button></span></td>' +*/
		'<td style="width: 24%;"><span>Producto</span></td>' + 
		'<td style="width: 24%;"><span class="itemName">' + product['name'] + '</span></td>' + 
		'<td style="width: 7%;"><span><input type="number" class="form-control itemQuantity" value="' + product['quantity'] + '" /></span></td>' + 
		'<td style="width: 18%;"><span class="itemPrice">$' + product['price'] + '</span></td>' +
		'<td style="width: 18%;"><div class="input-group"><input type="number" class="form-control itemDiscount" value="' + product['discount'] + '" /><span class="input-group-addon">%</span></div></td>' +
		'</tr>'
	);

	$("#receiptsItemsTable").append(
		'<tr class="receiptsItemsRow" item_id="' + item_id + '">' + 
		'<td><input type="checkbox" class="receipt_item_checkbox" item_id="' + item_id + '" /></td>' +
		'<td>' + item_id + '</td>' +
		'<td>Producto</td>' + 
		'<td>' + product['name'] + '</td>' + 
		'</tr>'
	);

	calculatePaymentTotal();
	$("#paymentItemsList").show();
	$("#paymentSumDiv").show();

	loadLocationProducts();
	$("#payment_product_quantity").val("1");
	$("#payment_product_price").val("0");
	$("#payment_product_discount").val("0");

}

function addReceipt()
{
	var receipt_id = paymentReceipts.length;
	var receipt = new Object();
	var receipt_amount = 0;

	receipt['receipt_id'] = receipt_id;
	receipt['receipt_type_id'] = $("#payment_receipt_type").val();
	receipt['receipt_type_name'] = $("#payment_receipt_type :selected").text();
	receipt['number'] = $("#payment_receipt_number").val();
	receipt['date'] = $("#payment_receipt_date").val();
	receipt['notes'] = $("#payment_receipt_notes").val();
	receipt['items'] = []

	$('.receipt_item_checkbox:checked').each(function(){

		var current_item_id = parseInt($(this).attr("item_id"));

		var current_item = $('.paymentItemsRow[item_id="'+current_item_id+'"]');
		
		for(x = 0; x < paymentItems.length; x++)
		{
			if(paymentItems[x] != null)
			{
				if(paymentItems[x]['item_id'] == current_item_id)
				{
					receipt['items'].push(paymentItems[x]);
					$('.receiptsItemsRow[item_id="' + current_item_id + '"]').remove();

					//Add to amount
					var quantity = parseInt(current_item.find('.itemQuantity').val());
					var price_str = current_item.find('.itemPrice').text();
					var price = parseInt(price_str.substring(1, price_str.length));
					var discount = parseInt(current_item.find('.itemDiscount').val());

					receipt_amount = receipt_amount + (quantity*price*(100-discount)/100);
					break;
				}
			}
		}
	});

	receipt['amount'] = receipt_amount;

	paymentReceipts.push(receipt);
	addReceiptSummary(receipt);
	checkReceiptsReady();
}

function addReceiptSummary(receipt)
{
	$("#payment_receipt_notes").val("");
	$("#payment_receipt_number").val("");
	$("#receiptsItemsDiv").hide();
	$("#fakePaymentStep3Form").hide();
	$("#paymentReceiptsForms").hide();

	$("#addedReceipts").append(
		'<div class="addedReceipt" receipt_id="' + receipt['receipt_id'] + '">' + 
		receipt['receipt_type_name'] + '<span class="removeReceipt" receipt_id="' + receipt['receipt_id'] + '"><i class="fa fa-times"></i></span><br />' +
		'N° ' + receipt['number'] + '<br />' +
		'Monto: $' + receipt['amount'] +
		'</div>'
	);

	var items_str = '';

	var items_header = '<tr class="receiptHeader"><th>Nombre</th><th>Precio unitario</th><th>Cantidad</th><th>Descuento</th><th>Subtotal</th></tr>';

	for(y = 0; y < receipt['items'].length; y++)
	{
		var current_item = $('.paymentItemsRow[item_id="'+ receipt['items'][y]['item_id'] +'"]');
		
		var item_quantity = parseInt(current_item.find('.itemQuantity').val());
		var item_price_str = current_item.find('.itemPrice').text();
		var item_price = parseInt(item_price_str.substring(1, item_price_str.length));
		var item_discount = parseInt(current_item.find('.itemDiscount').val());
		var current_name = current_item.find('.itemName').text();

		var item_amount = (item_quantity*item_price*(100-item_discount)/100);


		items_str = items_str + '<tr class="receiptItem"><td>' + current_name + '</td>';
		items_str = items_str + '<td>' + item_price_str + '</td>';
		items_str = items_str + '<td>' + item_quantity + '</td>';
		items_str = items_str + '<td>' + item_discount + ' %</td>';
		items_str = items_str + '<td> $' + item_amount + '</td><tr/>';
	}

	items_total = '<tr><td></td><td></td><td></td><td><b>Total:</b><td><b> $' + receipt['amount'] + '</b></td></tr>';

	$("#paymentReceiptsFinal").append(
		'<div class="receiptFinal" receipt_id="' + receipt['receipt_id'] + '"><div><span class="receiptTitle">' + receipt['receipt_type_name'] + '</span><span class="receiptNumber">N° ' + receipt['number'] +'</span></div><div><br /><table>' +
			items_header + 
			items_str +
			items_total +
		'</table></div></div>'
	);

	//Add to column for edit/remove.
}

function checkReceiptsReady()
{
	/*
	* If there are no items left to add to receipts,
	* show receipts summary.
	*/
	if($('.receiptsItemsRow').length == 0)
	{
		$("#paymentReceiptsForms").hide();
		$("#paymentReceiptsFinal").show();
	}
}

function calculatePaymentTotal(){

	var total = 0;

	$('.paymentItemsRow').each(function(e){

		var quantity = parseInt($(this).find('.itemQuantity').val());
		var price_str = $(this).find('.itemPrice').text();
		var price = parseInt(price_str.substring(1, price_str.length));
		var discount = parseInt($(this).find('.itemDiscount').val());

		total = total + (quantity*price*(100-discount)/100);

	});

	$("#paymentCalculatedTotal").empty();
	$("#paymentCalculatedTotal").append("$" + total);

	//Reset pay amounts if items list changed
	$("#payment_paid_amount").val("");
	$("#payment_change_amount").val("");
}

function removePaymentItem(index)
{

	past_book_index = $('.paymentItemsRow[item_id="' + index + '"]').attr("past_booking_index");
	new_book_index = $('.paymentItemsRow[item_id="' + index + '"]').attr("new_booking_index");

	if(past_book_index != "-1")
	{
		paymentPastBookings[past_book_index] = null;
	}
	if(new_book_index != "-1")
	{	
		paymentNewBookings[new_book_index] = null;
	}
	$('.paymentItemsRow[item_id="' + index + '"]').remove();
	$('.receiptsItemsRow[item_id="' + index + '"]').remove();
	paymentItems[index] = null;

	loadClientPastBookings();

	calculatePaymentTotal();

}

function parsePaymentItems()
{
	var parsedPaymentPastBookings = []
	var parsedPaymentNewBookings = []
	var parsedPaymentProducts = []

	for(x = 0; x < paymentPastBookings.length; x++)
	{
		if(paymentPastBookings[x] != null)
		{
			parsedPaymentPastBookings.push(paymentPastBookings[x]);
		}
	}

	for(x = 0; x < paymentNewBookings.length; x++)
	{
		if(paymentNewBookings[x] != null)
		{
			parsedPaymentNewBookings.push(paymentNewBookings[x]);
		}
	}

	for(x = 0; x < paymentProducts.length; x++)
	{
		if(paymentProducts[x] != null)
		{
			parsedPaymentProducts.push(paymentProducts[x]);
		}
	}

	$('#paymentPastBookingsArray').val(JSON.stringify(parsedPaymentPastBookings));
	$('#paymentNewBookingsArray').val(JSON.stringify(parsedPaymentNewBookings));
	$('#paymentProductsArray').val(JSON.stringify(parsedPaymentProducts));

}

/*
* Creates a payment and manages action depending on option selected:
*	Send by email
*	Print (create PDF)
*	Nothing (show summary)
*/

function createAndServePayment(option)
{
	var location_id = parseInt($('#locals-selector').val());
	var cashier = $("#payment_cashier").val();
	var client_name = $("#payment_client_name").val();
	split_name('#payment_client_name', '#payment_client_first_name', '#payment_client_last_name');
	var client_first_name = $("#payment_client_first_name");
	var client_last_name = $("#payment_client_last_name");
	var client_id = $("#payment_client_id").val();
	var client_email = $("#payment_client_email").val();
	var payment_past_bookings = $("#paymentPastBookingsArray").val();
	var payment_new_bookings = $("#paymentNewBookingsArray").val();
	var payment_products = $("#paymentProductsArray").val();
	var payment_receipts = $("#paymentReceiptsArray").val();
	var payment_paid_amount = $("#payment_paid_amount").val();
	var payment_cost = $("#payment_cost").val();
	var payment_change_amount = $("#payment_change_amount").val();
	var pay_method = $("#selected_pay_method").val();
	var method_number = $('#payment_' + pay_method + '_number').val();
	var dues_number = $("#payment_credit_card_dues_number").val();
	var payment_date = $("#payment_date");


	/*
		var payment_receipt_type_id = $("#payment_receipt_type").val();
		var payment_receipt_number = $("#payment_receipt_number").val();
		var payment_receipt_date = $("#payment_receipt_date").val();
		var payment_receipt_notes = $("#payment_receipt_notes").val();
	*/

	var callback_option = option;

	$.ajax({
		url: '/create_new_payment',
		type: 'post',
		dataType: 'json',
		data: {location_id: location_id, cashier: cashier, client_name: client_name, client_first_name: client_first_name, client_last_name: client_last_name, client_id: client_id, past_bookings: payment_past_bookings, new_bookings: payment_new_bookings, products: payment_products, paid_amount: payment_paid_amount, cost: payment_cost, change_amount: payment_change_amount, pay_method: pay_method, method_number: method_number, dues_number: dues_number, payment_date: payment_date, receipts: payment_receipts, callback: callback_option},
		error: function(response){

		},
		success: function(response){

		}
	});

}


$(function() {
	$("#payment_payment_date").datepicker({
		dateFormat: 'dd-mm-yy',
		autoSize: true,
		firstDay: 1,
		changeMonth: true,
		changeYear: true,
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: ''
	});

	$("#payment_receipt_date").datepicker({
		dateFormat: 'dd/mm/yy',
		autoSize: true,
		firstDay: 1,
		changeMonth: true,
		changeYear: true,
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: ''
	});

	$("#payment_date").datepicker({
		dateFormat: 'dd/mm/yy',
		autoSize: true,
		firstDay: 1,
		changeMonth: true,
		changeYear: true,
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: ''
	});

	$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
		var target = $(e.target).attr("href");
		if ((target == '#payments-pane')) {
			$('#save_booking_button').attr('disabled','disabled');
		} else {
			$('#save_booking_button').removeAttr('disabled');
		}
	});

	$('#payment_payment_method_id').change(function() {
		loadPaymentSettings();
	});

	$('#payment_products_button').click(function() {
		add_new_product_to_payment(0, 1, 0, 0);
	});

	$('#delete_payment_button').click(function() {
		$('#delete_payment_button').attr('disabled', true);
		$('#delete_payment_button').html('<i class="fa fa-spinner fa-spin"></i>');
		destroyPayment();
	});

	$('#createPayment').click(function() {

		//loadPaymentIntro(0);

		loadBookingPayment(0);
		$('.booking-modal-title').empty();
		$('.booking-modal-title').append('Nuevo Pago');
		$('#payments-tab').tab('show');
		$('#bookingModal #myTab').hide();
		$('#bookingModal .booking-modal-footer').hide();
		$('#bookingModal #payment_client_group').show();
		loadPaymentServices();
		$('#bookingModal').modal('show');
	});

	$("#createPaymentBtn").click(function(){
		paymentItems = [];
		paymentNewBookings = [];
		paymentPastBookings = [];
		paymentProducts = [];
		loadPaymentIntro(0);
	});

	$(".method-btn-name").click(function(e){

		e.preventDefault();
		$(".method-btn.selected").removeClass("selected");
		$(this).closest(".method-btn").addClass("selected");
		var details_id = $(this).attr("href");
		$(".payment_method_details").hide();
		$(details_id).show();

		if(details_id == "#cash_method_details")
		{
			$("#selected_pay_method").val("cash");
		}
		else if(details_id == "#check_method_details")
		{
			$("#selected_pay_method").val("check");
		}
		else if(details_id == "#credit_card_method_details")
		{
			$("#selected_pay_method").val("credit_card");
		}
		else if(details_id == "#debt_card_method_details")
		{
			$("#selected_pay_method").val("debt_card");
		}
		else
		{
			$("#selected_pay_method").val("other");
		}
		
	});

	$("#addServiceBtn").click(function(){

		$("#paymentModalProductForm").hide();

		if($("#payment_client_id").val() != '')
		{
			loadClientPastBookings();
			$("#paymentClientPastBookings").show();
		}
		loadPaymentServices();
		$("#paymentModalBookingForm").show();

	});

	$("#addProductBtn").click(function(){

		$("#paymentModalBookingForm").hide();
		$("#paymentClientPastBookings").hide();
		loadLocationProducts();
		$("#paymentModalProductForm").show();

	});

	$("#addNotBooked").click(function(e){
		addNotBooked();
	});

	$("#addProduct").click(function(e){
		addProduct();
	})

	$("body").on('click', '.addPastBooking', function(e){
		addPastBooked($(this).attr("booking_id"));
	});

	$("body").on('change', '.itemDiscount', function(e){
		console.log("Entra");
		calculatePaymentTotal();
	});

	$("body").on('click', '.removePaymentItem', function(e){
		removePaymentItem($(this).attr("item_id"));
	});

	$("#payment_not_booked_service").on('change', function(e){
		loadServiceProviders();
		getServicePrice();
	});

	$("#payment_product").on('change', function(e){
		loadProductPrice();
	});

	$("#payment_paid_amount").on('change', function(e){
		calculateReturn();
	});

	$("#checkAllItems").on('change', function(e){
		if($(this).prop("checked"))
		{
			$(".receipt_item_checkbox").prop("checked", true);
		}
		else
		{
			$(".receipt_item_checkbox").prop("checked", false);
		}
	});

	$("#addReceiptBtn").click(function(e){

		addReceipt();

	});

	$("#openReceiptForm").click(function(e){
		$("#payment_receipt_notes").val("");
		$("#payment_receipt_number").val("");
		$("#receiptsItemsDiv").show();
		$("#fakePaymentStep3Form").show();
		$("#paymentReceiptsForms").show();
	});

	$("#paymentBtnSave").click(function(){
		createAndServePayment("save");
	});

	$("#paymentBtnPrint").click(function(){
		createAndServePayment("print");
	});

	$("#paymentBtnSendEmail").click(function(){
		createAndServePayment("sendEmail")
	});


	$('#new_payment').submit(function(e) {
	    e.preventDefault();
	}).validate({
		errorPlacement: function(error, element) {
			error.appendTo(element.next());
		},
		rules: {
			'payment[payment_date]': {
				required: true
			}
		},
		highlight: function(element) {
			$(element).closest('.form-group').removeClass('has-success').addClass('has-error');
			$(element).parent().children('.form-control-feedback').removeClass('fa fa-check').addClass('fa fa-times');
		},
		success: function(element) {
			$(element).closest('.form-group').removeClass('has-error').addClass('has-success');
			$(element).parent().parent().children('.form-control-feedback').removeClass('fa fa-times').addClass('fa fa-check');
			$(element).parent().empty()
		},
		submitHandler: function(form) {

			$('#save_payment_button').attr('disabled', true);
			$("#save_payment_button").html('<i class="fa fa-spinner fa-spin"></i>');
			savePayment();

			return false;
		}
	});

	$('#payment_xButton').click(function() {
		$('#payment_client_id').val('');
		$("#payment_full_name").val('');
		$("#payment_full_name").prop('disabled', false);
		$('#payment_xButton').prop('disabled', true);
	});

	$("#payment_full_name").autocomplete({
		source: '/clients_name_suggestion',
		appendTo: '#payment_full_name_suggestions',
		autoFocus: true,
		minLength: 3,
		select: function( event, ui ) {
			event.preventDefault();
			var client = eval("(" + ui.item.value + ")");
			$('#payment_client_id').val(client.id);
			$("#payment_full_name").val(client.first_name+' '+client.last_name)
			$('#payment_xButton').prop('disabled', false);
			$("#payment_full_name").prop('disabled', true);
		}
	}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
		return $( '<li>' ).append( '<a>' + item.label + '<br><span class="auto-desc">' + item.desc + '</span></a>' ).appendTo( ul );
	};

	$("#payment_client_name").autocomplete({
		source: '/clients_name_suggestion',
		appendTo: '#payment_client_suggestions',
		autoFocus: true,
		minLength: 3,
		select: function( event, ui ) {
			event.preventDefault();
			var client = eval("(" + ui.item.value + ")");
			$('#payment_client_id').val(client.id);
			$("#payment_client_name").val(client.first_name+' '+client.last_name);
			$("#payment_client_email").val(client.email);
			//$('#payment_xButton').prop('disabled', false);
			//$("#payment_full_name").prop('disabled', true);
		}
	}).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
		return $( '<li>' ).append( '<a>' + item.label + '<br><span class="auto-desc">' + item.desc + '</span></a>' ).appendTo( ul );
	};

});