function loadServiceCommissions(service_id, filterOption)
{

	$("#serviceCommissionsModalDiv").empty();

	$.getJSON('/service_commissions', {service_id: service_id, filter_option: filterOption}, function (service_commissions) {
	    $.each(service_commissions, function (key, service_commission) {

	    	$("#serviceCommissionsModalTitle").text("Comisiones de " + service_commission.service_name);

	    	if(service_commission.is_percent)
	    	{
		    	$("#serviceCommissionsModalDiv").append(
		    		'<div class="row service-commission-div" service_commission_id="' + service_commission.id + '">' +
		    		'<div class="col-xs-5">' + service_commission.provider_name + '</div>' +
		    		'<div class="col-xs-4"><input type="number" class="form-control service_commission_amount" provider_id="' + service_commission.provider_id + '" value="' + service_commission.amount + '" /></div>' +
		    		'<div class="col-xs-3"><select class="form-control service_commission_is_percent" provider_id="' + service_commission.provider_id + '"><option value="1" selected>%</option><option value="0">$</option></select></div>' +
		    		'</div><div style="clear: both;"></div>'
		    	);
		    }
		    else
		    {
		    	$("#serviceCommissionsModalDiv").append(
		    		'<div class="row service-commission-div" service_commission_id="' + service_commission.id + '">' +
		    		'<div class="col-xs-5">' + service_commission.provider_name + '</div>' +
		    		'<div class="col-xs-4"><input type="number" class="form-control service_commission_amount" provider_id="' + service_commission.provider_id + '" value="' + service_commission.amount + '" /></div>' +
		    		'<div class="col-xs-3"><select class="form-control service_commission_is_percent" provider_id="' + service_commission.provider_id + '"><option value="1">%</option><option value="0" selected>$</option></select></div>' +
		    		'</div><div style="clear: both;"></div>'
		    	);
		    }
	    });
	});

	$("#serviceCommissionsModal").modal('show');

}

function loadProviderCommissions(provider_id, filterOption)
{

	//Test
	$("#serviceCommissionsModalDiv").empty();

	$.getJSON('/provider_commissions', {provider_id: provider_id, filter_option: filterOption}, function (service_commissions) {
	    $.each(service_commissions, function (key, service_commission) {

	    	$("#serviceCommissionsModalTitle").text("Comisiones de " + service_commission.provider_name);

	    	if(service_commission.is_percent)
	    	{
		    	$("#serviceCommissionsModalDiv").append(
		    		'<div class="row service-commission-div" service_commission_id="' + service_commission.id + '">' +
		    		'<div class="col-xs-5">' + service_commission.service_name + '</div>' +
		    		'<div class="col-xs-4"><input type="number" class="form-control service_commission_amount" service_id="' + service_commission.service_id + '" value="' + service_commission.amount + '" /></div>' +
		    		'<div class="col-xs-3"><select class="form-control service_commission_is_percent" service_id="' + service_commission.service_id + '"><option value="1" selected>%</option><option value="0">$</option></select></div>' +
		    		'</div><div style="clear: both;"></div>'
		    	);
		    }
		    else
		    {
		    	$("#serviceCommissionsModalDiv").append(
		    		'<div class="row service-commission-div" service_commission_id="' + service_commission.id + '">' +
		    		'<div class="col-xs-5">' + service_commission.service_name + '</div>' +
		    		'<div class="col-xs-4"><input type="number" class="form-control service_commission_amount" service_id="' + service_commission.service_id + '" value="' + service_commission.amount + '" /></div>' +
		    		'<div class="col-xs-3"><select class="form-control service_commission_is_percent" service_id="' + service_commission.service_id + '"><option value="1">%</option><option value="0" selected>$</option></select></div>' +
		    		'</div><div style="clear: both;"></div>'
		    	);
		    }
	    });
	});

	$("#serviceCommissionsModal").modal('show');
}

function loadDefaultCommissions(service_id)
{

	var comission_option = $('.service_comission_option[service_id="' + service_id + '"]').val();
	var comission_value_str = $('.service_comission_value[service_id="' + service_id + '"]').text().split(" ");

	console.log(comission_value_str);

	if(comission_value_str[0] == "$")
	{
		comission_value = comission_value_str[1];
	}
	else
	{
		comission_value = comission_value_str[0];
	}

	console.log(comission_value);

	$("#defaultCommissionServiceId").val(service_id);
	$("#defaultComissionOption").val(comission_option);
	$("#defaultComissionValue").val(comission_value);

	$("#defaultCommissionsModal").modal('show');

}


function loadProviderDefaultCommissions(provider_id)
{

	$("#defaultCommissionProviderId").val(provider_id);

	$("#providerDefaultCommissionsModal").modal('show');

}

function loadCommissionsContent()
{
	var viewOption = $('#viewOptionsSelect').val();
	var filterOption = $('#filterOptionsSelect').val();
	$.ajax({
		url: '/commissions_content',
		method: 'get',
		data: {viewOption: viewOption, filterOption: filterOption},
		error: function(response){

		},
		success: function(response)
		{
			$('#commissions_content_div').empty();
			$('#commissions_content_div').append(response);
		}
	});
}


$(document).ready(function(){

	loadCommissionsContent();



	$('body').on('change', '#viewOptionsSelect', function(){
		loadCommissionsContent();
	});

	$('body').on('change', '#filterOptionsSelect', function(){
		loadCommissionsContent();
	});

	$("body").on('click', '#saveServiceCommissionsBtn', function(e){
		service_commissions = []

		$(".service-commission-div").each(function(){
			var sc_id = $(this).attr("service_commission_id");
			var amount = $(this).find(".service_commission_amount").val();
			var is_percent = $(this).find(".service_commission_is_percent").val();
			service_commissions.push({
				id: sc_id,
				amount: amount,
				is_percent: is_percent
			});
		});

		var sc_data = JSON.stringify(service_commissions);

		$.ajax({
			url: '/set_commissions',
			type: 'post',
			data: {service_commissions: sc_data},
			dataType: 'json',
			success: function(response){
				if(response[0] == "ok")
				{
					swal("Comisiones guardadas exitosamente.");
				}
				else
				{
					swal("Ocurrió un error al editar las comisiones.");
				}
				$("#serviceCommissionsModalDiv").empty();
				$("#serviceCommissionsModal").modal('hide');
			},
			error: function(){

				swal("Ocurrió un error al editar las comisiones.");
				$("#serviceCommissionsModalDiv").empty();
				$("#serviceCommissionsModal").modal('hide');

			}
		});

	});

	$("body").on('click', '#saveDefaultCommissionsBtn', function(){

		var service_id = $("#defaultCommissionServiceId").val();
		var comission_value = $("#defaultComissionValue").val();
		var comission_option = $("#defaultComissionOption").val();

		$.ajax({
			url: '/set_default_commission',
			type: 'post',
			data: {service_id: service_id, comission_option: comission_option, comission_value: comission_value},
			dataType: 'json',
			success: function(response){

				if(response[0] == "ok")
				{
					$('.service_comission_option[service_id="' + response[1].id + '"]').val(comission_option);
					if(comission_option == "0" || comission_option == 0)
					{
						$('.service_comission_value[service_id="' + response[1].id + '"]').text(comission_value + " %");
					}
					else
					{
						$('.service_comission_value[service_id="' + response[1].id + '"]').text("$ " + comission_value);
					}
					swal("Comisiones actualizadas correctamente.");
				}
				else
				{
					swal("Ocurrió un error al actualizar las comisiones.");
				}
				$("#defaultCommissionServiceId").val("");
				$("#defaultComissionValue").val("");
				$("#defaultComissionOption").val("");
				$("#defaultCommissionsModal").modal('hide');

			},
			error: function(response){
				swal("Ocurrió un error al actualizar las comisiones.");
				$("#defaultCommissionServiceId").val("");
				$("#defaultComissionValue").val("");
				$("#defaultComissionOption").val("");
				$("#defaultCommissionsModal").modal('hide');
			}
		})
	});


	$("body").on('click', '#saveProviderDefaultCommissionsBtn', function(){

		var provider_id = $("#defaultCommissionProviderId").val();
		var amount = $("#providerDefaultAmount").val();
		var is_percent = $("#providerDefaultIsPercent").val();

		$.ajax({
			url: '/set_provider_default_commissions',
			type: 'post',
			data: {provider_id: provider_id, amount: amount, is_percent: is_percent},
			dataType: 'json',
			success: function(response){

				if(response[0] == "ok")
				{
					swal("Comisiones actualizadas correctamente.");
				}
				else
				{
					swal("Ocurrió un error al actualizar las comisiones.");
				}
				$("#defaultCommissionProviderId").val("");
				$("#providerDefaultAmount").val("");
				$("#providerDefaultIsPercent").val("");
				$("#providerDefaultCommissionsModal").modal('hide');

			},
			error: function(response){
				swal("Ocurrió un error al actualizar las comisiones.");
				$("#defaultCommissionProviderId").val("");
				$("#providerDefaultAmount").val("");
				$("#providerDefaultIsPercent").val("");
				$("#providerDefaultCommissionsModal").modal('hide');
			}
		})
	});


});
