/*
* Petty Cash functions
*
*/

function loadPettyCash()
{

  var cashier_code = $("#petty_cash_cashier_code").val();

  $.getJSON('/get_cashier_by_code', {payment_cashier_code: cashier_code }, function (response) {
    if(response[0] != "error")
    {
      $("#petty_cash_cashier_name").val(response[0]['name']);
      $("#petty_cash_cashier_id").val(response[0]['id']);
      $("#pettyCashModalIntro").modal('hide');
      getPettyCash();
    }
    else
    {
      alert("El código de cajero ingresado es incorrecto.");
      $("#petty_cash_cashier_name").val("");
      $("#petty_cash_cashier_id").val("");
    }
  });

}

function getPettyCash()
{
  var location_id = $("#petty_cash_location_id").val();

  $.getJSON('/petty_cash', {location_id: location_id}, function (response) {
    if(response[0] != "error")
    {
      var petty_cash = response[1];
      if(petty_cash.open)
      {
        $("#petty_cash_state").text("Abierta");
        $("#petty_cash_open").val("1");
        $("#petty_cash_cash").text(petty_cash.cash);
        $("#openPettyCashBtn").hide();
        $("#closePettyCashBtn").show();
        $(".pettyCashActions").show();
      }
      else
      {
        $("#petty_cash_state").text("Cerrada");
        $("#petty_cash_open").val("0");
        $("#petty_cash_cash").text(petty_cash.cash);
        $("#openPettyCashBtn").show();
        $("#closePettyCashBtn").hide();
        $(".pettyCashActions").hide();
      }
      $("#petty_cash_id").val(petty_cash.id);

      report_url = "/petty_cash_report.xls?petty_cash_id=" + petty_cash.id + "&start_date=" + $('#petty_cash_start_date').val() + "&end_date=" + $('#petty_cash_end_date').val();

      $('#petty_cash_report_link').attr("href", report_url);
    }
    else
    {
      alert("Ocurrió un error al cargar la caja chica.");
      $("#pettyCashModal").modal('hide');
    }
  });

  $("#pettyCashModal").modal('show');
}

function loadCloseConfigurations()
{
  var location_id = $("#petty_cash_location_id").val();

  $.getJSON('/petty_cash', {location_id: location_id}, function (response) {
    if(response[0] != "error")
    {
      var petty_cash = response[1];
      if(petty_cash.scheduled_close)
      {
        $("#petty_scheduled_close").val("1");
      }
      else
      {
        $("#petty_scheduled_close").val("0");
      }
      if(petty_cash.scheduled_keep_cash)
      {
        $("#petty_scheduled_keep_cash").val("1");
        
        $("#scheduled_cash_div").show();
      }
      else
      {
        $("#petty_scheduled_keep_cash").val("0");
      }
      $("#petty_scheduled_cash").val(petty_cash.scheduled_cash);

      $("#pettyCashModal").modal('hide');
      $("#pettyScheduledCloseModal").modal('show');
    }
    else
    {
      alert("Ocurrió un error al cargar la caja chica.");
    }
  });
}

function saveCloseConfigurations()
{
  var petty_cash_id = $("#petty_cash_id").val();
  var scheduled_close = $("#petty_scheduled_close").val();
  var scheduled_keep_cash = $("#petty_scheduled_keep_cash").val();
  var scheduled_cash = $("#petty_scheduled_cash").val();

  $.ajax({
    url: '/set_petty_cash_close_schedule',
    type: 'post',
    data: {petty_cash_id: petty_cash_id, scheduled_close: scheduled_close, scheduled_keep_cash: scheduled_keep_cash, scheduled_cash: scheduled_cash},
    dataType: 'json',
    error: function(){
      alert("Ocurrió un error inesperado");
      $("#pettyScheduledCloseModal").modal('hide');
      getPettyCash();
    },
    success: function(response){

      if(response[0] == "error")
      {
        alert("Error: " + response[1]);
        $("#pettyScheduledCloseModal").modal('hide');
        getPettyCash();
      }
      else
      {
        alert("Configuración guardada.");
        $("#pettyScheduledCloseModal").modal('hide');
        getPettyCash();
      }

    }
  });

}

/*
* Transactioners for a location are the same as sellers, so just get those.
*/
function loadTransactioners(option, petty_transaction_id)
{
  $("#petty_cash_transactioner").empty();
  $.getJSON('/location_sellers', {id: parseInt($('#petty_cash_location_id').val()) }, function (sellers) {
    
    $.each(sellers, function (key, seller) {
      $("#petty_cash_transactioner").append('<option value="' + seller.id + '_' + seller.seller_type + '">' + seller.full_name + ' (' + seller.role_name + ')</option>');
    });

    if(option == "new")
    {
      $("#is_transaction_edit").val("0");
      $("#petty_transaction_id").val("0");
      $("#petty_transaction_is_income").val("1");
      $("#petty_transaction_receipt_number_div").hide();
      $("#petty_transaction_receipt_number").val("");
      $("#petty_transaction_amount").val("0.0");
      $("#petty_transaction_notes").val("");
      $("#pettyCashModal").modal('hide');
      $("#addPettyTransactionModal").modal('show');
    }
    else
    {
      $("#is_transaction_edit").val("1");
      $("#petty_transaction_id").val(petty_transaction_id);
      $.getJSON('/petty_transaction', {petty_transaction_id: petty_transaction_id}, function (petty_transaction) {
        if(petty_transaction.is_income)
        {
          $("#petty_transaction_is_income").val("1");
          $("#petty_transaction_receipt_number_div").hide();
        }
        else
        {
          $("#petty_transaction_is_income").val("0");
          $("#petty_transaction_receipt_number_div").show();
        }
        $("#petty_transaction_amount").val(petty_transaction.amount);
        $("#petty_transaction_notes").val(petty_transaction.notes);
        $("#petty_transaction_receipt_number").val(petty_transaction.receipt_number);
        var petty_transactioner = petty_transaction.transactioner_id + '_' + petty_transaction.transactioner_type;
        $("#petty_cash_transactioner").val(petty_transactioner);
        $("#pettyTransactionsSummaryModal").modal('hide');
        $("#pettyCashModal").modal('hide');
        $("#addPettyTransactionModal").modal('show');
      });
      
    }

    clearValidations("#petty_transaction_amount");
    clearValidations("#petty_transaction_notes");
    clearValidations("#petty_transaction_receipt_number");
    

  });
}

function newTransaction()
{
  loadTransactioners("new", 0);
  
}

function editTransaction(petty_transaction_id)
{
  loadTransactioners("edit", petty_transaction_id);
}

function saveTransaction()
{

  if(!$('#addPettyTransactionForm').valid())
  {
    return;
  }

  var petty_cash_id = $("#petty_cash_id").val();
  var amount = $("#petty_transaction_amount").val();
  var notes = $("#petty_transaction_notes").val();
  var transactioner = $("#petty_cash_transactioner").val();
  var is_income = $("#petty_transaction_is_income").val();
  var petty_transaction_id = $("#petty_transaction_id").val();
  var is_transaction_edit = $("#is_transaction_edit").val();
  var receipt_number = $("#petty_transaction_receipt_number").val();

  $.ajax({
    url: '/add_petty_transaction',
    type: 'post',
    data: {petty_cash_id: petty_cash_id, amount: amount, transactioner: transactioner, notes: notes, is_income: is_income, petty_transaction_id: petty_transaction_id, receipt_number: receipt_number},
    dataType: 'json',
    error: function(){
      alert("Ocurrió un error inesperado");
      $("#pettyTransactionModal").modal('hide');
      $("#pettyCashModal").modal('show');
    },
    success: function(response){

      if(response[0] == "error")
      {
        alert("Error: " + response[1]);
      }
      else
      {
        alert("Transacción guardada.");
      }

      $("#addPettyTransactionModal").modal('hide');
      if(is_transaction_edit == "0")
      {
        getPettyCash();
      }
      else
      {
        loadTransactions();
      }

    }
  });
}

function deleteTransaction(petty_transaction_id)
{
  $.ajax({
    url: '/delete_petty_transaction',
    type: 'post',
    data: {petty_transaction_id: petty_transaction_id},
    dataType: 'json',
    error: function(){
      alert("Ocurrió un error inesperado");
      $("#pettyTransactionModal").modal('hide');
      $("#pettyCashModal").modal('show');
    },
    success: function(response){

      if(response[0] == "error")
      {
        alert("Error: " + response[1]);
      }
      else
      {
        alert("Transacción eliminada correctamente.");
      }

      $("#addPettyTransactionModal").modal('hide');
      loadTransactions();

    }
  });
}

function loadTransactions()
{
  var petty_cash_id = $("#petty_cash_id").val();
  var start_date = $("#petty_cash_start_date").val();
  var end_date = $("#petty_cash_end_date").val();
  $(".pettyTransactionsRow").remove();
  $.getJSON('/petty_transactions', {petty_cash_id: petty_cash_id, start_date: start_date, end_date: end_date}, function (petty_transactions) {
    $.each(petty_transactions, function (key, petty_transaction) {
      var trans_type = "Ingreso";
      var petty_options = '<td>Transferencia cerrada</td>'
      if(!petty_transaction.is_income)
      {
        trans_type = "Retiro";
      }
      if(petty_transaction.open)
      {
        petty_options = '<td><button type="button" class="transaction_btn_edit btn btn-default" petty_transaction_id="' + petty_transaction.id + '">Editar</button>';
      }
      $("#pettyTransactionsTable").append(
        '<tr class="pettyTransactionsRow">' +
        '<td>' + trans_type + '</td>' +
        '<td>' + petty_transaction.amount + '</td>' +
        '<td>' + petty_transaction.date + '</td>' +
        '<td>' + petty_transaction.transactioner + '</td>' +
        '<td>' + petty_transaction.notes + '</td>' +
        '<td>' + petty_transaction.receipt_number + '</td>' +
        petty_options +
        '</tr>'
      );
    });

    $("#pettyCashModal").modal('hide');
    $("#pettyTransactionsSummaryModal").modal('show');

  });
}

function loadOpenClose(option)
{

  var location_id = $("#petty_cash_location_id").val();

  $.getJSON('/petty_cash', {location_id: location_id}, function (response) {
    if(response[0] != "error")
    {
      var petty_cash = response[1];
      if(option == "open")
      {
        $("#openCloseOption").val("open");
      }
      else
      {
        $("#openCloseOption").val("close"); 
      }
      $("#openCloseCurrentCash").text(petty_cash.cash);
      $("#petty_new_cash").val(petty_cash.cash);
      $("#pettyCashModal").modal('hide');
      $("#pettyOpenCloseModal").modal('show');
    }
    else
    {
      alert("Ocurrió un error al cargar la caja chica.");
      $("#pettyCashModal").modal('hide');
    }
  });
}

function openClosePettyCash()
{
  var petty_cash_id = $("#petty_cash_id").val();
  var new_cash = $("#petty_new_cash").val();
  var option = $("#openCloseOption").val();
  var transactioner = $("#petty_cash_cashier_id").val() + '_2';

  $.ajax({
    url: '/open_close_petty_cash',
    type: 'post',
    data: {petty_cash_id: petty_cash_id, new_cash: new_cash, option: option, transactioner: transactioner},
    dataType: 'json',
    error: function(response){
      alert("Ocurrió un error al editar la caja.");
    },
    success: function(response){
      if(response[0] == "ok")
      {
        if(option == "open")
        {
          alert("Caja abierta correctamente.");
        }
        else
        {
          alert("Caja cerrada correctamente.");
        }
      }
      else
      {
        alert("Ocurrió un error al editar la caja.");
      }
      $("#pettyOpenCloseModal").modal('hide');
      getPettyCash();
    }
  });

}

$(function() {

  $("#petty_cash_start_date").datepicker({
    dateFormat: 'dd/mm/yy',
    autoSize: true,
    firstDay: 1,
    changeMonth: true,
    changeYear: true,
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: ''
  });

  $("#petty_cash_end_date").datepicker({
    dateFormat: 'dd/mm/yy',
    autoSize: true,
    firstDay: 1,
    changeMonth: true,
    changeYear: true,
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: ''
  });

  $('#petty_cash_start_date').on('change', function(){
    report_url = "/petty_cash_report.xls?petty_cash_id=" + $('#petty_cash_id').val() + "&start_date=" + $('#petty_cash_start_date').val() + "&end_date=" + $('#petty_cash_end_date').val();

    $('#petty_cash_report_link').attr("href", report_url);
  });

  $('#petty_cash_end_date').on('change', function(){
    report_url = "/petty_cash_report.xls?petty_cash_id=" + $('#petty_cash_id').val() + "&start_date=" + $('#petty_cash_start_date').val() + "&end_date=" + $('#petty_cash_end_date').val();

    $('#petty_cash_report_link').attr("href", report_url);
  });

  /*
  * Petty Cash
  */

  $("#pettyCashBtn").on('click', function(){
    $("#petty_cash_cashier_code").val("");
    $("#petty_cash_cashier_id").val("");
    $("#petty_cash_cashier_name").val("");
    $("#pettyCashModalIntro").modal('show');
  });

  $("#petty_cash_cashier_code").on('focusout', function(){

    var cashier_code = $(this).val();

    $.getJSON('/get_cashier_by_code', {payment_cashier_code: cashier_code }, function (response) {
      if(response[0] != "error")
      {
        $("#petty_cash_cashier_name").val(response[0]['name']);
        $("#petty_cash_cashier_id").val(response[0]['id']);
      }
      else
      {
        alert("El código de cajero ingresado es incorrecto.");
        $("#petty_cash_cashier_name").val("");
        $("#petty_cash_cashier_id").val("");
      }
    });
    
  });

  $("#pettyCashIntroBtn").on('click', function(){
    loadPettyCash();
  });

  $("#addPettyTransactionBtn").on('click', function(){
    newTransaction();
  });

  $("#pettyTransactionSaveBtn").on('click', function(){
    saveTransaction();
  });

  $("#pettyTransactionSummaryBtn").on('click', function(){
    loadTransactions();
  });

  $(".btn-petty-semi-close").on('click', function(){
    $(this).closest('.modal').modal('hide');
    getPettyCash();
  });

  $('body').on('click', '.transaction_btn_edit', function(){
    editTransaction($(this).attr("petty_transaction_id"));
  });

  $('body').on('click', '.transaction_btn_delete', function(){
    deleteTransaction($(this).attr("petty_transaction_id"));
  });

  $("#openPettyCashBtn").on('click', function(){
    loadOpenClose("open");
  });

  $("#closePettyCashBtn").on('click', function(){
    loadOpenClose("close");
  });

  $("#pettyOpenCloseSaveBtn").on('click', function(){
    openClosePettyCash();
  });

  $("#configureCloseBtn").on('click', function(){
    loadCloseConfigurations();
  });

  $("#petty_scheduled_keep_cash").on('change', function(){
    if($(this).val() == "0")
    {
      $("#scheduled_cash_div").show();
    }
    else
    {
      $("#scheduled_cash_div").hide();
    }
  });

  $("#pettyScheduledCloseSaveBtn").on('click', function(){
    saveCloseConfigurations();
  });

  $('#petty_transaction_is_income').on('change', function(){
    if($(this).val() == "1")
    {
      $('#petty_transaction_receipt_number_div').hide();
    }
    else
    {
      $('#petty_transaction_receipt_number_div').show();
    }
  });

});