var location_type = "all";

function loadStats()
{
	var location_ids = [];
	$('#render_content').empty();

	$("#location-select option").each(function(){
		if ($(this).is(':selected'))
		{
		  	provider_ids.push($(this).val());
		}
	});

	if(provider_ids.length == 0)
	{
		return;
	}
}

function changeLocations()
{
	console.log("Changed ");
	console.log("location_type: " + location_type);
	if(location_type == "active")
	{
		$('#location-select option.inactive').hide();
		$('#location-select option.active').show();
	}
	else if(location_type == "inactive")
	{
		$('#location-select option.active').hide();
		$('#location-select option.inactive').show();
	}
	else
	{
		$('#location-select option.active').show();
		$('#location-select option.inactive').show();
	}
}

$(function(){

	$('#location-type-select').on('change', function(){
		location_type = $(this).val();
		
	});

	$('#getStatsBtn').on('click', function(){
		
		$.ajax({
			url: 'locations_products_stats',
			method: 'get',
			error: function(response){

			},
			success: function(response){

			}
		});
	});

	$('#location-select').multiselect({
	    includeSelectAllOption: true,
	    selectAllText: 'Todos',
	    buttonContainer: '<div style="min-width: 200px;"></div>',
	    buttonText: function(options, select) {

	      	if (options.length === 0) {
	        	return 'Ninguno';
	      	}
	      	else if(options.length == select[0].length)
	      	{
	        	return "Todos";
	      	}
	      	else if(options.length > 2)
	      	{
	        	return options.length + " seleccionados";
	      	}
	      	else {
	        	var labels = [];
	        	options.each(function() {
	           		if ($(this).attr('label') !== undefined) {
	               		labels.push($(this).attr('label'));
	           		}
	           		else {
	               		labels.push($(this).html());
	           		}
	        	});
	        	return labels.join(', ') + '';
	      	}
	    },
	    onChange: function(option, checked, select){

	    },
	    onInitialized: function(select, container){
	    	$('#location-select').show();
	    }
	});

});