var location_type = "all";

function loadHistory()
{
  var location_ids = [];
  var product_ids = [];
  $('#render_content').empty();
  $('#summaries_div').hide();
  $('#download_stats_btn').hide();

  $("#location-select option").each(function(){
    if ($(this).is(':selected'))
    {
        location_ids.push($(this).val());
    }
  });

  if(location_ids.length == 0)
  {
    return;
  }

  $("#product-select option").each(function(){
    if ($(this).is(':selected'))
    {
        product_ids.push($(this).val());
    }
  });

  if(product_ids.length == 0)
  {
    return;
  }

  var date_from = $('#from').val();
  var date_to = $('#to').val();
  var order = $('#order-select').val();

  $.ajax({
    url: '/product_logs_history',
    method: 'get',
    data: {location_ids: location_ids, product_ids: product_ids, from: date_from, to: date_to, order: order},
    error: function(response){
      $('#render_content').empty();
      $('#download_stats_btn').hide();
    },
    success: function(response){
      $('#render_content').empty();
      $('#render_content').append(response);
      $('#download_stats_btn').show();
    }
  });
}

function loadProducts()
{
  //categories_products
  var categories_ids = [];
  $("#category-select option").each(function(){
    if ($(this).is(':selected'))
    {
        categories_ids.push($(this).val());
    }
  });

  if(categories_ids.length == 0)
  {
    return;
  }

  $('#product-select option').remove();

  $.ajax({
    url: '/categories_products',
    method: 'get',
    data: {categories_ids: categories_ids},
    error: function(response){

    },
    success: function(response){
      $('#product-select option').remove();
      $.each(response, function (key, product) {
        $('#product-select').append('<option value="' + product.id + '">' + product.name + '</option>');
      });
      $('#product-select').multiselect('rebuild');
    }
  })

}

function changeLocations()
{
  console.log("Changed ");
  console.log("location_type: " + location_type);
  if(location_type == "active")
  {
    $('#location-select option.inactive').each(function(){
      $('.location-option input[value="' + $(this).val() + '"]').closest('li').hide();
      $('.location-option input[value="' + $(this).val() + '"]').prop('checked', false);
    });
    $('#location-select option.active').each(function(){
      $('.location-option input[value="' + $(this).val() + '"]').closest('li').show();
    });
  }
  else if(location_type == "inactive")
  {
    $('#location-select option.inactive').each(function(){
      $('.location-option input[value="' + $(this).val() + '"]').closest('li').show();
    });
    $('#location-select option.active').each(function(){
      $('.location-option input[value="' + $(this).val() + '"]').closest('li').hide();
      $('.location-option input[value="' + $(this).val() + '"]').prop('checked', false);
    });
  }
  else
  {
    $('.location-option').closest('li').show();
  }
}

$(function(){

  $('#location-type-select').on('change', function(){
    location_type = $(this).val();
    changeLocations();
  });

  $('#order-select').on('change', function(){
    loadHistory();
  });

  $('#from').on('change', function(){
    loadHistory();
  });

  $('#to').on('change', function(){
    loadHistory();
  });

  $('#location-select').multiselect({
      includeSelectAllOption: true,
      selectAllText: 'Todos',
      buttonContainer: '<div style="min-width: 200px;"></div>',
      templates: {
        li: '<li class="location-option"><a><label></label></a></li>'
      },
      buttonText: function(options, select) {

          if (options.length === 0) {
            return 'Ninguno';
          }
          else if(options.length == select[0].length)
          {
            return "Todos";
          }
          else if(options.length > 2)
          {
            return options.length + " seleccionados";
          }
          else {
            var labels = [];
            options.each(function() {
                if ($(this).attr('label') !== undefined) {
                    labels.push($(this).attr('label'));
                }
                else {
                    labels.push($(this).html());
                }
            });
            return labels.join(', ') + '';
          }
      },
      optionClass: function(element){
        return 'location-option';
      },
      onChange: function(option, checked, select){
        loadHistory();
      },
      onInitialized: function(select, container){
        $('#location-select').show();
      }
  });

  $('#category-select').multiselect({
      includeSelectAllOption: true,
      selectAllText: 'Todos',
      buttonContainer: '<div style="min-width: 200px;"></div>',
      buttonText: function(options, select) {

          if (options.length === 0) {
            return 'Ninguno';
          }
          else if(options.length == select[0].length)
          {
            return "Todos";
          }
          else if(options.length > 2)
          {
            return options.length + " seleccionados";
          }
          else {
            var labels = [];
            options.each(function() {
                if ($(this).attr('label') !== undefined) {
                    labels.push($(this).attr('label'));
                }
                else {
                    labels.push($(this).html());
                }
            });
            return labels.join(', ') + '';
          }
      },
      optionClass: function(element){
        return 'location-option';
      },
      onChange: function(option, checked, select){
        loadProducts();
      },
      onInitialized: function(select, container){
        $('#category-select').show();
      }
  });

  $('#product-select').multiselect({
      includeSelectAllOption: true,
      selectAllText: 'Todos',
      buttonContainer: '<div style="min-width: 200px;"></div>',
      buttonText: function(options, select) {

          if (options.length === 0) {
            return 'Ninguno';
          }
          else if(options.length == select[0].length)
          {
            return "Todos";
          }
          else if(options.length > 2)
          {
            return options.length + " seleccionados";
          }
          else {
            var labels = [];
            options.each(function() {
                if ($(this).attr('label') !== undefined) {
                    labels.push($(this).attr('label'));
                }
                else {
                    labels.push($(this).html());
                }
            });
            return labels.join(', ') + '';
          }
      },
      optionClass: function(element){
        return 'location-option';
      },
      onChange: function(option, checked, select){
        loadHistory();
      },
      onInitialized: function(select, container){
        $('#product-select').show();
      }
  });

  $(".datepicker").datepicker({
    dateFormat: 'dd/mm/yy',
    autoSize: true,
    firstDay: 1,
    changeMonth: true,
    changeYear: true,
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        prevText: 'Atrás',
        nextText: 'Adelante',
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
        today: 'Hoy',
        clear: ''
  });

});
