
function buildDay (divId, value) {
	$('#'+divId).empty();
	$('#'+divId).append('<input type="checkbox" name="dayStatus'+ value +'" id="dayStatusId'+ value +'" value="0" onchange="changeDayStatus('+ value +')" class="dayCheckbox">  Apertura: '+
	'<select id="openHourId'+ value +'" name="openHour'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="01">01</option>'+
		'<option value="02">02</option>'+
		'<option value="03">03</option>'+
		'<option value="04">04</option>'+
		'<option value="05">05</option>'+
		'<option value="06">06</option>'+
		'<option value="07">07</option>'+
		'<option value="08">08</option>'+
		'<option value="09">09</option>'+
		'<option value="10">10</option>'+
		'<option value="11">11</option>'+
		'<option value="12">12</option>'+
		'<option value="13">13</option>'+
		'<option value="14">14</option>'+
		'<option value="15">15</option>'+
		'<option value="16">16</option>'+
		'<option value="17">17</option>'+
		'<option value="18">18</option>'+
		'<option value="19">19</option>'+
		'<option value="20">20</option>'+
		'<option value="21">21</option>'+
		'<option value="22">22</option>'+
		'<option value="23">23</option>'+
	'</select>'+
	 ': <select id="openMinuteId'+ value +'" name="openMinute'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="15">15</option>'+
		'<option value="30">30</option>'+
		'<option value="45">45</option>'+
	'</select>'+
	' - Cierre: <select id="closeHourId'+ value +'" name="closeHour'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="01">01</option>'+
		'<option value="02">02</option>'+
		'<option value="03">03</option>'+
		'<option value="04">04</option>'+
		'<option value="05">05</option>'+
		'<option value="06">06</option>'+
		'<option value="07">07</option>'+
		'<option value="08">08</option>'+
		'<option value="09">09</option>'+
		'<option value="10">10</option>'+
		'<option value="11">11</option>'+
		'<option value="12">12</option>'+
		'<option value="13">13</option>'+
		'<option value="14">14</option>'+
		'<option value="15">15</option>'+
		'<option value="16">16</option>'+
		'<option value="17">17</option>'+
		'<option value="18">18</option>'+
		'<option value="19">19</option>'+
		'<option value="20">20</option>'+
		'<option value="21">21</option>'+
		'<option value="22">22</option>'+
		'<option value="23">23</option>'+
	'</select>'+
	' : <select id="closeMinuteId'+ value +'" name="closeMinute'+ value +'" disabled="disabled">'+
		'<option value="00">00</option>'+
		'<option value="15">15</option>'+
		'<option value="30">30</option>'+
		'<option value="45">45</option>'+
	'</select>'+
  '</div>');
}

function initialize() {
	buildDay('div1',1);
	buildDay('div2',2);
	buildDay('div3',3);
	buildDay('div4',4);
	buildDay('div5',5);
	buildDay('div6',6);
	buildDay('div7',7);

	if ( $('#title').length > 0 ) {
		var providerTimesData = $('#provider_times_data').data('provider-times');
		$.each(providerTimesData, function(index,providerTime) {
			var value = providerTime.day_id;
			$('#dayStatusId'+ value).prop('checked', true);
			$('#dayStatusId'+ value).val(1);

			$('#openHourId'+ value).prop('disabled', false);
			$('#openMinuteId'+ value).prop('disabled', false);
			$('#closeHourId'+ value).prop('disabled', false);
			$('#closeMinuteId'+ value).prop('disabled', false);

			var openTime = new Date(Date.parse(providerTime.open)).toUTCString().split(" ")[4].split(":");
			var closeTime = new Date(Date.parse(providerTime.close)).toUTCString().split(" ")[4].split(":");

			$('#openHourId'+ value +' option[value="'+openTime[0]+'"]').attr("selected",true);
			$('#openMinuteId'+ value +' option[value="'+openTime[1]+'"]').attr("selected",true);
			$('#closeHourId'+ value +' option[value="'+closeTime[0]+'"]').attr("selected",true);
			$('#closeMinuteId'+ value +' option[value="'+closeTime[1]+'"]').attr("selected",true);
		});
	}
}

function changeDayStatus(value) {
	if ($('#dayStatusId'+ value).val() == 0) {
		$('#openHourId'+ value).prop('disabled', false);
		$('#openMinuteId'+ value).prop('disabled', false);
		$('#closeHourId'+ value).prop('disabled', false);
		$('#closeMinuteId'+ value).prop('disabled', false);
		$('#dayStatusId'+ value).val(1);
	}
	else if ($('#dayStatusId'+ value).val() == 1) {
		$('#openHourId'+ value).prop('disabled', true);
		$('#openMinuteId'+ value).prop('disabled', true);
		$('#closeHourId'+ value).prop('disabled', true);
		$('#closeMinuteId'+ value).prop('disabled', true);
		$('#dayStatusId'+ value).val(0);
	}
}

function createProvider() {
	var enabledDays = [];
	$(".dayCheckbox").each( function() {
		if ($( this ).val() == 1) {
			enabledDays.push($(this).attr('id').slice(-1));
		}
	});
	var enabledServices = [];
	$("input.check_boxes").each( function() {
		if ($(this).prop('checked')) {
			enabledServices.push($.parseJSON(parseInt($(this).val())));
		}
	});
	var provider_times = [];
	for (i in enabledDays) {
		var provider_time = {"open":"2000-01-01T"+ $('#openHourId'+enabledDays[i]).val() +":"+ $('#openMinuteId'+enabledDays[i]).val() +":00Z","close":"2000-01-01T"+ $('#closeHourId'+enabledDays[i]).val() +":"+ $('#closeMinuteId'+enabledDays[i]).val() +":00Z","day_id":parseInt(enabledDays[i])};
		provider_times.push(provider_time);
	}
	var providerJSON  = { "public_name": $('#service_provider_public_name').val(), "notification_email": $('#service_provider_notification_email').val(),"location_id": parseInt($('#service_provider_location_id').val()), "user_id": parseInt($('#service_provider_user_id').val()), "service_ids": enabledServices, "provider_times_attributes": provider_times, "user_attributes": { "email": $('#service_provider_user_attributes_email').val() } };
	$.ajax({
	    type: "POST",
	    url: '/service_providers.json',
	    data: { "service_provider": providerJSON },
	    dataType: 'json',
	    success: function(){
	    	document.location.href = '/service_providers/';
		},
		error: function(xhr){
		    var errors = $.parseJSON(xhr.responseText).errors;
		    for (i in errors) {
		    	alert(errors[i]);
		    }
		    // do something with errors
		}
	});
}

function updateProvider() {
	var enabledDays = [];
	$("input.dayCheckbox").each( function() {
		if ($( this ).val() == 1) {
			enabledDays.push($(this).attr('id').slice(-1));
		}
	});
	var enabledServices = [];
	$("input.check_boxes").each( function() {
		if ($(this).prop('checked')) {
			enabledServices.push($.parseJSON($(this).val()));
		}
	});
	var provider_times = [];
	for (i in enabledDays) {
		var provider_time = {"open":"2000-01-01T"+ $('#openHourId'+enabledDays[i]).val() +":"+ $('#openMinuteId'+enabledDays[i]).val() +":00Z","close":"2000-01-01T"+ $('#closeHourId'+enabledDays[i]).val() +":"+ $('#closeMinuteId'+enabledDays[i]).val() +":00Z","day_id":parseInt(enabledDays[i])};
		provider_times.push(provider_time);
	}
	var providerJSON  = { "public_name": $('#service_provider_public_name').val(), "notification_email": $('#service_provider_notification_email').val(),"location_id": parseInt($('#service_provider_location_id').val()), "user_id": parseInt($('#service_provider_user_id').val()), "service_ids": enabledServices, "provider_times_attributes": provider_times, "user_attributes": { "email": $('#service_provider_user_attributes_email').val() } };
	var providerId = $('#id_data').data('id');
	$.ajax({
	    type: "PATCH",
	    url: ' /service_providers/'+ JSON.stringify(providerId) +'.json',
	    data: { "service_provider": providerJSON },
	    dataType: 'json',
	    success: function(){
	    	document.location.href = '/service_providers/';
		},
		error: function(xhr){
		    var errors = $.parseJSON(xhr.responseText).errors;
		    for (i in errors) {
		    	alert(errors[i]);
		    }
		    // do something with errors
		}
	});
}

function userChange() {
	if ($('#userCheckboxId').val() == 1) {
		$('#userCheckboxId').val(0);
		$('#service_provider_user_id').prop('disabled', false);
		$('#service_provider_user_attributes_email').val('');
		$('#service_provider_user_attributes_email').prop('disabled', true);
	}
	else if ($('#userCheckboxId').val() == 0) {
		$('#userCheckboxId').val(1);
		$('#service_provider_user_attributes_email').prop('disabled', false);
		$('#service_provider_user_id').val('');
		$('#service_provider_user_id').prop('disabled', true);
	}
}

$(function() {
	$('#service_provider_user_attributes_email').val('');
	$('#service_provider_user_attributes_email').prop('disabled', true);
  initialize();
});