function loadProvidersReport()
{
	var provider_ids = []

	if($('[name="person_type"]:checked').val() != "service_provider")
	{
		return;
	}

	$("#serviceProvidersMultiSelect option").each(function(){
		if ($(this).is(':selected'))
		{
		  	provider_ids.push($(this).val());
		}
	});

	if(provider_ids.length == 0)
	{
		return;
	}

	$.ajax({
		url: 'service_providers_report',
		data: {service_provider_ids: provider_ids, from: $("#reports_start").val(), to: $("#reports_end").val()},
		type: 'get',
		error: function(response){
		  	alert("Error");
		},
		success: function(response){
		  	$('#render_content').empty();
		  	$('#render_content').append(response);
		}
	});
}

$(document).ready(function(){


	$("#reports_start").datepicker({
	    dateFormat: 'dd/mm/yy',
	    autoSize: true,
	    changeYear: true,
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
	    prevText: 'Atrás',
	    nextText: 'Adelante',
	    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
	    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
	    today: 'Hoy',
	    clear: '',
	    defaultDate: "+1w",
	    changeMonth: true,
	    numberOfMonths: 3,
	    firstDay: 1,
	    onClose: function( selectedDate ) {
	      //$("#reports_start").datepicker( "option", "minDate", selectedDate );
	    }
	});
	$("#reports_end").datepicker({
	    dateFormat: 'dd/mm/yy',
	    autoSize: true,
	    changeYear: true,
	    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
	    prevText: 'Atrás',
	    nextText: 'Adelante',
	    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
	    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
	    dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
	    today: 'Hoy',
	    clear: '',
	    defaultDate: "+1w",
	    changeMonth: true,
	    numberOfMonths: 3,
	    firstDay: 1,
	    onClose: function( selectedDate ) {
	      //$( "#reports_end" ).datepicker( "option", "maxDate", selectedDate );
	    }
	});

	$('#reports_start').on('change', function(){
		loadProvidersReport();
	});

	$('#reports_end').on('change', function(){
		loadProvidersReport();
	});


	$('#serviceProvidersMultiSelect').multiselect({
	    includeSelectAllOption: true,
	    selectAllText: 'Todos',
	    buttonContainer: '<div style="margin-top: 8px;"></div>',
	    buttonText: function(options, select) {
	      	console.log(select);
	      	if (options.length === 0) {
	        	return 'Ninguno';
	      	}
	      	else if(options.length == select[0].length)
	      	{
	        	return "Todos";
	      	}
	      	else if(options.length > 3)
	      	{
	        	return options.length + " seleccionados";
	      	}
	      	else {
	        	var labels = [];
	        	options.each(function() {
	           		if ($(this).attr('label') !== undefined) {
	               		labels.push($(this).attr('label'));
	           		}
	           		else {
	               		labels.push($(this).html());
	           		}
	        	});
	        	return labels.join(', ') + '';
	      	}
	    },
	    onChange: function(option, checked, select){
	    	loadProvidersReport();
	    }
	});

	$('#usersMultiSelect').multiselect({
	    includeSelectAllOption: true,
	    selectAllText: 'Todos',
	    buttonContainer: '<div style="margin-top: 8px;"></div>',
	    buttonText: function(options, select) {
	      	console.log(select);
	      	if (options.length === 0) {
	        	return 'Ninguno';
	      	}
	      	else if(options.length == select[0].length)
	      	{
	        	return "Todos";
	      	}
	      	else if(options.length > 3)
	      	{
	        	return options.length + " seleccionados";
	      	}
	      	else {
	        	var labels = [];
	        	options.each(function() {
	           		if ($(this).attr('label') !== undefined) {
	               		labels.push($(this).attr('label'));
	           		}
	           		else {
	               		labels.push($(this).html());
	           		}
	        	});
	        	return labels.join(', ') + '';
	      	}
	    },
	    onChange: function(option, checked, select){
	    	
	    }
	});

	$('#cashiersMultiSelect').multiselect({
	    includeSelectAllOption: true,
	    selectAllText: 'Todos',
	    buttonContainer: '<div style="margin-top: 8px;"></div>',
	    buttonText: function(options, select) {
	      	console.log(select);
	      	if (options.length === 0) {
	        	return 'Ninguno';
	      	}
	      	else if(options.length == select[0].length)
	      	{
	        	return "Todos";
	      	}
	      	else if(options.length > 3)
	      	{
	        	return options.length + " seleccionados";
	      	}
	      	else {
	        	var labels = [];
	        	options.each(function() {
	           		if ($(this).attr('label') !== undefined) {
	               		labels.push($(this).attr('label'));
	           		}
	           		else {
	               		labels.push($(this).html());
	           		}
	        	});
	        	return labels.join(', ') + '';
	      	}
	    },
	    onChange: function(option, checked, select){
	    	
	    }
	});

});